<!-- =====================
    Vertical
		partial "type/vertical.html" (dict "text" "Vertical <br/>heading" "number" 1 "line" true)
		- text:		The content of the quote.
		- number:	A optional number associated with the text.
		- line:
    ===================== -->
<div class="vertical {{ with .number }} vertical-with-number {{- end }}">
	<!-- Wrapper -->
	<span class="vertical-wrapper">
		<!-- Number -->
		{{ with .number }}
			<span class="vertical-number heading-2 type-serif">
				{{ . | safeHTML }}*
			</span>
		{{- end }}
		<!-- Text -->
        {{ with .text -}}
			<span class="vertical-text heading-1">
				{{ . | safeHTML }}
			</span>
        {{- end }}
	</span><!-- /Wrapper -->
	<!-- Line -->
	{{ if .line -}}
		<span class="vertical-line"></span>
	{{- end }}
</div>
