{{ define "main" }}
	<!-- =====================
		Work - Single
		===================== -->
	<div class="container">
		<div class="row">
			<!-- =====================
				Meta
				===================== -->
			<div class="col-12 col-desk-6">
				<!-- Link -->
                {{ with .Params.link }}
					<div>
						<h3>Link:</h3>
						<a href="{{ . }}" target="_blank">{{ . }}</a>
					</div>
                {{ end }}<!-- /Role -->
				<!-- Role -->
                {{ with .Params.role }}
					<div>
						<h3>Role:</h3>
						<p>{{ . }}</p>
					</div>
                {{ end }}<!-- /Role -->
				<!-- Strategies -->
                {{ with .Params.strategies }}
					<div>
						<h3>Strategies:</h3>
						<p>{{ delimit . ", " }}</p>
					</div>
                {{ end }}<!-- /Strategies -->
				<!-- Technologies -->
                {{ with .Params.technologies }}
					<div>
						<h3>Technologies:</h3>
						<p>{{ delimit . ", " }}</p>
					</div>
                {{ end }}<!-- /Technologies -->
			</div><!-- /Col -->
			<!-- =====================
				Content
				===================== -->
			<div class="col-12 col-desk-6">
                {{ .Content }}
			</div>
		</div><!-- /Row -->
	</div><!-- /Container -->
{{ end }}
