// -----------------------------------------------------------------------------
// _map.scss
// This file contains all styles related to the Google Map.
// -----------------------------------------------------------------------------

.map {
	$self: &;

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;

	// Wrapper
	// =========================================================================

	&-wrapper {
		position: relative;
		display: flex;
		align-items: center;
		width: 100vw;
		height: 40vh;

		.row {
			width: auto;
			background-color: pink;
		}
	}

	// Info
	// =========================================================================

	&-info {
		position: relative;
		background-color: $black;
		padding: 3rem 2rem;
		border-radius: 8px;
		width: 340px;
		user-select: none;
		z-index: 2;

		address {
			font-style: normal;
		}
	}
}
