<!-- =====================
	Breadcrumbs
	===================== -->
<nav class="breadcrumbs" aria-label="breadcrumb">
	<ul class="breadcrumbs-list"
		itemscope itemtype="https://schema.org/BreadcrumbList">
		<!-- Home -->
		<li class="breadcrumbs-item"
			itemprop="itemListElement" itemscope
			itemtype="https://schema.org/ListItem">
			<!-- Link -->
			<a class="breadcrumbs-link" href="/" itemprop="item">
				<span itemprop="name">
					Home
				</span>
				<meta itemprop="position" content="1" />
			</a><!-- /Link -->
		</li>
		<!-- Title -->
		{{ define "partials/breadcrumbs-title.html" -}}
            {{ $title := .Title }}
            {{ if isset .Params "breadcrumbs" }}
                {{ $title = .Params.breadcrumbs }}
            {{ end }}
			{{ return $title }}
		{{- end }}
		<!-- Path -->
        {{ define "partials/breadcrumbs-item.html" -}}
			<li class="breadcrumbs-item {{ if .current }} breadcrumbs-active {{- end }}"
				itemprop="itemListElement" itemscope
				itemtype="https://schema.org/ListItem"
                    {{ if .current }} aria-current="page" {{ end }}>
				<!-- Link -->
				<a class="breadcrumbs-link" href="{{ .link }}" itemprop="item">
					<span itemprop="name">
						 {{ .title }}
					</span>
					<meta itemprop="position" content="{{ .index }}" />
				</a><!-- /Link -->
			</li><!-- /Item -->
		{{- end }}
		{{ $index := 0 }}
		{{- range .Ancestors.Reverse }}
			{{ if not (eq .RelPermalink "/") }}
				{{ $title := .Title }}
				{{ if ne .Params.breadcrumb "" }}
					{{ $title = .Params.breadcrumbs }}
				{{ end }}
				{{ partial "partials/breadcrumbs-item.html" (dict
					"title" (partial "partials/breadcrumbs-title.html" .)
					"link" .RelPermalink
					"index" $index
				)}}
			{{ end }}
			{{ $index = (add $index 1)}}
		{{ end }}
		{{ partial "partials/breadcrumbs-item.html" (dict
			"title"  (partial "partials/breadcrumbs-title.html" $)
			"link" .RelPermalink
			"index" $index
		)}}
	</ul>
</nav>
