<!-- =====================
    Button
    	partial "components/button.html" (dict
    		"text" "Download"
    		"link" "files.zip"
    		"class" "btn-block"
    		"colour" "white"
    		"size" "small"
    		"arrow" true
    		"title" "Navigate to..."
    		"attr" "download"
    	)
    	- text: 		The text to appear within side the button.
    	- link: 		If the button should be an <a> tag.
    	- class:		Any additional clas names to appear.
    	- colour: 		The colour of the button, defaults to foreground.
    	- size:			The size of the button (small or large)
    	- arrow: 		If an arrow should appear with the button.
    	- title:		The title & aria label of the link.
    	- attr:		 	Any additional or attributes to appear.
    ===================== -->
{{ if .link -}}
	<a href="{{ .link }}"
		{{ with .title -}} title="{{ . }}" aria-label="{{ . }}" {{- end }}
{{- else -}}
	<button
{{- end }}
		class="btn
		{{ with .colour -}} btn-colour-{{ . }} {{- end }}
		{{ with .size -}} btn-size-{{ . }} {{- end }}
		{{ if .arrow -}} btn-arrow {{- end }}
		{{ with .class -}} {{ . }} {{- end }}
		skew cursor-element"
		{{ .attr  | safeHTMLAttr }}
		data-cursor-invert data-cursor-invert-black
		data-skew-transform-x="0.15" data-skew-transform-y="0.3"
		data-skew-rotate-x="-0.1" data-skew-rotate-y="-0.1"
		data-skew-rotate>
		<!-- Wrapper -->
		<div class="btn-wrapper skew" data-skew-transform-x="0.025" data-skew-transform-y="0.075">
			<!-- Text -->
            {{ with .text -}}
				<span class="btn-text">
		 			{{ . }}
				</span>
            {{- end }}
			<!-- Arrow -->
            {{ if .arrow -}}
                {{ partial "svgs/arrow.html" (dict
					"colour" "black"
					"rotation" "90"
					"stroke" 3
					"class" "btn-arrow-image btn-arrow-left"
				)}}
                {{ partial "svgs/arrow.html" (dict
					"colour" "black"
					"rotation" "90"
					"stroke" 3
					"class" "btn-arrow-image btn-arrow-right"
				)}}
            {{- end }}
		</div><!-- /Wrapper -->
{{ if .link -}}
	</a>
{{- else -}}
	</button>
{{- end }}
