
<!-- =====================
    Featured Card
      	partial "components/featured-card.html" (dict
			"service" .
			"fullWidth" true
			"numbers" 	false
		)
    	- ctx: 			The service - TODO: We should probably refactor this so it doens't just accept a service.
    	- fullWidth:	If false, this section should be used with vertical type.
    	- meta: 		If numbers should be included
    ===================== -->
{{ with .service -}}
	<a href="{{ .RelPermalink }}"
	   class="card card-basic card-feature {{ if $.fullWidth }} card-feature-full-width {{- end }} skew"
	   title="Visit the {{ .Title }} page"
	   aria-label="Navigate to the {{ .Title }} page"
	   data-skew-transform-x="0.15" data-skew-transform-y="0.15"
	   data-skew-rotate-x="-0.1" data-skew-rotate-y="-0.1"
	   data-skew-rotate>
		<div class="row no-gaps justify-content-desk-between align-items-desk-end">
			<!-- Image -->
			<div class="col-12">
				{{ $default := .Resources.GetMatch "images/featured-small.*" -}}
				{{ if not $default -}}
					{{ warnf "No featured-small image file found for service page %s" .RelPermalink -}}
				{{- end }}
				<picture class="margin-large card-feature-image">
					{{ partial "media/picture.html" (dict
						"image" (.Resources.GetMatch "images/featured.*")
						"default" $default
						"alt" (printf "%s Image" .Params.title))
						"lazy" true
					}}
				</picture>
			</div>
			<!-- Content -->
			<div class="col-12 col-desk-6">
				<!-- Number -->
				{{ if $.numbers -}}
					<h3 class="card-feature-number type-serif">
						0{{ .Weight }}*
					</h3>
				{{- end }}
				<!-- Title -->
				<div class="card-feature-title">
					{{ if $.fullWidth -}}
						<hr class="d-none d-desk-block rule card-feature-rule"
							data-scroll data-scroll-speed="-0.4" data-scroll-direction="horizontal" />
					{{- end }}
					{{ with .Params.heading -}}
						<h2 class="card-feature-title">
							{{ . }}
						</h2>
					{{- else -}}
						{{ warnf "No heading param provided to page: %s" .RelPermalink }}
					{{- end }}
				</div>
				<!-- Tags -->
				<div class="card-tags">
					{{ range .Params.tags -}}
						{{ partial "components/tag.html" (dict
							"text" .
							"colour" "grey"
							"class" "card-tags-item tag-margin-top"
						)}}
					{{- end }}
				</div>
			</div><!-- /Col -->
			<!-- Description -->
			<div class="col-12 col-desk-5 margin mb-desk-0">
				{{ with .Params.lead -}}
					<p class="card-feature-description lead">
						{{ . }}
					</p>
				{{- end }}
			</div><!-- /Col -->
			<div class="col-12 col-desk-1">
				{{ partial "components/button.html" (dict
					"text" (printf "Explore %s" .Params.buttonName)
					"size" "small"
					"arrow" false
					"class" "d-desk-none"
					"title"  (printf "Explore the %s Page" .Params.heading)
				)}}
				<div class="card-feature-arrow d-none d-desk-flex">
					{{ partial "svgs/arrow.html" (dict
						"rotation" 45
						"colour" "white"
						"size" "small"
					)}}
				</div>
			</div>
		</div><!-- /Row -->
	</a><!-- /Card -->
{{- end }}
