<!-- =====================
	Breadcrumbs
		partial "components/marquee.html" (dict
			"text" "Showreel"
		)
    	- text: The text to appear within the marquee.
	===================== -->
<div class="marquee">
	<div class="marquee-inner">
		<!-- Wrapper -->
		<div class="marquee-wrapper">
			<h2 class="marquee-text">{{ .text }}</h2>
			<h2 class="marquee-text">{{ .text }}</h2>
			<h2 class="marquee-text">{{ .text }}</h2>
			<h2 class="marquee-text">{{ .text }}</h2>
			<h2 class="marquee-text">{{ .text }}</h2>
		</div>
		<!-- Wrapper -->
		<div class="marquee-wrapper">
			<h2 class="marquee-text">{{ .text }}</h2>
			<h2 class="marquee-text">{{ .text }}</h2>
			<h2 class="marquee-text">{{ .text }}</h2>
			<h2 class="marquee-text">{{ .text }}</h2>
			<h2 class="marquee-text">{{ .text }}</h2>
		</div>
	</div>
</div>
