// -----------------------------------------------------------------------------
// _fonts.scss
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

// Plus Jakarta Sans
// ==========================================================================

@font-face {
	font-family: 'Plus Jakarta Sans';
	src: local('Plus Jakarta Sans Regular'), local('PlusJakartaSans-Regular'),
		url('#{$font-path}PlusJakartaSans-Regular.woff2') format('woff2'),
		url('#{$font-path}PlusJakartaSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Plus Jakarta Sans';
	src: local('Plus Jakarta Sans Medium'), local('PlusJakartaSans-Medium'),
		url('#{$font-path}PlusJakartaSans-Medium.woff2') format('woff2'),
		url('#{$font-path}PlusJakartaSans-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Plus Jakarta Sans';
	src: local('Plus Jakarta Sans Bold'), local('PlusJakartaSans-Bold'),
		url('#{$font-path}PlusJakartaSans-Bold.woff2') format('woff2'),
		url('#{$font-path}PlusJakartaSans-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
