// -----------------------------------------------------------------------------
// _base.scss
// This file contains very basic styles to reset document.
// -----------------------------------------------------------------------------

// Global
// =========================================================================

html {
	box-sizing: border-box;
}

*,
html {
	scroll-behavior: smooth;
}

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: $font;
	font-size: 1rem;
	line-height: 1.6;
	overflow: auto;
	//overflow: auto !important; // Override Typeform
	font-kerning: normal;
	-webkit-font-smoothing: antialiased; // sass-lint:disable-line  no-vendor-prefixes
	-webkit-tap-highlight-color: transparent; // sass-lint:disable-line  no-vendor-prefixes
}

* {
	box-sizing: inherit;
}

body {
	background-color: $black;
}

main {
	flex-grow: 2;
}

.content-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

// Resets
// =========================================================================

figure {
	vertical-align: baseline;
	margin: 0;
}

img,
source,
picture,
figure {
	vertical-align: top;
	border: none;
	outline: none;
	color: transparent;
}

ul,
menu {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

fieldset {
	border: none;
	padding: 0;
}

// No JS
// =========================================================================

.no-js {
	.js-hide {
		display: none !important;
	}

	.lazy {
		display: none !important;
	}
}
