// -----------------------------------------------------------------------------
// _typography.scss
// This file contains all type declerations (h1, h2, p etc) for whole site.
// -----------------------------------------------------------------------------

// Global
// =========================================================================

html,
body {
	font-size: 90%;

	@include media-small-phones {
		font-size: 85%;
	}

	@include media-tab {
		font-size: 95%;
	}

	@include media-desk {
		font-size: 100%;
	}

	@include media-hd {
		font-size: 102.5%;
	}
}

main {
	font-size: $text-paragraph-size;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	position: relative;
	margin: 0;
	color: colour("foreground");
}

// Headings
// =========================================================================

h1,
.heading-1,
h2,
.heading-2,
h3,
.heading-3,
h4,
.heading-4,
h5 {
	display: block;
	color: colour("foreground");
	font-weight: bold;
}

@mixin h1 {
	@include fluid-type($text-fluid-start-size, $text-fluid-end-size, 40px, 74px);
	margin-bottom: 1.4rem;
	line-height: 1;
	letter-spacing: $text-letter-spacing;

	.type-serif {
		@include fluid-type($text-fluid-start-size, $text-fluid-end-size, 50px, 84px);
	}
}

h1,
.heading-1 {
	@include h1;
}

@mixin h2 {
	@include fluid-type($text-fluid-start-size, $text-fluid-end-size, 28px, 50px);
	margin-bottom: 1.3rem;
	line-height: 1.2;
	letter-spacing: $text-letter-spacing;
}

h2,
.heading-2 {
	@include h2;
}

@mixin h3 {
	@include fluid-type($text-fluid-start-size, $text-fluid-end-size, 23px, 37px);
	margin-bottom: 1.2rem;
	line-height: 1.2;
	letter-spacing: $text-letter-spacing;
}

h3,
.heading-3 {
	@include h3;
}

@mixin h4 {
	@include fluid-type($text-fluid-start-size, $text-fluid-end-size, 21px, 29px);
	margin-bottom: 1rem;
	line-height: 1.2;
	letter-spacing: $text-letter-spacing;
}

h4,
.heading-4 {
	@include h4;
}

@mixin h5 {
	@include fluid-type($text-fluid-start-size, $text-fluid-end-size, 19px, 21.5px);
	margin-bottom: 0.9rem;
	line-height: 1.36;
	letter-spacing: $text-letter-spacing;
}

h5,
.heading-5 {
	@include h5;
}

@mixin h6 {
	display: block;
	color: colour("copy-dark");
	font-size: 0.84rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	line-height: 1;
	margin-bottom: 0.9rem;
}

h6,
.heading-6 {
	@include h6;
}

// Paragraph
// =========================================================================

p {
	color: colour("paragraph");
	font-size: $text-paragraph-size;
	margin-bottom: 1rem;
	line-height: 1.8;

	&.lead {
		font-size: $text-lead-size;
		line-height: 1.6;

		&-max-width {
			max-width: 580px;
		}
	}
}

// Links
// =========================================================================

a {
	font-size: $text-paragraph-size;
	color: colour("foreground");
	font-weight: bold;
	text-decoration: none;
}

// Small
// =========================================================================

small {
	display: inline-block;
	font-size: 0.85rem;
	line-height: 1.6;
}

// Fonts
// =========================================================================

.type {

	&-serif {
		font-family: $font-serif;
		font-style: italic;
		font-weight: 300;
		letter-spacing: -2px;
	}

	&-code {
		font-family: $font-code;
		font-weight: normal;
	}
}

// Properties
// =========================================================================

strong {
	font-weight: bold;
}

// Number
// =========================================================================

.number {
	display: block;
	font-family: 'Times New Roman', serif;
	font-size: 7.5rem;
	letter-spacing: -4px;
	font-style: italic;
	line-height: 1;
}

// Mods
// =========================================================================

.type-uppercase {
	text-transform: uppercase;
}

.type-lowercase {
	text-transform: lowercase;
}

// Selection Color
// =========================================================================

::selection {
	background: $white;
	color: $black;
}

::-moz-selection {
	background: $white;
	color: $black;
}

.theme-white {
	::selection {
		background: $black;
		color: $white;
	}

	::-moz-selection {
		background: $black;
		color: $white;
	}
}
