{{ define "main" }}
	<!-- =====================
		Brand Archive
			Page Template for /brand
		===================== -->
	<section class="hero hero-full-height">
		<!-- Background -->
        {{ if .Resources.Get "hero.jpg" -}}
			<picture class="hero-background gradient gradient-height-30">
                {{ partial "media/picture.html" (dict "global" $ "url" "hero.jpg") }}
			</picture>
        {{- end }}
		<!-- Content -->
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- Text -->
					<div class="hero-text-large">
						<!-- Heading -->
						<div class="text-wrapper-large">
							<h1>ainsley.dev <span class="type-serif">brand <br/>guidelines*</span></h1>
						</div>
						<!-- Button -->
                        {{ partial "components/button.html" (dict "text" "Download Pack" "button" "files.zip" "arrow" true "colour" "white" "attr" "") }}
					</div>
					<!-- Arrow -->
					<a href="{{ .Page.Permalink }}#pages" class="hero-arrow">
                        {{ partial "images/arrow.html" (dict "colour" "white" "rotation" "135") }}
					</a>
				</div><!-- /Col -->
			</div><!-- /Row -->
		</div><!-- /Container -->
	</section>
	<!-- =====================
		List
		===================== -->
    {{ if .Pages -}}
		<section class="section-padding" id="pages">
			<div class="container">
				<div class="row justify-content-desk-between">
                    {{ range .Pages -}}
						<div class="col-10 col-desk-5">
							<!-- Card -->
							<a href="{{ .RelPermalink }}" class="card card-horizontal"
							   aria-label="Navigate to the {{ .Title }} brand page">
								<!-- Featured Image -->
                                {{ $featured := .Resources.GetMatch "featured.svg" }}
                                {{ with $featured -}}
									<figure class="card-image text-wrapper-large">
										<img src="{{ $featured.RelPermalink }}" alt="{{ .Title }}">
									</figure>
                                {{- end }}
								<!-- Text -->
								<div class="card-text">
									<h3>{{ .Title }}</h3>
								</div>
							</a>
						</div><!-- /Col -->
                    {{- end }}
				</div><!-- /Row -->
			</div><!-- /Container -->
		</section>
    {{- end }}
{{ end }}
