{{ define "main" }}
	<!-- =====================
		Brand Archive
			Page Template for /brand
		===================== -->
	<section class="hero hero-full-height">
		<!-- Background -->
        {{ if .Resources.Get "hero.jpg" -}}
			<picture class="hero-background gradient">
                {{ partial "media/picture.html" (dict "global" $ "url" "hero.jpg" "class" "hero-background gradient") }}
			</picture>
        {{- end }}
		<!-- Content -->
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- Heading -->
					<div class="text-cont text-cont-large">
						<h1>ainsley.dev <span class="type-serif">brand <br/>guidelines*</span></h1>
					</div>
					<!-- Button -->
                    {{ partial "components/button.html" (dict "text" "Download Pack" "button" "files.zip" "arrow" true "colour" "white" "attr" "") }}
				</div>
			</div>
		</div>
	</section>
	<!-- =====================
		List
		===================== -->
    {{ with .Pages -}}
		<section class="section-padding">
			<div class="container">
				<div class="row">
                    {{ range . -}}
						<div class="col-12">
							<!-- Card -->
							<a href="{{ .RelPermalink }}" class="card card-horizontal"
							   aria-label="Navigate to the {{ .Title }} brand page">
								<!-- Featured Image -->
								<figure class="card-image">
									{{ partial "media/image.html" (dict "url" "d")}}
								</figure>
								<!-- Title -->
								<h3>{{ .Title }}</h3>
							</a>
						</div><!-- /Col -->
                    {{- end }}
				</div><!-- /Row -->
			</div><!-- /Container -->
		</section>
    {{- end }}
{{ end }}
