<!-- =====================
    Card - Horizontal
    	partial "cards/horizontal.html" (dict
    		"title" "Download"
    		"permalink" .RelPermalink
    		"image" (.Resources.GetMatch .Params.featuredImage)
			"animate" true
    	)
    	- title:		The title of the card.
    	- permalink:	The relative permalink that the card will link to.
    	- image:		The featured image as a resource.
    	- animate:		If the skew and cursor animations should run.
    ===================== -->
<!-- Card -->
<a href="{{ .permalink }}" class="card card-horizontal card-half-margin"
   title="{{ .title }} Page Link"
   aria-label="Navigate to the {{ .title }} page">
	<!--- Wrapper -->
	<div class="card-image-wrapper
		{{ if $.animate -}} cursor-element skew {{- end }}"
		data-scroll data-scroll-speed="0.3"
		{{ if $.animate -}}
		data-cursor-invert data-cursor-invert-black data-cursor-scale="4"
		data-skew-transform-x="0.1" data-skew-transform-y="0.1"
        {{- end }}>
		<!-- Featured Image -->
		{{ with .image -}}
			<figure class="card-image margin">
				<img loading="lazy" src="{{ .RelPermalink }}" alt="{{ $.title }}">
			</figure>
		{{- end }}
	</div><!--- /Wrapper -->
	<!-- Text -->
	<div class="card-text">
		<!-- Title -->
        {{ with .title -}}
			<h3 class="card-text-title">{{ . }}</h3>
        {{- end }}
	</div>
</a><!-- /Card -->

