<!-- =====================
    Description
    ===================== -->
{{ if .Description -}}
    {{- if or (lt (len .Description) 120) (gt (len .Description) 158) -}}
        {{- warnf "Description character count is not configured for page: %s, count: %d, description: %s" .RelPermalink (len .Description) .Description  -}}
    {{- end }}
    {{ if and (not .IsHome) (eq .Description "") }}
        {{ warnf "No meta description for page: %s" .RelPermalink }}
    {{- end }}
	<meta name="description"
		  content="{{ if .IsHome -}} {{ $.Site.Params.description }} {{- else -}} {{ .Description }} {{- end }}" />
{{- else if not .IsHome -}}
    {{ warnf "No description param provided to page: %s" .RelPermalink }}
{{- end }}
