<!-- =====================
    Schema
    ===================== -->
<meta itemprop="name" content="{{ .Title }}">
<meta itemprop="description"
	  content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
{{- if .IsPage -}}
    {{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
	<!-- Dates -->
    {{ with .PublishDate -}}
		<meta itemprop="datePublished" {{ .Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />
    {{ end -}}
    {{ with .Lastmod -}}
		<meta itemprop="dateModified" {{ .Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />
    {{- end }}
	<!-- Word Count -->
	<meta itemprop="wordCount" content="{{ .WordCount }}">
	<!-- Image -->
	<meta itemprop="image" content="{{ partial "opengraph/_get-featured-image.html" . }}">
{{- end -}}
