<!-- =====================
    Javascript Files
    ===================== -->
{{ $js := slice }}
{{ range $path := . }}
	{{ if strings.Contains . "http" -}}
        {{- $js = append . $js -}}
	{{- else -}}
		{{ $resource := resources.Get $path }}
		{{ if $resource }}
			{{ $target := printf "%s.js" (strings.TrimSuffix (path.Ext $path) $path) }}
			{{ $file := $resource | babel | js.Build (dict "targetPath" $target) | resources.Minify }}
			{{ $js = append $file.RelPermalink $js }}
		{{ else }}
			{{ errorf "Typescript file: %s, not found" $path }}
		{{ end }}
    {{- end }}
{{ end }}
{{ return $js }}
