<!-- =====================
    SCSS Files
    ===================== -->
{{ $css := slice }}
{{ range $path := . }}
	{{ if strings.Contains . "http" -}}
		{{- $css = append . $css -}}
	{{- else -}}
		{{ $resource := resources.Get $path }}
		{{ if $resource }}
			{{ $target := (printf "%s.css" (strings.TrimSuffix (path.Ext $path) $path)) | replaceRE "scss" "css" }}
			{{ $file := $resource | toCSS (dict "targetPath" $target "enableSourceMap" true) | resources.Minify }}
			{{ $css = append $file.RelPermalink $css }}
		{{ else }}
			{{ errorf "SCSS file: %s, not found" $path }}
		{{ end }}
    {{- end }}
{{ end }}
{{ return $css }}
