<!-- =====================
    Insights Related
    ===================== -->
{{- $related := (partial "util/_related.html" .) -}}
{{ with $related -}}
	<section class="section section-padding bg-off-white">
		<div class="container">
			<div class="row justify-content-center">
				<!-- Mobile Header -->
				<div class="col-12 d-tab-none">
					<h2 class="mb-0">
						Related insights
					</h2>
				</div><!-- /Col -->
						{{ partial "components/all-articles.html" (dict
					"link" "/insights/"
					"text" "All insights"
					"title" "View all insights"
					"largeSubText" "Related insights"
					"largeSubTag" "h3"
					"smallSubText" "Latest Articles"
					"class" "col-tab-10"
				)}}
				{{ range  . -}}
					<div class="col-12 col-tab-10 card-col">
						{{ .Render "card" }}
					</div><!-- /Col -->
				{{- end }}
				</div><!-- /Row -->
		</div><!-- /Container -->
	</section>
{{- end }}
