{{ define "main" }}
	<!-- =====================
		Services List
		===================== -->
	<section class="hero hero-space-around" data-scroll-section>
		<!-- A Symbol -->
		<figure class="hero-a-symbol hero-a-symbol-right gradient gradient-height-40 animate-fade"
				data-scroll data-scroll-speed="-3">
			{{ partial "svgs/a-symbol.html" (dict
				"opacity" 0.1
				"greyscale" true
				"clip" "right"
				"class" "hero-a-symbol-container"
    		)}}
		</figure>
		<!-- Content -->
		<div class="container hero-container">
			<!-- Intro -->
			<div class="row hero-row" data-scroll data-scroll-speed="2" data-scroll-position="top">
				<div class="col-12">
					<!-- Hero Animation -->
					<div class="hero-animate">
						<!-- Heading -->
						{{ with .Params.heading -}}
							<h1>
								{{ . | safeHTML }}
							</h1>
						{{- else -}}
							{{ warnf "No heading param provided to page: %s" .RelPermalink }}
						{{- end }}
						<!-- Lead -->
						<p class="lead lead-max-width hero-lead">
							Senior/Lead Software Engineer at Just Eat Takeaway.com. GopherCon UK speaker. Chair of the
							Go Guild at JET and open-source contributor. Passionate about writing well-crafted Go,
							mentoring engineers, and building communities where Gophers thrive.
						</p>
					</div>
				</div><!-- /Col -->
			</div><!-- /Row -->
			<!-- Logos -->
			<div class="row" data-scroll data-scroll-speed="3" data-scroll-position="top">
				<div class="col-12">
				<span class="heading-6 margin animate-fade" data-animate-no-touch>
					Trusted By
				</span>
					<div class="hero-logos">
						{{ partial "components/logos.html" . }}
					</div>
				</div><!-- /Col -->
			</div><!-- /Row -->
		</div><!-- /Container -->
	</section>
	<!-- =====================
		Services
		===================== -->
	{{ $paginator := .Paginate .Pages.ByWeight 10 -}}
	{{ if $paginator.Pages -}}
		<section class="section section-padding section-padding-top" data-scroll-section>
			<div class="container">
				<div class="row">
					<!-- Heading (Mobile Only) -->
					<div class="col-12 col-mob-3 d-desk-none" data-scroll data-scroll-speed="2">
						{{ partial "type/vertical.html" (dict
							"text" "Our Services"
							"line" true
							"fill" true
						)}}
					</div><!-- /Col -->
					<!-- Pages -->
					<div class="col-12 col-mob-9 col-desk-12">
						{{ range $paginator.Pages -}}
							{{ .Render "card" }}
						{{- end }}
					</div><!-- /Col -->
				</div><!-- /Row -->
			</div><!-- /Container -->
		</section>
	{{- end }}
	<!-- =====================
		Process
		===================== -->
	<section class="section section-padding section-padding-top" data-scroll-section style="overflow-x: clip;">
		<div class="container">
			<div class="row">
				<!-- Heading -->
				<div class="col-12 col-mob-3" data-scroll data-scroll-speed="2">
					{{ partial "type/vertical.html" (dict
						"text" "Our Process"
						"line" true
						"fill" true
					)}}
				</div><!-- /Col -->
				<!-- Content -->
				<div class="col-12 col-mob-9">
					<!-- Discovery -->
					<article class="section section-padding-small section-padding-bottom animate-fade" data-animate-no-touch>
						<!-- Intro -->
						<div class="row no-gaps align-items-center justify-content-between margin-medium">
							<div class="col-10">
								<h3 class="heading-2">Discovery</h3>
							</div><!-- /Col -->
							<div class="col-2">
								<hr class="rule rule-medium d-none d-desk-block m-0"
									data-scroll data-scroll-speed="1" data-scroll-direction="horizontal" />
							</div><!-- /Col -->
						</div><!-- /Row -->
						<!-- Content -->
						<div class="row no-gaps justify-content-between">
							<div class="col-12 col-desk-10">
								<div class="margin margin-none">
									<p>At this stage, we kick off with a meeting to discover the project’s requirements and where you see yourself in the industry. We discuss what you desire, what’s lacking in your current solution, and how we can better it.</p>
									<p>Technical requirements are established for the project, and a detailed proposal (if it’s a website) or SRS (software requirement specification) is created detailing the design, templates and technical intricacies of the project.</p>
									<p>At the end of this stage, we can prepare a precise quotation for a better understanding of how much the project may cost and how long it will take.</p>
								</div>
							</div><!-- /Col -->
						</div><!-- /Row -->
					</article>
					<!-- Concept -->
					<article class="section section-padding-small section-padding-bottom animate-fade" data-animate-no-touch>
						<!-- Intro -->
						<div class="row no-gaps align-items-center justify-content-between margin-medium">
							<div class="col-10">
								<h3 class="heading-2">Concept</h3>
							</div><!-- /Col -->
							<div class="col-2">
								<hr class="rule rule-medium d-none d-desk-block m-0"
									data-scroll data-scroll-speed="1" data-scroll-direction="horizontal" />
							</div><!-- /Col -->
						</div><!-- /Row -->
						<!-- Content -->
						<div class="row no-gaps justify-content-between">
							<div class="col-12 col-desk-10">
								<div class="margin margin-none">
									<p>This stage begins after a 50% deposit has been made. We give you some tasks to go away with and a questionnaire asking you for inspirational websites, colours, business goals and anything else relevant to the project.</p>
									<p>Finding out the specifics of what your brand requires enables us to identify exactly what you represent and what you aim to achieve. Content is either written by our in-house content writers or outsourced to a writer of your choice, but is always completed before design commences.</p>
									<p>A wireframe is typically made from the copy into basic page templates. This allows you to see the site layout in its final form and give constructive feedback where appropriate.</p>
								</div>
							</div><!-- /Col -->
						</div><!-- /Row -->
					</article>
					<!-- Design & Architecture -->
					<article class="section section-padding-small section-padding-bottom animate-fade" data-animate-no-touch>
						<!-- Intro -->
						<div class="row no-gaps align-items-center justify-content-between margin-medium">
							<div class="col-10">
								<h3 class="heading-2">Design & architecture</h3>
							</div><!-- /Col -->
							<div class="col-2">
								<hr class="rule rule-medium d-none d-desk-block m-0"
									data-scroll data-scroll-speed="1" data-scroll-direction="horizontal" />
							</div><!-- /Col -->
						</div><!-- /Row -->
						<!-- Content -->
						<div class="row no-gaps justify-content-between">
							<div class="col-12 col-desk-10">
								<div class="margin margin-none">
									<p>Once we know your vision and how you want to see yourself in the market, we proceed to the design. The objective of the design phase is to create a fresh, coherent, user-friendly brand for your website. Potential design routes are presented for you to choose from. Once you have provided feedback on these concepts, a custom design for the whole site are created with a particular brand language using Adobe XD.</p>
									<p>This design is then published as a prototype, ready for easy commenting and adding any suggestions you see fit through a simple communication process.</p>
								</div>
							</div><!-- /Col -->
						</div><!-- /Row -->
					</article>
					<!-- Development -->
					<article class="section animate-fade" data-animate-no-touch>
						<!-- Intro -->
						<div class="row no-gaps align-items-center justify-content-between margin-medium">
							<div class="col-10">
								<h3 class="heading-2 mb-0">Development</h3>
							</div><!-- /Col -->
							<div class="col-2">
								<hr class="rule rule-medium d-none d-desk-block m-0"
									data-scroll data-scroll-speed="1" data-scroll-direction="horizontal" />
							</div><!-- /Col -->
						</div><!-- /Row -->
						<!-- Content -->
						<div class="row no-gaps justify-content-between">
							<div class="col-12 col-desk-10">
								<div class="margin margin-none">
									<p>Commencing the development of the website or application, we consider any existing website infrastructure. Ensuring that the brand migration process goes smoothly is essential to avoid the loss of organic traffic, so all of this is taken into consideration before we make the switch.</p>
									<p>A mobile-first development approach is used to ensure the site is fully responsive across all viewports (mobile, tablet and desktop). SEO is considered from the very beginning of the project, ensuring your site ranks highly. Factoring in high page speed, usability, accessibility and user experience will make the application easier for potential customers to discover and use and increase conversions.</p>
								</div>
							</div><!-- /Col -->
						</div><!-- /Row -->
					</article>
				</div><!-- /Col -->
			</div><!-- /Row -->
		</div><!-- /Col -->
	</section>
	<!-- =====================
		Questions
		===================== -->
	<section class="section section-padding" data-scroll-section>
		<div class="container">
			<div class="row">
				<!-- Heading -->
				<div class="col-12 col-mob-3" data-scroll data-scroll-speed="2">
					{{ partial "type/vertical.html" (dict
						"text" "Your questions"
						"line" true
						"fill" true
					)}}
				</div><!-- /Col -->
				<!-- Content -->
				<div class="col-12 col-mob-9">
					{{ $accordionItems := (slice
						(dict "title" "How do you price a project?" "content" "Upon receipt of your brief and our initial kick-off meeting, we will review everything and get back to you with a proposal and fixed cost. If you have a budget in mind, please let us know in advance.")
						(dict "title" "How long does it take to build an application?" "content" "This entirely depends on your needs and the size of the project. A timeline is documented as part of a proposal.")
						(dict "title" "Do you create APIs and marketing solutions?" "content" "Yes. We are highly experienced in a vast array of backend technologies and can create custom software solutions to help you streamline any process.")
						(dict "title" "Do you design bespoke logos?" "content" "Yes. We can create sleek and professional full custom logo designs with mockups and a style guide for your business.")
						(dict "title" "Do you create social media assets and style guides?" "content" "Yes. We can create a wide variety of social media assets and guidelines that are on-trend for your new brand. You can see an example of brand guidelines on our <a href=\"/brand/\">style guide pages</a>.")
						(dict "title" "Do you provide e-commerce solutions?" "content" "Yes. We can develop fully-bespoke WooCommerce themes and integrate any marketing tools you need to see the visibility of your new website blossom. All content can be edited in the backend of your website.")
						(dict "title" "Do you create and write website content?" "content" "Yes. We have a comprehensive content writer with years of experience writing copy for websites and landing pages, optimizing for SEO and factoring in keyword research.")
						(dict "title" "Can I edit the content of my new website?" "content" "Dynamic websites using content management systems (CMSs) are in our highest service package, which gives you full control over every single word on your website. We primarily use <a href=\"https://strapi.io/\">Strapi</a>, an extremely swift platform combined with SvelteKit as a front-end framework However, we can use any platform you wish.")
						(dict "title" "Can you set up domains and email?" "content" "We can either transfer or buy a new domain name for your business. Setting up a custom domain email, such as hello@yourcompany.com, is a separate charge but is a guaranteed way of gaining more leads and having a professional social handle.")
						(dict "title" "Do you offer ongoing support once our site is live?" "content" "A service level agreement (SLA) can be implemented to ensure we continually monitor your new application and add any new features you see fit. This can entirely work around your budget. We charge £80 for an hour or £600 per day of design or development time.")
						(dict "title" "Do you offer hosting?" "content" "We can set up your website or application on an independent server, ensuring speed and reliability. This will be backed up daily for peace of mind.")
						(dict "title" "Who owns the project after it has been completed?" "content" "The rights to the application and trademark as a whole belong to you. The codebase and design are intellectual property of ainsley.dev. Please see our <a href=\"/terms/\">terms and conditions</a> for more information.")
					)}}
					{{ range $accordionItems }}
						{{ partial "components/accordion-item.html" . }}
					{{ end }}
				</div><!-- /Col -->
			</div><!-- /Row -->
		</div><!-- /Col -->
	</section>
	<!-- =====================
		Banner
		===================== -->
	{{ partial "sections/banner.html" }}

{{ end }}
