{{ define "main" }}
	<!-- =====================
		Services Single
		===================== -->
	<section class="section service-hero" data-scroll-section>
		<div class="container">
			<div class="row" data-scroll data-scroll-speed="0">
				<div class="col-12 col-tab-10 col-desk-8 col-desk-large-6 offset-desk-3">
					<!-- Hero Animation -->
					<div class="hero-animate">
						<!-- Breadcrumbs -->
						{{ partial "components/breadcrumbs.html" (dict "ctx" .) }}
						<!-- Content -->
                       <div class="margin-large">
						   {{ with .Params.heading -}}
							   <h1>
								   {{ . | safeHTML }}
							   </h1>
						   {{- else -}}
							   {{ warnf "No heading param provided to page: %s" .RelPermalink }}
						   {{- end }}
						   <!-- Lead -->
						   <p class="lead text-animate-lead">
							   {{ with .Params.lead -}}
								   {{ . | safeHTML }}
							   {{- else -}}
								   {{ warnf "No lead param provided to page: %s" .RelPermalink }}
							   {{- end }}
						   </p>
					   </div>
						{{ partial "components/button.html" (dict
							"colour" "white"
							"link" "#why"
							"text" "Explore"
							"title" "Scroll down to explore"
							"arrow" true
						)}}
					</div><!-- /Hero Animation -->
				</div><!-- /Col -->
			</div><!-- /Row -->
		</div><!-- Container -->
		<!-- Carousel -->
        {{ partial "components/carousel.html" (dict
        	"ctx" .
			"images" .Params.gallery
			"hasLinks" true
		)}}
	</section>
	<!-- =====================
		Why Us?
		===================== -->
	{{ with .Params.why -}}
		{{ partial "sections/features.html" (dict
			"items" .
			"title" "Why Us?"
			"id"    "why"
			"class" "section-padding section-padding-bottom animate-fade"
		)}}
	{{- end }}
	<!-- =====================
		Sections
		===================== -->
	{{ with .Params.sections -}}
		{{ range $index, $section := . }}
			{{ partial "sections/image-split.html" (dict
				"title"   $section.title
				"content" $section.content
				"image"   ($.Resources.GetMatch $section.image)
				"video"   ($.Resources.GetMatch $section.video)
				"left"    (eq (mod $index 2) 0)
				"isLast"  (eq (sub (len $.Params.sections) 1) $index)
			)}}
		{{- end }}
	{{- end }}
	<!-- =====================
		Workflow
		===================== -->
	{{ with .Params.workflow }}
		<section class="section section-padding section-padding-top" data-scroll-section>
			<!-- Content -->
			<div class="container">
				<div class="row" data-container-set>
					<div class="col-12 col-desk-5">
						<div class="margin-large">
							<!-- Title -->
                            {{ with .title }}
								<h2>{{ . }}</h2>
                            {{- end }}
							<!-- Content -->
                            {{ with .content }}
								<p>{{ . }}</p>
                            {{- end }}
						</div>
					</div>
				</div>
			</div>
			<!-- Glider -->
			<div class="container glider-container">
				{{ if .items -}}
					<div class="glider">
					{{ $items := .items }}
					{{ $length := len .items -}}
					{{ range $index, $workflow := .items -}}
						<div class="glider-item card-line">
							<div class="card card-background">
								<!-- Number -->
								<h4 class="card-number type-serif">
									{{ if lt $index 9 -}}0{{ end }}{{ $index | cast.ToInt | add 1 }}
								</h4>
								<!-- Text -->
								{{ with .text }}
									<h4 class="card-title">
										{{ . }}
									</h4>
								{{- end }}
							</div>
							<!-- Group -->
							{{ with .group }}
								{{ $previous := index $items (sub $index 1) }}
								{{ if (ne $previous.group .)  }}
									<h4 class="card-line-text">
										{{ . }}
									</h4>
								{{- end }}
							{{- end }}
						</div>
					{{- end }}
				</div><!-- /Row -->
				{{- end }}
			</div><!-- Container -->
		</section>
    {{- end }}
	<!-- =====================
		FAQs
		===================== -->
	{{ with .Params.faqs }}
		<section class="section section-padding" data-scroll-section>
			<div class="container">
				<div class="row">
					<!-- Heading -->
					<div class="col-12 col-mob-2" data-scroll data-scroll-speed="2">
						{{ partial "type/vertical.html" (dict
							"text" "FAQs"
							"line" true
							"fill" false
						)}}
					</div><!-- /Col -->
					<!-- Accordion -->
					<div class="col-12 col-mob-9 offset-mob-1">
						{{ $items := slice }}
						{{ range . }}
							{{ $items = $items | append (dict "title" .question "content" .answer) }}
						{{ end }}
						{{ partial "components/accordion.html" $items }}
					</div>
				</div><!-- /Row -->
			</div><!-- /Container -->
		</section>
	{{- end }}
	<!-- =====================
		Quote
		===================== -->
	{{ with .Params.quote -}}
		{{ partial "sections/quote.html" (dict
			"text" .text
			"cite" .person
			"class" "bg-grey-light"
		)}}
	{{- end }}
	<!-- =====================
		Content
		===================== -->
	<section class="section section-padding section-padding-top" data-scroll-section>
		<div class="container">
			<div class="row">
				<!-- Heading -->
				<div class="col-12 col-mob-2" data-scroll data-scroll-speed="2">
                    {{ partial "type/vertical.html" (dict
						"text" "Explanation"
						"line" true
						"fill" false
                    )}}
				</div><!-- /Col -->
				<!-- Rich Text -->
				<div class="col-12 col-mob-9 offset-mob-1">
					<article class="richtext">
                        {{ .Content | replaceRE "/a>\n" "/a>" | safeHTML  }}
					</article>
				</div><!-- /Col -->
			</div><!-- /Row -->
		</div><!-- /Container -->
	</section>
	<!-- =====================
		Rule
		===================== -->
	{{ if .Params.featuredProjects }}
		<section class="section section-padding section-padding-top d-none d-desk-block">
			<div class="container">
				<hr class="rule rule-divider rule-divider-align-right"
					data-scroll data-scroll-direction="horizontal" data-scroll-speed="2">
			</div><!-- /Container -->
		</section>
	{{- end }}
	<!-- =====================
		Featured Projects
		===================== -->
	{{ if .Params.featuredProjects }}
		<section class="section section-padding section-padding-top" data-scroll-section>
			<div class="container">
				<div class="row justify-content-between">
					<!-- Heading -->
					<div class="col-12 col-mob-2" data-scroll data-scroll-speed="2">
                        {{ partial "type/vertical.html" (dict
                        	"text" "Featured"
							"line" true
							"fill" false
                        )}}
					</div><!-- /Col -->
					<!-- Content -->
					<div class="col-12 col-mob-9">
						<div class="row no-gaps">
												{{ partial "components/all-articles.html" (dict
								"link" "/portfolio/"
								"text" "All work"
								"title" "View all work"
								"smallSubText" "Latest Articles"
								"smallSubTag" "span"
								"wrapperEnd" true
								"class" "margin-large"
							)}}
							<!-- Cards -->
                            {{ range $index, $slug := .Params.featuredProjects }}
                                {{ with $.Site.GetPage (printf "/portfolio/%s" $slug) }}
                                    {{ $isLeft := eq (mod $index 2) 0 }}
									<div class="col-12 col-desk-6 card-col-padding card-col-mob-no-margin animate-up
									{{ if $isLeft }} card-col-left {{- else -}} card-col-right {{- end }} card-col">
                                        {{ partial "cards/vertical.html" (dict
											"title" .Params.heading
											"sub" .Params.company
											"permalink" .RelPermalink
											"image" (.Resources.GetMatch "images/card.jpg")
											"clip" (.Resources.GetMatch "images/card-hover.jpg")
											"animate" true
											"lazy" true
                                        )}}
									</div><!-- /Col -->
								{{- else -}}
									{{ warnf "Slug did not match a portfolio item: %s" . }}
								{{- end }}
                            {{- end }}
						</div><!-- /Row -->
					</div><!--- /Col -->
				</div><!-- /Row -->
			</div><!-- /Container -->
		</section>
    {{- end }}
	<!-- =====================
		Rule
		===================== -->
	<section class="section section-padding section-padding-top d-none d-desk-block">
		<div class="container">
			<hr class="rule rule-divider rule-divider-align-right"
				data-scroll data-scroll-direction="horizontal" data-scroll-speed="2">
		</div><!-- /Container -->
	</section>
	<!-- =====================
		Featured Insights
		===================== -->
    {{ if .Params.featuredInsights }}
		<section class="section section-padding" data-scroll-section>
			<div class="container">
				<div class="row justify-content-between">
					<!-- Heading -->
					<div class="col-12 col-mob-2" data-scroll data-scroll-speed="2">
                        {{ partial "type/vertical.html" (dict
							"text" "Insights"
							"line" true
							"fill" false
                        )}}
					</div><!-- /Col -->
					<!-- Content -->
					<div class="col-12 col-mob-9">
						<div class="row no-gaps">
												{{ partial "components/all-articles.html" (dict
								"link" "/insights/"
								"text" "All insights"
								"title" "View all insights"
								"largeSubText" "Latest Articles"
								"smallSubText" "Latest Articles"
								"border" true
							)}}
							<!-- Cards -->
							{{ range $index, $slug := .Params.featuredInsights }}
								{{ with $.Site.GetPage (printf "/insights/%s" $slug) }}
									<div class="col-12 card-col {{ if eq $index 0 }} card-col-first {{- end }} animate-fade"
										 data-animate-no-touch>
										{{ .Render "card" }}
									</div><!-- /Col -->
								{{- end }}
							{{- end }}
						</div><!-- /Row -->
					</div><!--- /Col -->
				</div><!-- /Row -->
			</div><!-- /Container -->
		</section>
    {{- end }}
	<!-- =====================
		Other Services
		===================== -->
    {{ .Render "related" }}
	<!-- =====================
		Contact
		===================== -->
	{{ partial "sections/contact.html" (dict
		"title" "Get in touch with us now"
		"lead" "Looking to bring your vision to life? Get in touch using the form below, and we'llget in touch to discuss how we can make your project a success."
		"dark" true
		"class" "section-padding animate-up"
	)}}
{{ end }}

