{{ define "main" }}
	<!-- =====================
		Portfolio Single
		===================== -->
	<section class="portfolio">
		<div class="container">
			<div class="row">
				<!-- =====================
					Meta
					===================== -->
				<div class="col-12 col-desk-5">
					<aside class="portfolio-aside">
						<!-- Logo -->
						<figure class="margin">
                            {{ partial "media/image.html" (dict
                            	"image" (.Resources.GetMatch "images/logo.svg")
                            	"alt" (printf "%s Logo" .Params.company))
                            }}
						</figure><!-- /Log -->
						<!-- Title -->
						<div class="margin-large">
							<h1 class="heading-2 mb-0">{{ .Title }}</h1>
						</div><!-- /Title -->
						<!-- Year -->
                        {{ with .Params.year }}
							<div class="margin">
								<h5 class="mb-0">Year</h5>
								<p>{{ . }}</p>
							</div>
                        {{ end }}<!-- /Year -->
						<!-- Strategies -->
                        {{ with .Params.strategies }}
							<div class="margin">
								<h5 class="mb-0">Strategy</h5>
								<p>{{ delimit . ", " }}</p>
							</div>
                        {{ end }}<!-- /Strategies -->
						<!-- Technologies -->
                        {{ with .Params.technologies }}
							<div class="margin">
								<h5 class="mb-0">Technologies</h5>
								<p>{{ delimit . ", " }}</p>
							</div>
                        {{ end }}<!-- /Technologies -->
						<!-- Website -->
                        {{ with .Params.site }}
							<div class="margin">
								<h5 class="mb-0">Website</h5>
								<a href="{{ .link }}" class="type-weight-normal" target="_blank">
									<p>{{ .pretty }}</p>
								</a>
							</div>
                        {{ end }}<!-- /Website -->
					</aside>
				</div><!-- /Col -->
				<!-- =====================
					Content
					===================== -->
				<div class="col-12 col-desk-6 offset-desk-1">
					<article class="portfolio-content">
						<!-- Featured Image -->
						<pictute class="portfolio-featured">
                            {{ partial "media/picture.html" (dict
								"image" (.Resources.GetMatch "images/featured.jpg")
								"alt" (printf "ainsley.dev %s Mockup" .Params.company)
								"lazy" false
                            )}}
						</pictute>
						<!-- Render -->
						{{ .Content }}
					</article>
				</div><!-- /Col -->
			</div><!-- /Row -->
		</div><!-- /Container -->
	</section>
	<!-- =====================
		Quote
		===================== -->
	{{ with .Params.quote -}}
		{{ partial "sections/quote.html" (dict
			"text" .text
			"cite" .person
		)}}
	{{- end }}
	<!-- =====================
		Next Project
		===================== -->
	{{ with .PrevInSection}}
		<section class="section">
		   <!-- Next Image -->
		   <picture class="portfolio-next-image">

		   </picture>
			<!-- Link -->
		   <div class="container">
			   <div class="row">
				   <div class="col-12 col-desk-4 offset-desk-8">
						<!-- Company -->
						{{ with .Params.company }}
							<h6>{{ . }}</h6>
						{{- end }}
						<a href="{{ .Permalink }}"
							title="Next page in {{ .Section }}">
							Next
						</a>
				   </div><!-- /Col -->
			   </div><!-- /Row -->
		   </div><!-- /Container -->
	   </section>
	{{- end }}
{{ end }}
