{{ define "main" }}
	<!-- =====================
		Portfolio Single
		===================== -->
	<section class="portfolio hero hero-simple d-none">
		<div class="container">
			<div class="row">
				<!-- =====================
					Meta
					===================== -->
				<div class="col-12 col-desk-5">
					<aside class="portfolio-aside">
						<!-- Logo -->
						<figure class="margin">
                            {{ partial "media/image.html" (dict
                            	"image" (.Resources.GetMatch "images/logo.svg")
                            	"alt" (printf "%s Logo" .Params.company))
                            }}
						</figure><!-- /Log -->
						<!-- Title -->
						<div class="margin-large">
							<h1 class="portfolio-title mb-0">{{ .Title }}</h1>
						</div><!-- /Title -->
						<!-- Year -->
                        {{ with .Params.year }}
							<div class="margin">
								<h5 class="mb-0">Year</h5>
								<p>{{ . }}</p>
							</div>
                        {{ end }}<!-- /Year -->
						<!-- Strategies -->
                        {{ with .Params.strategies }}
							<div class="margin">
								<h5 class="mb-0">Strategy</h5>
								<p>{{ delimit . ", " }}</p>
							</div>
                        {{ end }}<!-- /Strategies -->
						<!-- Technologies -->
                        {{ with .Params.technologies }}
							<div class="margin">
								<h5 class="mb-0">Technologies</h5>
								<p>{{ delimit . ", " }}</p>
							</div>
                        {{ end }}<!-- /Technologies -->
						<!-- Website -->
                        {{ with .Params.site }}
							<div class="margin margin-none">
								<h5 class="mb-0">Website</h5>
								<a href="{{ .link }}" class="type-weight-normal" target="_blank">
									<p>{{ .pretty }}</p>
								</a>
							</div>
                        {{ end }}<!-- /Website -->
						<!-- Mobile Arrow -->
						<figure class="portfolio-arrow">
                            {{ partial "type/arrow-link.html" (dict
                            	"link" "#content"
                            	"title" "Scroll down to explore"
                            	"rotation" 135
                            )}}
						</figure><!-- /Arrow -->
					</aside>
				</div><!-- /Col -->
				<!-- =====================
					Content
					===================== -->
				<div class="col-12 col-desk-6 offset-desk-1">
					<article class="portfolio-content">
						<!-- Featured Image -->
						<picture class="portfolio-featured">
                            {{ partial "media/picture.html" (dict
                            	"image" (.Resources.GetMatch "images/featured.jpg")
                            	"alt" (printf "ainsley.dev %s Mockup" .Params.company)
                            	"lazy" false
                            )}}
						</picture>
						<!-- =====================
							Render
							===================== -->
						<section id="content">
                            {{ .Content }}
						</section>
						<!-- =====================
							Results
							===================== -->
                        {{ with .Params.results -}}
                            {{ $length := len . }}
							<section class="portfolio-results section section-padding bg-grey-light">
								<div class="row no-gaps">
									<!-- Vertica Text -->
									<div class="col-12 col-mob-3 col-desk-4 col-hd-3 offset-desk-1">
										{{ partial "type/vertical.html" (dict
											"text" "Results"
											"number" "04"
											"line" true
											"fill" true
										)}}
									</div><!-- /Col -->
									<!-- Results -->
									<div class="col-12 col-mob-7">
										{{ range $index, $result := . }}
											{{- $isLast := eq (sub $length 1) $index -}}
											<!-- Result -->
											<div class="{{ if not $isLast -}} margin-large {{- end }}">
												{{ with .number }}
													<span class="number">
													{{ . }}
												</span>
												{{- end }}
												<!-- Result Text -->
												{{ with .text -}}
													<p class="lead mb-0">
														{{ . }}
													</p>
												{{- end }}
											</div><!-- /Result -->
										{{- end }}
									</div><!-- /Col -->
								</div><!-- /Row -->
							</section>
                        {{- end }}
					</article>
				</div><!-- /Col -->
			</div><!-- /Row -->
		</div><!-- /Container -->
	</section>
	<!-- =====================
		Quote
		===================== -->

		<section class="section-padding" style="padding-left: 100px;">{{ partial "components/arrow-hover.html" (dict "rotation" 78) }}</section>

    {{ with .Params.quote -}}
		{{ partial "sections/quote.html" (dict
			"text" .text
			"cite" .person
		)}}
    {{- end }}
	<!-- =====================
		Next Project
		===================== -->
    {{ with .PrevInSection }}
		<a href="{{ .RelPermalink }}" class="portfolio-next zoom"
			title="{{ printf "Next page in %s" .Section }}"
			aria-label="{{ printf "Next page in %s" .Section }}">
			<!-- Next Image -->
			<picture class="portfolio-next-image zoom-overflow">
                {{ partial "media/picture.html" (dict
                	"image" (.Resources.GetMatch "images/horizontal.jpg")
                	"mob" (.Resources.GetMatch "images/card**")
					"alt" (printf "ainsley.dev %s Mockup" .Params.company)
					"lazy" true
					"class" "zoom-element"
                )}}
			</picture>
			<!-- Link -->
			<div class="container portfolio-next-container">
				<div class="row">
					<div class="col-12 col-desk-5 offset-desk-7 offset-hd-8">
						<!-- Company -->
                        {{ with .Params.company }}
							<h6 class="margin">
								{{ . }}
							</h6>
                        {{- end }}
						<!-- Arrow Text -->
                        {{ partial "type/arrow-text.html" (dict
							"text" "<h2>Next project</h2>"
							"rotation" 45
                        )}}
					</div><!-- /Col -->
				</div><!-- /Row -->
			</div><!-- /Container -->
		</a>
    {{- end }}
{{ end }}
