<!-- =====================
    Description
    ===================== -->
{{ if .Description -}}
    {{- $description := .Description -}}
	{{- if and (hasPrefix .RelPermalink "/guidelines/") (ne .RelPermalink "/guidelines/") -}}
		{{- if eq .Parent.RelPermalink "/guidelines/" -}}
			{{- $description = printf "ainsley.dev Developer Guidelines | %s | Discover best practices, tips, and standards for building reliable & maintainable software" .Title -}}
		{{- else -}}
			{{- $description = printf "ainsley.dev Developer Guidelines | %s - %s | Discover best practices, tips, and standards for building reliable & maintainable software" .Parent.Title .Title -}}
		{{- end -}}
	{{- end -}}
    {{- if gt (len $description) 158 -}}
        {{- $description = printf "%s..." (substr $description 0 155) -}}
        {{- warnf "Description character count is greater than 155 for page: %s, count: %d, trimmed with ellipsis" .RelPermalink (len $description) -}}
    {{- end -}}
    {{- if lt (len $description) 120 -}}
        {{- warnf "Description character count is less than 120 for page: %s, count: %d, description: %s" .RelPermalink (len $description) $description -}}
    {{- end }}
    {{ if and (not .IsHome) (eq .Description "") }}
        {{ warnf "No meta description for page: %s" .RelPermalink }}
    {{- end }}
	<meta name="description"
		  content="{{ $description }}" />
{{- else -}}
    {{ warnf "No description param provided to page: %s" .RelPermalink }}
{{- end }}
