openapi: 3.0.0
info:
    version: 1.0.0
    title: ainsley.dev API
    description: API Spec for the backend of ainsley.dev
    termsOfService: https://ainsley.dev/terms/
    contact:
        name: ainsley.dev Team
        email: hello@ainsley.dev
        url: https://swagger.io
    license:
        name: BSD 3-Clause License
        url: https://github.com/ainsleyclark/ainsley.dev/blob/master/LICENSE
servers:
    -   url: https://ainsley.dev/api
        description: Production Environment
    -   url: https://staging.ainsley.dev/api
        description: Staging Environment
paths:
    # Note, you must add the trailing slash.
    "/ping/":
        "get":
            description: Checks the connectivity or health of the API.
            operationId: Ping
            responses:
                200:
                    description: OK - API is operational
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: PONG
                default:
                    description: Unexpected error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/HTTPError'
    "/forms/contact/":
        "post":
            description: Posts a new form submission from to contact page.
            operationId: SendContactForm
            requestBody:
                description: The User to create, all fields are required to pass validation.
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/ContactFormRequest'
            responses:
                200:
                    description: OK - Sent successfully
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/HTTPResponse'
                default:
                    description: Unexpected error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/HTTPError'
    "/credentials/":
        "get":
            description: Obtains credentials from ainsley.dev
            operationId: GetCredentials
            responses:
                200:
                    description: OK - Retrieved successfully.
                    content:
                        text/plain:
                            schema:
                                type: string
components:
    securitySchemes:
        Authentication:
            type: apiKey
            in: header
            name: X-API-Key
    schemas:
        HTTPResponse:
            type: object
            properties:
                data:
                    AnyValue: {}
                message:
                    example: User formatted message from the API
                    type: string
            required:
                - data
                - error
                - message
        HTTPError:
            type: object
            properties:
                message:
                    example: Error, unable to authenticate
                    type: string
                code:
                    example: error_code
                    type: string
                error:
                    example: error
                    type: string
                operation:
                    example: Function.Method
                    type: string
            required:
                - message
                - code
                - error
                - operation
        ContactFormRequest:
            type: object
            description: Message and attributes from the contact form.
            properties:
                message:
                    type: string
                    description: The message from the user.
                url:
                    type: string
                    description: The URL path the request origination from.
                honeypot:
                    type: string
                    description: The message from the user.
            required:
                - message
                - url
                - honeypot
        ContactFormResponse:
            type: string
            description: The message sent back to the user upon successful submission.
security:
    - Authentication: []
