<!-- =====================
    Insights Image
    ===================== -->
{{ $img := resources.Get "/images/insights-opengraph.jpg" -}}
{{ $length := len .Title -}}
{{ $yPos := 660 -}}
{{ if gt $length 48 -}}
	{{ $yPos = 500 }}
{{- end }}
{{- $title := (images.Text (.Title | safeHTML | truncate 61 | string) (dict
	"color" "#0A0A0A"
	"size" 120
	"linespacing" 1
	"x" 610
	"y" $yPos
	"font" (resources.Get "/fonts/opengraph/PlusJakartaSans-Bold.ttf")
))}}
{{ $authorText := $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .Params.author)) }}
{{- $author := (images.Text $authorText.Title (dict
	"color" "#595959"
	"size" 80
	"linespacing" 1
	"x" 610
	"y" 980
	"font" (resources.Get "/fonts/opengraph/PlusJakartaSans-Medium.ttf")
))}}
{{- return $img.Filter $title $author -}}
