// -----------------------------------------------------------------------------
// _cursor.scss
// This file contains all styles related to the cursor component.
// -----------------------------------------------------------------------------

.cursor {
	position: fixed;
	display: none;
	z-index: 9999999;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: transparent;
	pointer-events: none;
	transform: translate(-50%, -50%) scale(1);
	border: 1px solid transparent;
	transition: transform 300ms ease, background-color 300ms ease, border-color 300ms ease;

	// Active
	// =========================================================================

	&-active {
		cursor: none !important;
	}

	// Element
	// =========================================================================

	&-element {
		display: inline-block;
	}

	// Invert
	// =========================================================================

	&-invert {
		mix-blend-mode: difference;
		cursor: none;

		//&-black {
		//	background: $black;
		//}
		//
		//&-white {
		//	background: $white;
		//}
	}

	// Colours
	// =========================================================================

	&-theme {
		&-black {
			background-color: $white;
		}

		&-white {
			background-color: $black;
		}
	}

	&-white {
		background-color: $white;
	}

	// Border
	// =========================================================================

	&-border {
		border-color: colour('foreground');

		&-black {
			border-color: $black;
		}

		&-white {
			border-color: $white;
		}
	}

	// Non - Touch Screen
	// =========================================================================

	@media (hover: hover) {
		display: block;
	}
}
