// -----------------------------------------------------------------------------
// _cursor.scss
// This file contains all styles related to the cursor component.
// -----------------------------------------------------------------------------

.cursor {
	position: fixed;
	display: none;
	z-index: 9999999;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: none;
	pointer-events: none;
	transform: translate(-50%, -50%) scale(0);
	border: 1px solid transparent;
	transition: transform 300ms ease, background 300ms ease,
		border-color 300ms ease;

	// Active
	// =========================================================================





	&-active {
		cursor: none !important;
	}




	// Element
	// =========================================================================

	&-element {
		display: inline-block;
	}

	// Invert
	// =========================================================================

	&-invert {
		mix-blend-mode: difference;
		cursor: none;

		&-black {
			background: $white;
		}

		&-white {
			background: $white;
		}
	}

	// Border
	// =========================================================================

	&-border {
		border-color: colour('foreground');

		&-black {
			border-color: $black;
		}

		&-white {
			border-color: $white;
		}
	}

	// Non - Touch Screen
	// =========================================================================

	@media (hover: hover) {
		display: block;
	}
}
