// -----------------------------------------------------------------------------
// _scroll.scss
// This file contains scroll animations.
// -----------------------------------------------------------------------------

.scroll {
	$self: &;
	transition: opacity 300ms ease;
	will-change: opacity;
}

// HTML Scrolled
// =========================================================================

@include media-desk {
	html.scrolled .scroll {
		opacity: 0;
	}
}
