// -----------------------------------------------------------------------------
// _skew.scss
// This file contains all styles related to the skew animation.
// -----------------------------------------------------------------------------

.skew {
	$self: &;

	@media not all and (hover: none) {
		transform: none !important; // Override JS
	}

	@media (hover: hover) {
		transition: transform 100ms linear;
		will-change: transform;
	}
}
