// -----------------------------------------------------------------------------
// _text.scss
// This file contains native text animations such as the H1 bend.
// -----------------------------------------------------------------------------

// Props
// =========================================================================

.char,
.word,
.line {
	opacity: 0;
	transform: none;
}

.line {
	overflow: hidden;
}

// Underline
// =========================================================================

.underline {
	position: absolute;
	display: inline-block;
	left: 0;
	bottom: 2%;
	margin: auto;
	height: $line-size-thick;
	width: 100%;
	background-color: $white;
	transform-origin: left;
}

// Mark
// =========================================================================

.mark {
	transform-origin: 60% 35%;
}
