// -----------------------------------------------------------------------------
// _text.scss
// This file contains native text animations such as the H1 bend.
// -----------------------------------------------------------------------------

// Props
// =========================================================================

.char,
.word,
.line {
	opacity: 0;
	transform: none;
}

// Underline
// =========================================================================

.underline {
	position: absolute;
	display: inline-block;
	left: 0;
	bottom: -1px;
	margin: auto;
	height: 3px;
	width: 100%;
	background-color: colour('foreground');
	transform-origin: left;

	@include media-mob {
		bottom: 2%;
		height: $line-size-thick;
	}
}

// Mark
// =========================================================================

.mark {
	transform-origin: 60% 35%;
}
