// -----------------------------------------------------------------------------
// _toast.scss
// This file contains all styles related to the toast component.
// -----------------------------------------------------------------------------

.toastify {
	position: fixed;
	display: inline-flex;
	align-items: center;
	max-width: 80vw;
	padding: 12px 30px;
	background-color: colour('foreground');
	color: colour('background');
	border-radius: 4px;
	opacity: 0;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
	cursor: pointer;
	text-decoration: none;
	z-index: $header-z-index + 1000;
	font-weight: bold;

	// Close
	// =========================================================================

	&-close {
		display: inline-flex;
		align-items: center;
		height: 0;
		justify-content: center;
		opacity: 1;
		margin-left: 10px;
		color: colour('background');
		font-size: 1.6rem;
		line-height: 0;
		transform: translateY(-3px);
	}

	// Props
	// =========================================================================

	&.on {
		opacity: 1;
	}

	.toast-close {
		display: none;
	}

	&-right {
		right: 5vw;
	}

	&-left {
		left: 5vw;
	}

	&-top {
		top: -150px;
	}

	&-bottom {
		bottom: -150px;
	}

	// Desktop
	// =========================================================================

	@include media-desk {
		max-width: 450px;
	}
}
