// -----------------------------------------------------------------------------
// _scroll.scss
// This file contains all page transitions.
// -----------------------------------------------------------------------------

.transition {
	$self: &;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: transparent;

	// Logo
	// =========================================================================

	&-logo {
		display: block;
		width: 45vw;
		min-width: 200px;
		max-width: 500px;
		opacity: 0;
		z-index: 10;
	}
}
