// -----------------------------------------------------------------------------
// _zoom.scss
// This file contains zoom animations for images.
// -----------------------------------------------------------------------------

.zoom {
	$self: &;
	overflow: clip;

	// Element
	// =========================================================================

	&-element {
		transition: transform 400ms ease;
		will-change: transform;
	}

	// Overflow
	// =========================================================================

	&-overflow {
		overflow: clip;
	}

	// Touch Screens
	// =========================================================================

	@include touch {
		&:hover #{$self}-element {
			transform: scale(1.1);
		}
	}
}
