{{ define "main" }}
	<!-- =====================
		Guidelines Single
		===================== -->
	<div class="guidelines-container">
		<!-- =====================
			Header
			===================== -->
		{{ partial "guidelines/header.html" . }}
		<!-- =====================
			Menu
			===================== -->
		{{ partial "guidelines/sidebar.html" . }}
		<!-- =====================
			Content
			===================== -->
		<article class="guidelines-content">
			<div class="guidelines-content-container">
				<!-- Title -->
				<div class="guidelines-content-heading">
					<h1 class="heading-2">
                        {{ .Title }}
					</h1>
				</div>
				<!-- Page Content -->
				<div class="guidelines-content-richtext richtext richtext-small-format">
					{{ .Content | replaceRE "/a>\n" "/a>" | safeHTML  }}
				</div>
				<!-- Next & Prev Links -->
				{{ $showPrevNext := true -}}
				{{ if eq .Params.showprevnext false -}}
					{{ $showPrevNext = false -}}
				{{ end -}}
				{{ if $showPrevNext -}}
					<div class="box-link-container">
						{{ $nextPrev := partial "util/_guidelines-next-prev.html" . }}
						<!-- Previous Link -->
						{{ with $nextPrev.Get "previous" -}}
							{{ $page := $.Site.GetPage (strings.TrimSuffix "/" .URL) }}
							{{ partial "components/box-links.html" (dict
								"link" $page.RelPermalink
								"heading" (printf "%s - %s" .Parent .Name)
								"sub" "Previous"
								"left" true
								"title" (printf "Navigate to the %s page" $page.Title)
							)}}
						{{- end }}
						<!-- Next Link -->
						{{ with $nextPrev.Get "next" -}}
							{{ $page := $.Site.GetPage (strings.TrimSuffix "/" .URL) }}
							{{ partial "components/box-links.html" (dict
								"link" $page.RelPermalink
								"heading" (printf "%s - %s" .Parent .Name)
								"sub" "Next"
								"left" false
								"title" (printf "Navigate to the %s page" $page.Title)
							)}}
						{{- end }}
					</div>
				{{- end }}
				<!-- Footer -->
				{{ partial "guidelines/footer.html" . }}
			</div><!-- /Container -->
			<!-- =====================
				Table of Contents
				===================== -->
			{{ $toc := .TableOfContents | safeHTML }}
			{{ if ne $toc "<nav id=\"TableOfContents\"></nav>" }}
				<aside class="toc guidelines-toc">
					<div class="toc-wrapper">
						<!-- Title -->
						<h6 class="toc-title">
							On this page
						</h6>
						<!-- Contents -->
						{{ $toc }}
					</div>
				</aside>
			{{- end }}
		</article>
	</div><!-- /Container -->
{{ end }}
