// -----------------------------------------------------------------------------
// _colours.scss
// Add colours via colour variables, darken & lighten.
// -----------------------------------------------------------------------------

// Helper Classes
// =========================================================================

@each $color-name, $hex in $palette {
	@each $attr-name, $attr in $color-attr {
		.#{$attr-name}-#{'' + $color-name} {
			#{$attr}: $hex !important;
		}
	}
}

// Colour
// =========================================================================

.colour {
	&-foreground {
		color: colour('foreground');

		* {
			color: colour('foreground');
		}
	}

	&-white {
		color: $white;

		* {
			color: $white;
		}
	}
}
