// -----------------------------------------------------------------------------
// _colours.scss
// Add colours via colour variables, darken & lighten.
// -----------------------------------------------------------------------------

@each $color-name, $hex in $palette {
	@each $attr-name, $attr in $color-attr {
		.#{$attr-name}-#{"" + $color-name} {
			#{$attr}: $hex !important;
		}
	}
}
