// -----------------------------------------------------------------------------
// _filter.scss
// This file contains all styles related to all filters as util classes.
// -----------------------------------------------------------------------------

// Brightness
// =========================================================================

@for $i from 0 through 20 {
	.brightness-#{$i * 5} {
		filter: brightness(#{$i * 5 / 100});
	}
}
