// -----------------------------------------------------------------------------
// _card.scss
// This file contains all styles related to the card component.
// -----------------------------------------------------------------------------

.card {
	$self: &;

	position: relative;
	text-decoration: none;

	// Image
	// =========================================================================

	&-image {

		img {
			width: 100%;
		}
	}

	// Image
	// =========================================================================

	&-text {

		* {
			margin-bottom: 0;
			text-decoration: none;
		}
	}

	// Tablet
	// =========================================================================

	@include media-tab {
	}

	// Desktop
	// =========================================================================

	@include media-desk {
	}
}
