// -----------------------------------------------------------------------------
// _gradient.scss
// This file contains all styles related to linear gradients and shades
// -----------------------------------------------------------------------------

.gradient {
	$self: &;

	position: relative;

	// Element
	// =========================================================================

	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		height: 30%;
		width: 100%;
		background: linear-gradient(180deg, rgba($black, 0) 0%, rgba($black, 1) 100%);
		z-index: 10;
	}

	// Size
	// =========================================================================


	// Colour
	// =========================================================================

	&-black {

	}


	// Tablet
	// =========================================================================

	@include media-tab {
	}

	// Desktop
	// =========================================================================

	@include media-desk {
	}
}
