// -----------------------------------------------------------------------------
// _image.scss
// This file contains all styles related to the image component.
// -----------------------------------------------------------------------------

.image {
	$self: &;

	position: relative;
	display: flex;
	width: 100%;
	height: auto;

	// Image
	// =========================================================================

	img,
	source {
		width: 100%;
	}
}
