{{ define "main" }}
	<!-- =====================
		Insights List
		===================== -->
	<section class="hero hero-simple margin-title animate-fade">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-desk-10">
					<!-- Title -->
                    {{ with .Params.htmlTitle }}
						<h1 class="mb-0">
							{{ . | safeHTML }}
						</h1>
                    {{- else -}}
                        {{ warnf "No HTML title provided in Params for Portfolio index page" }}
                    {{- end }}
				</div><!-- /Col -->
			</div><!-- /Row -->
		</div><!-- /Container -->
	</section>
	<!-- =====================
		Items
		===================== -->
	{{ $paginator := .Paginate .Pages.ByDate.Reverse 14 -}}
	{{ if $paginator.Pages -}}
		<section class="section section-padding section-padding-bottom animate-fade" id="pages">
			<div class="container">
				<!-- Cards -->
				<div class="row justify-content-center">
                    {{ range $paginator.Pages -}}
						<div class="col-12 col-desk-10 card-col">
                            {{ .Render "card" }}
						</div><!-- /Col -->
                    {{- end }}
				</div><!-- /Row -->
				<!-- Previous / Next -->
				<div class="row justify-content-center">
					<div class="col-12 col-desk-10">
                        {{ partial "components/pagination.html" (dict
							"prev" $paginator.Prev
							"next" $paginator.Next
                        )}}
					</div><!-- /Col -->
				</div><!-- /Row -->
			</div><!-- /Container -->
		</section>
    {{- end }}
{{ end }}
