{{ define "main" }}
	<!-- =====================
		Insights Single
		===================== -->
	<section class="hero hero-simple hero-simple-padding-bottom"
		 data-cursor-white data-scroll-section>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-tab-10 col-desk-8 col-desk-large-7 d-flex flex-column order-desk-first">
					<!-- =====================
						Intro
						===================== -->
					<header class="insight-intro">
						<!-- Crumbs -->
						<div class="insight-intro-crumbs">
                            {{ partial "components/breadcrumbs.html" . }}
						</div>
						<!-- Tags -->
						{{ with .Params.tags }}
							<div class="insight-intro-tags">
								{{ range . -}}
									<span class="tag">{{ . }}</span>
								{{- end }}
							</div>
						{{- end }}
					</header><!-- /Intro -->
					<!-- =====================
						Title
						===================== -->
					<h1 class="heading-1 heading-1-small margin">
                        {{ .Title | safeHTML }}
					</h1>
					<!-- =====================
						Meta
						===================== -->
					<div class="insight-meta">
						{{ .Render "social" }}
                        {{ .Render "author" }}
					</div>
					<!-- =====================
						Content
						===================== -->
					<article class="richtext">
                        {{ .Content | replaceRE "/a>\n" "/a>" | safeHTML  }}
					</article>
				</div><!-- /Col -->
			</div><!-- /Row -->
		</div><!-- /Container -->
	</section>
	<!-- =====================
		Other Reads
		===================== -->
	{{ .Render "related"}}
{{ end }}

