/**
 * app.scss
 * Imports all files from abstracts, base, components, layout, pages & vendor.
 *
 * @author Ainsley Clark
 * @author URL:   https://ainsley.dev
 * @author Email: hello@ainsley.dev
 */

/*  ====================
    Abstracts
    ==================== */
@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/variables';

/* ====================
    Vendor
    ==================== */
@import 'node_modules/normalize.css/normalize';
@import './vendor/highlight';

/* ====================
    Base
    ==================== */
@import 'base/global';
@import 'base/fonts';
@import 'base/typography';

/* ====================
    Animations
    ==================== */
@import 'animations/cursor';
@import 'animations/lazy';
@import 'animations/skew';
@import 'animations/toast';

/* ====================
    Grid
    ==================== */
@import 'grid/grid';
@import 'grid/flex';
@import 'grid/order';
@import 'grid/display';

/* ====================
    Util
    ==================== */
@import 'util/colors';
@import 'util/filter';
@import 'util/gradient';
@import 'util/spacing';

/* ====================
    Components
    ==================== */
@import 'components/accordion';
@import 'components/arrow';
@import 'components/button';
@import 'components/card';
@import 'components/code';
@import 'components/highlight';
@import 'components/image';
@import 'components/list';
@import 'components/quote';
@import 'components/social';
@import 'components/table';
@import 'components/rule';
@import 'components/tag';
@import 'components/todo';
@import 'components/vertical';
@import 'components/video';

/* ====================
    Layout
    ==================== */
@import 'layout/aside';
@import 'layout/footer';
@import 'layout/form';
@import 'layout/header';
@import 'layout/hero';
@import 'layout/nav';
@import 'layout/richtext';
@import 'layout/section';

/* ====================
    Sections
    ==================== */
@import 'sections/banner';
@import 'sections/map';
@import 'sections/quote';

/* ====================
    Pages
    ==================== */
@import 'pages/brand';
@import 'pages/contact';
@import 'pages/home';
@import 'pages/portfolio';

/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
	overflow: hidden;
}

html.has-scroll-dragging {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.has-scroll-smooth body {
	overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
	min-height: 100vh;
}

[data-scroll-direction='horizontal'] [data-scroll-container] {
	height: 100vh;
	display: inline-block;
	white-space: nowrap;
}

[data-scroll-direction='horizontal'] [data-scroll-section] {
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
	height: 100%;
}

.c-scrollbar {
	position: absolute;
	right: 0;
	top: 0;
	width: 11px;
	height: 100%;
	transform-origin: center right;
	transition: transform 0.3s, opacity 0.3s;
	opacity: 0;
}
.c-scrollbar:hover {
	transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
	opacity: 1;
}
[data-scroll-direction='horizontal'] .c-scrollbar {
	width: 100%;
	height: 10px;
	top: auto;
	bottom: 0;
	transform: scaleY(1);
}
[data-scroll-direction='horizontal'] .c-scrollbar:hover {
	transform: scaleY(1.3);
}

.c-scrollbar_thumb {
	position: absolute;
	top: 0;
	right: 0;
	background-color: black;
	opacity: 0.5;
	width: 7px;
	border-radius: 10px;
	margin: 2px;
	cursor: -webkit-grab;
	cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
	cursor: -webkit-grabbing;
	cursor: grabbing;
}
[data-scroll-direction='horizontal'] .c-scrollbar_thumb {
	right: auto;
	bottom: 0;
}
