/**
 * app.scss
 * Imports all files from abstracts, base, components, layout, pages & vendor.
 *
 * @author Ainsley Clark
 * @author URL:   https://ainsley.dev
 * @author Email: hello@ainsley.dev
 */

/*  ====================
    Abstracts
    ==================== */
@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/variables';

/* ====================
    Vendor
    ==================== */
@import 'node_modules/normalize.css/normalize';
@import './vendor/syntax';

/* ====================
    Base
    ==================== */
@import 'base/global';
@import 'base/fonts';
@import 'base/typography';

/* ====================
    Animations
    ==================== */
@import 'animations/cursor';
@import 'animations/lazy';
@import 'animations/locomotive';
@import 'animations/scroll';
@import 'animations/skew';
@import 'animations/text';
@import 'animations/toast';
@import 'animations/transition';
@import 'animations/zoom';

/* ====================
    Grid
    ==================== */
@import 'grid/grid';
@import 'grid/flex';
@import 'grid/order';
@import 'grid/display';

/* ====================
    Util
    ==================== */
@import 'util/colours';
@import 'util/filter';
@import 'util/gradient';
@import 'util/spacing';

/* ====================
    Components
    ==================== */
@import 'components/accordion';
@import 'components/all-articles';
@import 'components/arrow';
@import 'components/before-after';
@import 'components/breadcrumbs';
@import 'components/button';
@import 'components/card';
@import 'components/code';
@import 'components/highlight';
@import 'components/image';
@import 'components/list';
@import 'components/pagination';
@import 'components/placeholder';
@import 'components/quote';
@import 'components/social';
@import 'components/table';
@import 'components/rule';
@import 'components/tag';
@import 'components/todo';
@import 'components/vertical';
@import 'components/video';

/* ====================
    Layout
    ==================== */
@import 'layout/aside';
@import 'layout/footer';
@import 'layout/form';
@import 'layout/header';
@import 'layout/hero';
@import 'layout/nav';
@import 'layout/richtext';
@import 'layout/section';

/* ====================
    Sections
    ==================== */
@import 'sections/banner';
@import 'sections/map';
@import 'sections/quote';

/* ====================
    Pages
    ==================== */
@import 'pages/brand';
@import 'pages/contact';
@import 'pages/home';
@import 'pages/insight';
@import 'pages/portfolio';
