/**
 * no-js.scss
 * All no-js CSS stored here.
 *
 * @author Ainsley Clark
 * @author URL:   https://ainsley.dev
 * @author Email: hello@ainsley.dev
 */

/*  ====================
    Imports
    ==================== */
@import './abstracts/mixins';
@import './abstracts/variables';

// Global
// =========================================================================

body {
	opacity: 1;
}

// Cursor
// =========================================================================

.cursor {
	display: none;
}

// Header
// =========================================================================

.header {
	background-color: $black;

	&-logo path {
		fill: $white !important; // Override native CSS
	}
}

// Nav
// =========================================================================

.nav {
	$self: &;
	visibility: hidden;
	transition: opacity 700ms, visibility 700ms step-end;
	opacity: 0;

	// Active
	// =========================================================================

	&-checkbox:checked ~ #{$self},
	&-active {
		opacity: 1 !important; // Override inline
		visibility: visible;
		transition: opacity 700ms, visibility 700ms step-start;
	}

	// Colour
	// =========================================================================

	&-btn-arrow path {
		fill: $white !important; // Override inline
	}

	&-btn-text {
		color: $white !important; // Override inline
	}
}
