/**
 * no-js.scss
 * All no-js CSS stored here.
 *
 * @author Ainsley Clark
 * @author URL:   https://ainsley.dev
 * @author Email: hello@ainsley.dev
 */

/*  ====================
    Imports
    ==================== */
@import './abstracts/mixins';
@import './abstracts/variables';

// Global
// =========================================================================

body {
	opacity: 1;
}

// Cursor
// =========================================================================

.cursor {
	display: none;
}

// Header
// =========================================================================

.header {
	background-color: $black;

	&-logo path {
		fill: $white !important; // Override native CSS
	}
}

// Nav
// =========================================================================

.nav {
	$self: &;
	display: flex;
	visibility: hidden;
	opacity: 0;

	// Active
	// =========================================================================

	&-checkbox:checked ~ #{$self},
	&-active {
		visibility: visible;
		opacity: 1 !important; // Override inline
	}

	// Colour
	// =========================================================================

	&-btn-arrow path {
		fill: $white !important; // Override inline
	}

	&-btn-text {
		color: $white !important; // Override inline
	}

	// Arrow
	// =========================================================================

	&-link {
		&-text {
			transform: none !important;
		}

		&::after {
			display: none;
		}
	}
}

// Accordion
// =========================================================================

.accordion {
	&-content {
		max-height: initial;
	}

	&-item {
		pointer-events: none;
	}

	&-header::after {
		display: none;
	}
}

// Arrow
// =========================================================================

.arrow {

	&-hover {
		display: inline-block;
	}
}

// Zoom
// =========================================================================

.zoom-element {
	transform: none !important;
}

