{{ define "main" }}
	<!-- =====================
		Portfolio List
		===================== -->
	<section class="hero hero-simple hero-simple-padding-bottom" data-scroll-section>
		<div class="container">
			<div class="row hero-animate" data-scroll data-scroll-speed="3" data-scroll-position="top">
				<!-- Heading -->
				<div class="col-12 col-desk-11 offset-desk-1">
                    {{ with .Params.heading -}}
						<h1>
							{{ . | safeHTML }}
						</h1>
					{{- else -}}
                        {{ warnf "No heading param provided to page: %s" .RelPermalink }}
					{{- end }}
				</div><!-- /Col -->
				<!-- Lead -->
				<div class="col-12 col-desk-6 offset-desk-1">
                    {{ with .Params.lead -}}
						<p class="lead mb-0">
							{{ . }}
						</p>
					{{- end }}
				</div><!-- /Col -->
			</div><!-- /Row -->
		</div><!-- /Container -->
	</section>
	<!-- =====================
		Items
		===================== -->
	{{ $paginator := .Paginate .Pages.ByWeight 10 -}}
    {{ if $paginator.Pages -}}
		<section class="section section-padding section-padding-bottom" id="pages" data-scroll-section>
			<div class="container">
				<!-- Cards -->
				<div class="row">
                    {{ range $index, $page := $paginator.Pages }}
                        {{ $isLeft := eq (mod $index 2) 0 }}
						<div class="col-12 col-mob-6 col-desk-5 {{ if not $isLeft }} offset-desk-2 {{- end }} card-col
							animate-up" {{ if or (eq $index 0) (eq $index 1) -}} data-animate-delay="400" {{- end }}>
							<div class="row {{ if not $isLeft }} justify-content-end {{- end }}">
								<div class="col-12 col-mob-11 col-desk-12">
									{{ $lazy := true }}{{ if or (eq $index 0) (eq $index 1) }}{{ $lazy = false }}{{ end }}
                                    {{ partial "cards/vertical.html" (dict
										"title" .Params.heading
										"sub" .Params.company
										"permalink" .RelPermalink
										"image" (.Resources.GetMatch "images/card.jpg")
										"clip" (.Resources.GetMatch "images/card-hover.jpg")
										"animate" true
										"lazy" $lazy
                                    )}}
								</div><!-- /Col -->
							</div><!-- /Row -->
						</div><!--- /Col -->
                    {{- end }}
				</div><!-- /Row -->
				<!-- Previous / Next -->
				<div class="row">
					<div class="col-12">
                        {{ partial "components/pagination.html" (dict
							"prev" $paginator.Prev
							"next" $paginator.Next
                        )}}
					</div><!-- /Col -->
				</div><!-- /Row -->
			</div><!-- /Container -->
		</section>
    {{- end }}
	<!-- =====================
		Banner
		===================== -->
	{{ partial "sections/banner.html" }}
{{ end }}
