<!-- =====================
    Image
		partial "media/image.html" (dict
			"image" (resources.Get "hello.jpg")
			"lazy" true
			"class" "class-name"
			"width" "100px"
		)
		- image:	The image resource. A warning will be thrown without this key.
		- alt:		The alternative text for the image. A warning will be thrown without this key.
		- lazy:		If the image should be lazy loaded, defaults to false.
		- class:	Any class names to be appended to the <picture> element.
		- width:	Optional width in px for the image (for SVG images).
		- height:	Optional height in px for the image (for SVG images).
    ===================== -->
{{ if not .alt -}} {{ warnf "No alt text provided for image: %s" .image.RelPermalink }} {{- end }}
{{ if .image }}
	<!-- SVG -->
	{{ if eq .image.MediaType.SubType "svg" }}
		<img {{ if .lazy }} loading="lazy" {{- end }}
			src="{{ .image.RelPermalink }}"
			class="image-svg {{ with .class -}} {{ . }} {{- end }}"
			{{ with .alt -}} alt="{{ . }}" {{- end }}
            {{ with .width -}} width="{{ . }}px" {{- end }}
			{{ with .height -}} height="{{ . }}px" {{- end }}>
	<!-- JPG/PNG -->
	{{- else -}}
		<!-- Original - AVIF/WebP -->
        {{ if site.Params.config.webpAvif -}}
            {{ $noExtension := strings.TrimSuffix (path.Ext .image.RelPermalink) .image.RelPermalink }}
			<!-- AVIF -->
			<img {{ if .lazy }} loading="lazy" {{- end }}
				src="{{ $noExtension }}.avif"
				class="{{ with .class -}} {{ . }} {{- end }}"
				alt="{{ with .alt -}} {{ . }} {{- end }}"
				type="image/avif"
				width="{{ .image.Width }}"
				height="{{ .image.Height }}"/>
			<!-- WebP -->
			<img {{ if .lazy }} loading="lazy" {{- end }}
				src="{{ $noExtension }}.webp"
				{{ with .class -}} class="{{ . }}" {{- end }}
				alt="{{ with .alt -}} {{ . }} {{- end }}"
				type="image/webp"
				width="{{ .image.Width }}"
				height="{{ .image.Height }}"/>
        {{- end }}
		<!-- Original - Image -->
		<img {{ if .lazy }} loading="lazy" {{- end }}
			src="{{ .image.RelPermalink }}"
			class="{{ with .class -}} {{ . }} {{- end }}"
            {{ with .alt -}} alt="{{ . }}" {{- end }}
			width="{{ .image.Width }}"
			height="{{ .image.Height }}"/>
	{{- end }}
{{- else -}}
    {{ warnf "Image not found: %v" . }}
{{- end }}
