<!-- =====================
    Image
		partial "media/image.html" (dict
			"image" (resources.Get "hello.jpg")
			"alt" "Alternative text"
			"lazy" true
			"class" "class-name"
		)
		- image:	The image resource. A warning will be thrown without this key.
		- alt:		The alternative text for the image. A warning will be thrown without this key.
		- lazy:		If the image should be lazy loaded, defaults to false.
		- class:	Any class names to be appended to the <picture> element.
    ===================== -->
{{ if not .alt -}}
	{{- warnf "No alt text provided for image: %s" .image.RelPermalink -}}
{{- end }}
{{ if .image }}
	<!-- SVG -->
	{{ if eq .image.MediaType.SubType "svg" }}
		{{ $width := replaceRE `width="(.*?)"` "$1" (index (findRE `width="(.*?)"` .image.Content) 0) }}
		{{ $height := replaceRE `height="(.*?)"` "$1" (index (findRE `height="(.*?)"` .image.Content) 0) }}
		{{ if or (not $width) (not $height) -}}
			{{- warnf "No width or height provided for image: %s" .image.RelPermalink -}}
		{{- end }}
		<img {{ if .lazy }} loading="lazy" {{- end }}
			src="{{ .image.RelPermalink }}"
			class="image-svg {{ with .class -}} {{ . }} {{- end }}"
			{{ with .alt -}} alt="{{ . }}" {{- end }}
            {{ with $width -}} width="{{ . }}px" {{- end }}
			{{ with $height -}} height="{{ . }}px" {{- end }}>
	<!-- JPG/PNG -->
	{{- else -}}
		<img {{ if .lazy }} loading="lazy" {{- end }}
			src="{{ .image.RelPermalink }}"
			class="{{ with .class -}} {{ . }} {{- end }}"
            {{ with .alt -}} alt="{{ . }}" {{- end }}
			width="{{ .image.Width }}"
			height="{{ .image.Height }}"/>
	{{- end }}
{{- else -}}
    {{ warnf "Image not found: %v" . }}
{{- end }}
