<!-- =====================
    Video
		partial "media/video.html" (dict
			"video" (resources.Get "video.mp4")
			"poster" (resources.Get "poster.jpg")
			"class" "class-name"
			"attr" data-something
		)
		- video:	The video resource. A warning will be thrown without this key.
		- poster:	The poster image for the video
		- class:	Any class names to be appended to the <video> element.
		- attr:		Any additional attributes to appear.
    ===================== -->
{{ if .video }}
	<!-- Container -->
	<div class="video-container">
		<!-- Video -->
		<video
			class="video"
			{{ with .poster }} poster="{{ . }}" {{ end }}
			{{ with .attr -}} {{ . | safeHTMLAttr -}} {{- end }}
			controls
			preload="none">
            {{- $noExtension := partial "util/_trim-extension.html" .video.RelPermalink -}}
			<!-- WebM -->
            {{ if os.FileExists (printf "%s.webm" $noExtension) }}
				<source src="{{ $noExtension }}.webm"
					type="video/webm"/>
			{{- else -}}
				{{ warnf "No WebM video found: %s" .video }}
            {{- end }}
			<!-- Compressed -->
            {{ if os.FileExists (printf "%s-compressed.mp4" $noExtension) -}}
				<source src="{{ $noExtension }}-compressed.mp4"
					type="video/mp4"/>
			{{- else -}}
				{{ warnf "No compressed MP4 video found: %s" .video }}
            {{- end }}
			<!-- Original -->
			<source src="{{ $noExtension }}.mp4"
				type="video/mp4"/>
		</video>
		<!-- Play Button -->
		<div class="video-button cursor-element skew"
			data-cursor-invert data-cursor-invert-white
			data-skew-transform-x="0.15" data-skew-transform-y="0.15"
			data-skew-rotate-x="-0.1" data-skew-rotate-y="-0.1"
			data-skew-rotate>
	</div><!-- /Container -->
{{- else -}}
	{{ warnf "Video not found: %v" . }}
{{- end }}


