<!-- =====================
    Video
		partial "media/video.html" (dict
			"video" (resources.Get "video.mp4")
			"poster" (resources.Get "poster.jpg")
			"class" "class-name"
			"attr" data-something
			"lazy" true
		)
		- video:	The video resource. A warning will be thrown without this key.
		- poster:	The poster image for the video
		- class:	Any class names to be appended to the <video> element.
		- attr:		Any additional attributes to appear.
		- lazy:		If the video should be lazy loaded, defaults to false.
    ===================== -->
{{ if .video }}
	<!-- Container -->
	<div class="video-container {{ if .full -}} video-full {{- end }}"
		{{ if .controls -}} data-controls {{- end }}>
		<!-- Video -->
		<video
			class="video"
				playsinline
                {{ with .poster }} poster="{{ .RelPermalink }}" {{ end }}
                {{ with .attr -}}
					{{ $attr := "" }}
					{{ if $.lazy -}} {{- $attr = replaceRE "autoplay" "" . -}} {{- end}}
					{{ $attr | safeHTMLAttr -}}
				{{- end }}
                {{ if .lazy -}} data-lazy preload="none" {{- end }}>
            {{- $noExtension := partial "util/_trim-extension.html" .video.RelPermalink -}}
			<!-- WebM -->
            {{ if os.FileExists (printf "%s.webm" $noExtension) }}
				<source src="{{ $noExtension }}.webm"
						type="video/webm"/>
            {{- else -}}
                {{ warnf "No WebM video found: %s" .video }}
            {{- end }}
			<!-- Compressed -->
            {{ if os.FileExists (printf "%s-compressed.mp4" $noExtension) -}}
				<source src="{{ $noExtension }}-compressed.mp4"
						type="video/mp4"/>
            {{- else -}}
                {{ warnf "No compressed MP4 video found: %s" .video }}
            {{- end }}
			<!-- Original -->
			<source src="{{ $noExtension }}.mp4"
					type="video/mp4"/>
		</video>
		<!-- Play Button -->
        {{ if and (not .lazy) (.not .autoplay) (not .loop) -}}
			<div class="video-button cursor-element"
				 data-cursor-invert data-cursor-invert-white>
			</div>
        {{- end }}
		{{ if .full -}}
			<!-- Close -->
			<div class="video-close">
                {{  partial "components/button.html" (dict
					"text" "Close"
					"colour" "white"
					"size" "tiny"
					"class" "video-full-close"
					"title" "Close the video"
					"attr" "data-cursor-invert data-cursor-invert-black"
                )}}
			</div><!-- Close -->
		{{- end }}
		{{ if .controls -}}
			{{ partial "components/video-controls.html" . }}
		{{- end }}
	</div><!-- /Container -->
{{- else -}}
    {{ warnf "Video not found: %v" . }}
{{- end }}
