<!-- =====================
    Banner
		< sections/quote sub="Get in touch" cite="ainsley.dev" >
		- text:		TODO
    ===================== -->
<section class="banner">
	<!-- Image -->
	<picture class="banner-image">
		{{ partial "media/picture.html" (dict
			"image" (resources.Get "images/banners/desk.jpg")
			"lazy" true
		)}}
	</picture>
	<!-- Content -->
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="banner-content">
					<h6>Get in touch</h6>
					<h2>Say <span class="type-serif">hello*</span></h2>
				</div>
			</div><!-- /Col -->
		</div><!-- /Row -->
	</div><!--- /Col -->
</section>
