<!-- =====================
    Banner
		partial "sections/banner.html" (dict
    		"text" "Text"
    		"sub" "Sub heading"
    		"image" (resources.Get "hello.jpg")
    		"brightness" 80
    	)}}
		- text:			The content of the banner.
		- sub:			The sub heading for the banner.
		- image:		The image resource for the banner.
		- brightness:	How bright the image should be from 0 to 100.
    ===================== -->
<a href="/temp" class="banner arrow-hover zoom cursor-element"
	title="Get in touch with ainsley.dev"
	aria-label="Navigate to the contact page"
	data-cursor-border data-cursor-border-white data-cursor-scale="3">
	<!-- Image -->
	<picture class="banner-image zoom-overflow
		{{ with .brightness -}} brightness-{{ . }} {{ else }} brightness-50 {{- end }}">
		{{ $image := resources.Get "images/banners/desk.jpg" -}}
		{{- if .image }}
			{{- $image = .image -}}
		{{- end }}
		{{ partial "media/picture.html" (dict
			"image" $image
			"lazy" true
			"alt" "ainsley.dev Office"
			"class" "zoom-element"
		)}}
	</picture><!-- /Image -->
	<!-- Content -->
	<div class="container">
		<div class="row">
			<div class="col-12 col-desk-9 offset-desk-2">
				<!-- Content -->
				<div class="banner-content">
					<!-- Sub -->
					<h6 class="banner-sub margin">
                        {{ with .sub }}
                            {{ . | safeHTML}}
                        {{- else -}}
							Get in touch
                        {{- end }}
					</h6>
					<!-- Title -->
					<span class="banner-title heading-1">
					  {{ with .text }}
                          {{ . | safeHTML }}
						{{- else -}}
							Say <br/><span class="type-serif">hello*</span>
						{{- end }}
					</span>
					<!-- Arrow Link -->
                    {{ partial "arrow/hover.html" (dict
						"rotation" 45
						"colour" .colour
						"stroke" 1
					)}}
				</div><!-- /Content -->
			</div><!-- /Col -->
		</div><!-- /Row -->
	</div><!--- /Col -->
</a>
