<!-- =====================
    Map
		partial "sections/map.html"
    ===================== -->
<section class="map-wrapper">
	<div class="map"></div>


	<div class="container">
		<div class="row">
			<div class="col-12 col-desk-3">
				<div class="map-info">
					<h6>Write to us</h6>
					<address>
						<h5>
							ainsley.dev LTD<br/>
							71-75 Shelton Street<br/>
							Covent Garden<br/>
							London<br/>
							WC2H 9JQ
						</h5>
					</address>
				</div>
			</div><!-- /Col -->
		</div><!-- /Row -->
	</div><!-- /Container -->
</section>
