// -----------------------------------------------------------------------------
// _base.scss
// This file contains very basic styles to reset document.
// -----------------------------------------------------------------------------

// Global
// =========================================================================

html,
body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

body {
	background-color: $black;

	.light {
		background-color: $white;

		// TODO: Classes
	}
}

section {
	position: relative;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

// Resets
// =========================================================================

figure {
	margin: 0;
}

ul {
	list-style-type: none;
}

// Selection Color
// =========================================================================

::selection {
	background: $white; /* WebKit/Blink Browsers */
	color: #000; //!SET
}
::-moz-selection {
	background: $white; /* Gecko Browsers */ // sass-lint:disable-line no-vendor-prefixes
	color: #000; //!SET
}
