// -----------------------------------------------------------------------------
// _base.scss
// This file contains very basic styles to reset document.
// -----------------------------------------------------------------------------

// Global
// =========================================================================

html {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: $font;
	font-size: 1rem;
	line-height: 1.6;

	font-kerning: normal;
	-webkit-font-smoothing: antialiased; // sass-lint:disable-line  no-vendor-prefixes
	-webkit-tap-highlight-color: transparent; // sass-lint:disable-line  no-vendor-prefixes
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background-color: $black;

	&.theme-white {
		background-color: $white;
		--colour-background: $white;
		--colour-foreground: $black;
	}
}

section {
	position: relative;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

// Resets
// =========================================================================

figure {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

// Selection Color
// =========================================================================

::selection {
	background: colour(background); /* WebKit/Blink Browsers */
	color: colour(background);
}
::-moz-selection {
	background: colour(background); /* Gecko Browsers */ // sass-lint:disable-line no-vendor-prefixes
	color: colour(background);
}
