// -----------------------------------------------------------------------------
// _typography.scss
// This file contains all type declerations (h1, h2, p etc) for whole site.
// -----------------------------------------------------------------------------

// Global
// =========================================================================

html,
body {
	font-size: 90%;

	@include media-small-phones {
		font-size: 85%;
	}

	@include media-tab {
		font-size: 95%;
	}

	@include media-desk {
		font-size: 100%;
	}

	@include media-hd {
		font-size: 102.5%;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	color: colour(foreground);
}

// Headings
// =========================================================================

h1,
.heading-1,
h2,
.heading-2,
h3,
.heading-3,
h4,
.heading-4,
h5 {
	color: colour(foreground);
	display: block;
	letter-spacing: -0.6px;
	line-height: 1.2;
}

h1,
.heading-1 {
	@include fluid-type(320px, 1408px, 34px, 68px);
	margin-bottom: 1.2rem;
}

h2,
.heading-2 {
	@include fluid-type(320px, 1408px, 30px, 50px);
	margin-bottom: 1.1rem;
}

h3,
.heading-3 {
	@include fluid-type(320px, 1408px, 26px, 37px);
	margin-bottom: 1rem;
}

h4,
.heading-4 {
	@include fluid-type(320px, 1408px, 22px, 29px);
	margin-bottom: 0.9rem;
}

h5,
.heading-5 {
	@include fluid-type(320px, 1408px, 19px, 21.5px);
	margin-bottom: 0.8rem;
}

h6,
.heading-6 {
	display: block;
	color: colour(copy-dark);
	font-size: 0.9rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	line-height: 1;
	margin-bottom: 0.8rem;
}

// Paragraph
// =========================================================================

p {
	color: colour(copy-dark);
	margin-bottom: 1rem;

	.lead {
		@include px-to-rem(19);
	}
}

// Links
// =========================================================================

a {
	font-size: 1rem;
	color: colour(foreground);
	font-weight: bold;
	text-decoration: underline;
	transition: color 160ms ease;

	&:hover {
		color: var(--link-hover-colour);
	}
}

// Small
// =========================================================================

small {
	display: inline-block;
	color: colour(copy-dark);
	font-size: 12px;
	line-height: 1.8;
}

// Selection Color
// =========================================================================

::selection {
	background: $white;
	color: $black;
}

::-moz-selection {
	background: $white;
	color: $black;
}

.theme-white {
	::selection {
		background: $black;
		color: $white;
	}

	::-moz-selection {
		background: $black;
		color: $white;
	}
}

// Text Containers
// =========================================================================

.text-cont {
	margin-bottom: $text-cont-margin;

	p:last-of-type {
		margin-bottom: 0;
	}

	&-no-margin {
		margin-bottom: 0 !important;
	}

	@include media-tab {
		margin-bottom: $text-cont-margin-tab;
	}

	@include media-desk {
		margin-bottom: $text-cont-margin;
	}
}
