// -----------------------------------------------------------------------------
// _accordion.scss
// This file contains all styles related to the tag component.
// -----------------------------------------------------------------------------

.accordion {
	$self: &;

	position: relative;
	display: flex;
	flex-direction: column;

	// Item
	// =========================================================================

	&-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 1rem;
		padding-right: 1rem;
		cursor: pointer;
		position: relative;
		border-bottom: 1px solid $mark;
		outline: none;

		::marker {
			content: "";
			display: none;
		}

		&:after {
			content: "";
		}

		&-active #{$self}-title:after {
			transform: rotate(45deg);
		}
	}

	// Title
	// =========================================================================

	&-title {
		display: flex;
		justify-content: space-between;
		align-content: center;
		user-select: none;
		padding: 1.2rem 0;

		* {
			margin-bottom: 0;
		}

		&:after {
			content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3e%3cpath d='M17.941%2c0V13.433H16.449V2.546L1.055%2c17.91%2c0%2c16.853%2c15.391%2c1.492H4.475V0Z' transform='translate(17.91) rotate(90)' fill='%239a9a9a'/%3e%3c/svg%3e");
			display: block;
			width: 18px;
			height: 18px;
			transition: transform 200ms ease;
			will-change: transform;
		}
	}

	// Content
	// =========================================================================

	&-content {
		display: block;
		max-height: 0;
		transition: $accordion-height-transition;
		will-change: max-height;
		overflow: hidden;

		* {
			font-size: 1rem;
		}

		p:last-child {
			margin-bottom: 0;
			padding-bottom: 1.2rem;
		}
	}

	// Hover
	// =========================================================================

	&:hover {
		//background-color: pink;
	}
}
