// -----------------------------------------------------------------------------
// _arrow.scss
// This file contains all styles related to the arrow component.
// -----------------------------------------------------------------------------

.arrow {
	$self: &;
	position: relative;
	display: inline-block;
	width: clamp(50px, 5vw, 66px);
	height: clamp(50px, 5vw, 66px);
	transform-origin: center;
	transform: rotate(var(--arrow-rotation));
	margin: 0;

	//path {
	//	stroke-dasharray: 1000;
	//	stroke-dashoffset: 1000;
	//	stroke: rgba($white, 0.2);
	//	stroke-width: 1;
	//	stroke-linejoin: round;
	//	stroke-linecap: round;
	//	paint-order: stroke;
	//
	//	animation: draw 5s linear forwards infinite alternate;
	//	fill: transparent;
	//}
	//
	//@keyframes draw {
	//	0% {
	//		fill: $white;
	//	}
	//	40% {
	//		stroke-dashoffset: 1000;
	//		fill: transparent;
	//	}
	//	100% {
	//		stroke-dashoffset: 0;
	//		fill: none;
	//		background: transparent;
	//	}
	//}

	// Hover
	// =========================================================================

	&-hover {
		position: relative;
		display: inline-block;
		text-decoration: none;
		transition: all 300ms;

		&-hidden,
		&-visible {
			pointer-events: none;
			transition: all 300ms;
		}

		&-hidden {
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	// Text
	// =========================================================================

	&-text {
		position: relative;
		display: inline-flex;
		align-items: center;
		justify-content: flex-start;

		* {
			margin-bottom: 0;
		}

		&-image {
			position: relative;
			transform: translateY(-20%);
			margin-left: 1.6rem;
		}

		&-small &-image {
			transform: scale(0.7) translateY(-20%);
			margin-left: 0;
			margin-right: -10px;
		}
	}
}
