// -----------------------------------------------------------------------------
// _arrow.scss
// This file contains all styles related to the arrow component.
// -----------------------------------------------------------------------------

.arrow {
	$self: &;

	position: relative;
	display: inline-block;
	width: auto;
	height: auto;
	transform-origin: center;
	transform: rotate(var(--arrow-rotation));
	margin: 0;
}
