// -----------------------------------------------------------------------------
// _breadcrumbs.scss
// This file contains all styles related to the breadcrumb component.
// -----------------------------------------------------------------------------

.breadcrumbs {
	$self: &;
	position: relative;
	overflow: clip;

	// Props
	// =========================================================================

	::-webkit-scrollbar {
		display: none;
	}

	// List
	// =========================================================================

	&-list {
		width: 100%;
		display: flex;
		flex-wrap: nowrap;
		margin-bottom: 0;
		overflow-x: scroll;
	}

	// Item
	// =========================================================================

	&-item {
		display: flex;
		align-items: center;
		padding: 10px 0;

		&:not(:first-child)::before {
			content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.483' height='10.022' viewBox='0 0 11.483 10.022'%3E%3Cpath d='M0,11.483,4.182,0H5.832l4.19,11.483H8.278L5.019,1.7l-3.3,9.779Z' transform='translate(11.483) rotate(90)' fill='%23595959' opacity='0.6'/%3E%3C/svg%3E%0A");
			display: inline-block;
			margin-left: 10px;
			margin-right: 10px;
		}

		&:first-child {
			margin-left: 0;
		}
	}

	// Link
	// =========================================================================

	&-link {
		white-space: nowrap;
		font-size: 0.9rem;
		font-weight: normal;
		color: colour('paragraph');
	}

	// Tablet
	// =========================================================================

	@include media-tab {
		&-item {
			padding: 0;
		}

		&-link {
			max-width: 250px;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}
