// -----------------------------------------------------------------------------
// _card.scss
// This file contains all styles related to the card component.
// -----------------------------------------------------------------------------

.card {
	$self: &;
	position: relative;
	display: block;
	text-decoration: none;
	margin-bottom: $card-margin-bottom;
	user-select: none;

	// Col
	// =========================================================================

	&-col {
		position: relative;

		&.col-12:last-child #{$self} {
			margin-bottom: 0;
		}

		&-first #{$self}-basic,
		&:first-child #{$self}-basic {
			padding-top: 0;
		}

		&-last #{$self}-basic,
		&:last-child #{$self}-basic {
			padding-bottom: 0;
			border: none !important;
		}
	}

	// Image
	// =========================================================================

	&-image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		object-fit: cover;

		&-wrapper {
			position: relative;
			width: 100%;
			overflow: hidden;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// Text
	// =========================================================================

	&-text {
		margin-top: $margin;

		* {
			text-decoration: none;
		}

		&-title {
			margin-bottom: 0;
		}

		&-lead {
			font-weight: normal;
			margin-top: 1rem;
		}
	}

	// Basic
	// =========================================================================

	&-basic {
		margin-bottom: 0;
		padding-top: $margin-large;
		padding-bottom: $margin-large;
		border-bottom: var(--card-border);

		#{$self}-text {
			&-title {
				margin-top: -14px;
			}

			&-lead {
				margin-bottom: 0;
			}
		}

		#{$self}-tags {
			margin-top: $margin;
			margin-right: 10px;

			&-reading-time {
				display: none;
				font-weight: 500;
			}
		}

		#{$self}-col {
			background: red;
		}
	}

	// Vertical
	// =========================================================================

	&-vertical {
		#{$self}-image-wrapper {
			padding-top: $card-vertical-padding-top;
		}
	}

	// Horizontal
	// =========================================================================

	&-horizontal {
		#{$self}-image-wrapper {
			padding-top: $card-horizontal-padding-top;
		}
	}

	// Clip
	// =========================================================================

	&-clip {
		position: relative;

		#{$self}-image,
		#{$self}-image-clip {
			display: block;

			source,
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		#{$self}-image-clip {
			position: absolute;
			//opacity: 0;
			z-index: 10;
			pointer-events: none;
			clip-path: circle(0%);

			transform-origin: center;
		}
	}

	// Mods
	// =========================================================================

	@media (min-width: $grid-breakpoint-mob * 1px) and (max-width: $grid-breakpoint-desk * 1px) {
		&-col-mob-no-margin #{$self} {
			margin-top: 0 !important; // Override below
		}
	}

	// Mobile
	// =========================================================================

	@include media-mob {
		&-col:nth-child(even) #{$self}-half-margin {
			margin-top: $section-padding-large;
		}

		&-tags {
			&-item {
				transform: none;
			}

			#{$self}-tags-reading-time {
				display: inline;
				margin-top: 0;
				margin-left: 10px;
			}
		}

		&-half-margin {
			margin-bottom: 0;
		}
	}

	// Tablet
	// =========================================================================

	@include media-tab {
		&-tags-reading-time {
			display: inline-block;
		}
	}

	// Desk
	// =========================================================================

	@include media-desk {
		&-col-padding {
			&#{$self}-col-left {
				padding-right: $margin-large;
			}

			&#{$self}-col-right {
				padding-left: $margin-large;
			}
		}
	}
}
