// -----------------------------------------------------------------------------
// _card.scss
// This file contains all styles related to the card component.
// -----------------------------------------------------------------------------

.card {
	$self: &;
	position: relative;
	display: block;
	text-decoration: none;
	margin-bottom: $card-margin-bottom;
	user-select: none;

	// Props
	// =========================================================================

	//* {
	//	font-weight: inherit;
	//}

	// Col
	// =========================================================================

	&-col {
		position: relative;

		&.col-12:last-child #{$self} {
			margin-bottom: 0;
		}

		&:first-child #{$self}-basic {
			padding-top: 0;
		}

		&:last-child #{$self}-basic {
			padding-bottom: 0;
			border: none;
		}
	}

	// Image
	// =========================================================================

	&-image {
		position: relative;
		display: block;

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			bottom: auto;
			left: 0;
			right: auto;
			object-fit: cover;
		}
	}

	// Text
	// =========================================================================

	&-text {
		margin-top: $margin;

		* {
			text-decoration: none;
		}

		&-title {
			margin-bottom: 0;
		}

		&-lead {
			font-weight: normal;
			margin-top: 1rem;
		}
	}

	// Basic
	// =========================================================================

	&-basic {
		margin-bottom: 0;
		padding-top: $margin-large;
		padding-bottom: $margin-large;
		border-bottom: 2px solid rgba($black, $alpha-light);

		#{$self}-text {
			&-title {
				margin-top: -14px;
			}

			&-lead {
				margin-bottom: 0;
			}
		}

		#{$self}-tags {
			margin-top: $margin;
			margin-right: 10px;
		}

		#{$self}-col {
			background: red;
		}
	}

	// Vertical
	// =========================================================================

	&-vertical {
		#{$self}-image {
			padding-top: $card-vertical-padding-top;
		}
	}

	// Horizontal
	// =========================================================================

	&-horizontal {
		#{$self}-image {
			padding-top: $card-horizontal-padding-top;
		}
	}

	// Hover
	// =========================================================================

	&-hover {
		#{$self}-image {
			display: block;

			img {
				object-fit: cover;
			}
		}

		#{$self}-image-clip {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			opacity: 0;
			z-index: 10;
			transition: opacity 300ms ease;
		}
	}

	// Tablet
	// =========================================================================

	@include media-mob {
		&-col:nth-child(even) #{$self}-half-margin {
			margin-top: $section-padding-large;
		}

		&-half-margin {
			margin-bottom: 0;
		}
	}
}
