// -----------------------------------------------------------------------------
// _card.scss
// This file contains all styles related to the card component.
// -----------------------------------------------------------------------------

.card {
	$self: &;

	position: relative;
	display: block;
	text-decoration: none;
	margin-bottom: 3.75rem;
	user-select: none;

	// Image
	// =========================================================================

	&-image {

		img {
			width: 100%;
			height: 100%;
		}
	}

	// Image
	// =========================================================================

	&-text {

		* {
			margin-bottom: 0;
			text-decoration: none;
		}
	}

	// Horizontal
	// =========================================================================

	&-horizontal {

	}

	// Tablet
	// =========================================================================

	@include media-mob {

		&-col:nth-child(even) #{$self}-half-margin {
			margin-top: 30%;
		}

		&-half-margin {
			margin-bottom: 0;
		}
	}

	// Desktop
	// =========================================================================

	@include media-desk {

	}
}
