// -----------------------------------------------------------------------------
// _carousel.scss
// This file contains all styles related to the carousel component.
// -----------------------------------------------------------------------------

.carousel {
	$self: &;
	position: relative;
	display: flex;
	width: calc(#{$carousel-item-width} * var(--no-of-slides) * 2);
	margin: clamp(60px, 10vw, 160px) 0;
	padding-bottom: $margin;
	counter-reset: slideNo;
	transform: rotate(-2deg);

	// Container
	// =========================================================================

	&-container {
		width: 100%;
		overflow-x: clip;
	}

	// Item
	// =========================================================================

	&-item {
		position: relative;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		padding-left: 1.6rem;
		width: $carousel-item-width;
		transition: all 100ms ease;
		transform: translateZ(0);
		will-change: transform;
	}

	// Image
	// =========================================================================

	&-image {
		width: 100%;
		height: auto;
		transform: scale(1.01);
	}

	// Tablet
	// =========================================================================

	@include media-tab {
		margin: $section-padding 0;
		padding-bottom: 0;
	}
}
