// -----------------------------------------------------------------------------
// _code.scss
// This file contains all styles related to the code component.
// -----------------------------------------------------------------------------

code {
	$self: &;
	display: inline-flex;
	max-width: 100%;
	overflow-x: auto;
	padding: $code-padding;
	font-family: $font-code;
	background-color: $off-white;
	color: $black;
	margin: 0;
	font-size: $code-font-size;
	white-space: nowrap;
	border-radius: 4px;
	line-height: 1.5;
}
