// -----------------------------------------------------------------------------
// _code.scss
// This file contains all styles related to the code component.
// -----------------------------------------------------------------------------

code {
	$self: &;
	padding: 0.2em 0.4em;
	font-family: $font-code;
	background-color: $highlight-bg-colour;
	color: $black;
	margin: 0;
	font-size: 13px;
	white-space: nowrap;
	border-radius: 4px;
	line-height: 1.5;
}
