// -----------------------------------------------------------------------------
// _highlight.scss
// This file contains all styles related to the highlight (code) component.
// -----------------------------------------------------------------------------

.highlight {
	$self: &;
	padding-left: $highlight-padding;
	padding-right: $highlight-padding;
	margin-bottom: $margin;
	background-color: $highlight-bg-colour;
	border-radius: 4px;
	overflow: hidden;
	border: $highlight-border;

	// Props
	// =========================================================================

	&:last-of-type {
		margin-bottom: 0;
	}

	::-webkit-scrollbar {
		display: none;
	}

	pre,
	code {
		word-break: normal;
		word-wrap: normal;
		white-space: pre;
		background-color: $highlight-bg-colour;
	}

	// Pre
	// =========================================================================

	pre {
		max-width: 100%;
		overflow: scroll;
		margin: 0;
		padding-top: $highlight-padding;
		padding-bottom: $highlight-padding;
		tab-size: 4;
	}

	// Code
	// =========================================================================

	code {
		display: block;
		width: 100%;
		font-family: $font-code;
		font-size: 14px;
		padding: 0;
		border-radius: 0;
		overflow-x: auto;
	}

	// Rule
	// =========================================================================

	.line {
		opacity: 1;
		margin: 0;
		border: none;
	}
}
