// -----------------------------------------------------------------------------
// _highlight.scss
// This file contains all styles related to the highlight (code) component.
// -----------------------------------------------------------------------------

.highlight {
	$self: &;
	position: relative;
	padding-left: $highlight-padding;
	padding-right: $highlight-padding;
	margin-bottom: $margin;
	background-color: $highlight-bg-colour;
	border-radius: 4px;
	overflow: hidden;
	border: $highlight-border;

	// Props
	// =========================================================================

	&:last-of-type {
		margin-bottom: 0;
	}

	::-webkit-scrollbar {
		display: none;
	}

	pre,
	code {
		word-break: normal;
		word-wrap: normal;
		white-space: pre;
		background-color: $highlight-bg-colour;
	}

	// Pre
	// =========================================================================

	pre {
		max-width: 100%;
		overflow: scroll;
		margin: 0;
		padding-top: $highlight-padding;
		padding-bottom: $highlight-padding;
		tab-size: 4;
	}

	// Code
	// =========================================================================

	code {
		display: block;
		width: 100%;
		font-family: $font-code;
		font-size: 14px;
		padding: 0;
		border-radius: 0;
		overflow-x: auto;
	}

	// Copy
	// =========================================================================

	&:after {
		//content: "ddd";
		content: url("data:image/svg+xml,%3Csvg fill='%23000000' height='20px' width='20px' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'  viewBox='0 0 64 64' enable-background='new 0 0 64 64' xml:space='preserve'%3E%3Cpath d='M53.9791489 9.1429005H50.010849c-0.0826988 0-0.1562004 0.0283995-0.2331009 0.0469999V5.0228C49.7777481 2.253 47.4731483 0 44.6398468 0h-34.422596C7.3839517 0 5.0793519 2.253 5.0793519 5.0228v46.8432999c0 2.7697983 2.3045998 5.0228004 5.1378999 5.0228004h6.0367002v2.2678986C16.253952 61.8274002 18.4702511 64 21.1954517 64h32.783699c2.7252007 0 4.9414978-2.1725998 4.9414978-4.8432007V13.9861002C58.9206467 11.3155003 56.7043495 9.1429005 53.9791489 9.1429005z M7.1110516 51.8661003V5.0228c0-1.6487999 1.3938999-2.9909999 3.1062002-2.9909999h34.422596c1.7123032 0 3.1062012 1.3422 3.1062012 2.9909999v46.8432999c0 1.6487999-1.393898 2.9911003-3.1062012 2.9911003h-34.422596C8.5049515 54.8572006 7.1110516 53.5149002 7.1110516 51.8661003z M56.8888474 59.1567993c0 1.550602-1.3055 2.8115005-2.9096985 2.8115005h-32.783699c-1.6042004 0-2.9097996-1.2608986-2.9097996-2.8115005v-2.2678986h26.3541946c2.8333015 0 5.1379013-2.2530022 5.1379013-5.0228004V11.1275997c0.0769005 0.0186005 0.1504021 0.0469999 0.2331009 0.0469999h3.9682999c1.6041985 0 2.9096985 1.2609005 2.9096985 2.8115005V59.1567993z'/%3E%3C/svg%3E");
		display: flex;
		align-items: center;
		position: absolute;
		bottom: 0;
		right: 0;
		background-color: transparent;
		cursor: pointer;
		padding: 1rem;
		z-index: 2;
	}

	// Rule
	// =========================================================================

	.line {
		opacity: 1;
		margin: 0;
		border: none;
	}
}
