// -----------------------------------------------------------------------------
// _image.scss
// This file contains all styles related to the image component.
// -----------------------------------------------------------------------------

.image {
	$self: &;
	position: relative;
	display: flex;
	height: auto;

	// Image
	// =========================================================================

	img,
	source {
		width: 100%;
		height: auto;
	}

	// Split
	// =========================================================================

	&-split {
		padding: 0 $container-padding-x;

		&-section {
			margin-bottom: $section-padding;
		}
	}

	// Desktop
	// =========================================================================

	@include media-tab {
		&-split {
			position: relative;
			top: 0;
			right: 0;
			width: calc(50vw - #{$gap-width});
			height: auto;
			padding: 0;
			margin-bottom: 0;

			&-right {
				margin-left: 50%;
			}

			&-section {
				.container {
					top: 50%;
					left: 50%;
					position: absolute;
					transform: translate(-50%, -50%);
				}
			}
		}
	}
}
