// -----------------------------------------------------------------------------
// _list.scss
// This file contains all styles related to the list component.
// -----------------------------------------------------------------------------

// Unordered
// =========================================================================

.richtext ul,
ul.list {
	margin-left: 16px;

	// Item
	// =========================================================================

	li {
		list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.483' height='10.022' viewBox='0 0 11.483 10.022'%3E%3Cpath d='M0,11.483,4.182,0H5.832l4.19,11.483H8.278L5.019,1.7l-3.3,9.779Z' transform='translate(11.483) rotate(90)' fill='%239a9a9a' opacity='0.6'/%3E%3C/svg%3E%0A");
	}
}

// Ordered
// =========================================================================

.richtext ol,
.footnotes ol,
ol.list {
	margin-left: 18px;
}

// Common
// =========================================================================

.list,
.richtext ul,
.richtext ol,
.footnotes ul,
.footnotes ol {
	margin-top: 0;
	margin-bottom: 1rem;
	padding: 0;
	list-style-position: outside;

	// Item
	// =========================================================================

	li {
		color: colour("list");
		margin-bottom: 10px;
		padding: 0 0 0 12px;
		font-size: $text-paragraph-size;

		&:last-child,
		p {
			margin-bottom: 0;
		}
	}

	// Sub
	// =========================================================================

	ul,
	ol {
		margin-top: 14px;
		margin-left: 1rem;
		padding: 0;
	}

	// Marker
	// =========================================================================

	::marker {
		margin: 0;
		padding: 0;
	}
}

// Theme White
// =========================================================================

.theme-white {

	.richtext ul,
	ul.list {

		li {
			list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.483' height='10.022' viewBox='0 0 11.483 10.022'%3E%3Cpath d='M0,11.483,4.182,0H5.832l4.19,11.483H8.278L5.019,1.7l-3.3,9.779Z' transform='translate(11.483) rotate(90)' fill='%23595959' opacity='0.6'/%3E%3C/svg%3E%0A");
		}
	}
}
