// -----------------------------------------------------------------------------
// _list.scss
// This file contains all styles related to the list component.
// -----------------------------------------------------------------------------

// Common
// =========================================================================

.richtext ul,
.richtext ol,
.footnotes ul,
.footnotes ol,
.list {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	list-style-position: outside;

	// Item
	// =========================================================================

	li {
		color: colour("foreground");
		margin-bottom: 10px;
		padding: 0 0 0 12px;
		font-size: $text-paragraph-size;

		&:last-child {
			margin-bottom: 0;
		}
	}

	// Sub
	// =========================================================================

	ul,
	ol {
		margin-top: 14px;
		margin-left: 1rem;
		padding: 0;
	}

	// Marker
	// =========================================================================

	::marker {
		margin: 0;
		padding: 0;
	}
}

// Unordered
// =========================================================================

.richtext ul,
ul.list {
	margin-left: 16px;

	// Item
	// =========================================================================

	li {
		// TODO: This will need to be a different image for theme-white.
		list-style-image: url("/images/icons/list-arrow.svg");
	}
}

// Ordered
// =========================================================================

.richtext ol,
.footnotes ol,
ol.list {
	margin-left: 18px;
}

