// -----------------------------------------------------------------------------
// _list.scss
// This file contains all styles related to the list component.
// -----------------------------------------------------------------------------

// Common
// =========================================================================

.richtext ul,
.richtext ol,
.list {
	padding: 0;
	list-style-position: outside;

	// Item
	// =========================================================================

	li {
		color: colour("foreground");
		margin-bottom: 10px;
		padding-left: 10px;
		font-size: 1rem;
	}

	// Sub
	// =========================================================================

	ul,
	ol {
		margin-top: 14px;
		margin-left: 1rem;
	}
}

// Unordered
// =========================================================================

.richtext ul,
ul.list {
	margin-left: 16px;


	// Item
	// =========================================================================

	li {
		// TODO: This will need to be a different image for theme-white.
		list-style-image: url("/images/icons/list-arrow.svg");
	}
}

// Ordered
// =========================================================================

.richtext ol,
ol.list {
	margin-left: 18px;
}

