// -----------------------------------------------------------------------------
// _rule.scss
// This file contains all styles related to lines and horizontal rules.
// -----------------------------------------------------------------------------

hr,
.rule {
	$self: &;
	display: block;
	border-width: $line-size;
	border-color: colour('foreground');
	border-style: solid;
	padding: 0;
	margin: $line-margin 0;

	// Vertical
	// =========================================================================

	&-vertical {
		width: auto;
		border-style: none;
		border-left-width: $line-size-thick;
		border-left-style: solid;
		height: 100%;
		margin: 0;
	}

	// Sizes
	// =========================================================================

	&-medium {
		border-width: $line-size-medium;
	}

	&-thick {
		border-width: $line-size-thick;
	}

	// Opaque
	// =========================================================================

	&-opaque {
		opacity: $alpha-standard;
	}

	// Divider
	// =========================================================================

	&-divider {
		width: 20vw;
		max-width: 300px;
		margin-top: 0;
		margin-bottom: 0;

		&-align-right {
			margin-left: auto;
			margin-right: 0;
		}
	}
}
