// -----------------------------------------------------------------------------
// _rule.scss
// This file contains all styles related to lines and horizontal rules.
// -----------------------------------------------------------------------------

hr,
.line {
	$self: &;
	display: block;
	border-width: $line-size;
	border-color: colour('foreground');
	border-style: solid;
	padding: 0;
	margin: 2rem 0;

	// Vertical
	// =========================================================================

	&-vertical {
		width: auto;
		border-style: none;
		border-right-width: $line-size-thick;
		border-right-style: solid;
		height: 100%;
		margin: 0;
	}

	// Sizes
	// =========================================================================

	&-medium {
		border-width: $line-size-medium;
	}

	&-thick {
		border-width: $line-size-thick;
	}

	// Opaque
	// =========================================================================

	&-opaque {
		opacity: $alpha-standard;
	}
}
