// -----------------------------------------------------------------------------
// _social.scss
// This file contains all styles related to the social handle component.
// -----------------------------------------------------------------------------

.social {
	$self: &;
	position: relative;
	display: flex;
	align-items: center;

	// Tablet
	// =========================================================================

	&-link {
		display: flex;
		text-decoration: none;
		margin-right: 1.6rem;

		&:last-child {
			margin-right: 0;
		}
	}

	// Icon
	// =========================================================================

	&-icon {
		height: 25px;
	}

	// Small Phones
	// =========================================================================

	@include media-small-phones {
		&-icon {
			height: 20px;
		}
	}

	// Desktop
	// =========================================================================

	@include media-desk {
		&-link {
			margin-right: 2rem;
		}
	}
}
