// -----------------------------------------------------------------------------
// _table.scss
// This file contains all styles related to the table component.
// -----------------------------------------------------------------------------

table {
	$self: &;

	position: relative;
	display: block;
	max-width: fit-content;
	overflow-x: auto;
	white-space: nowrap;
	border-spacing: 0;
	border-collapse: collapse;
	box-sizing: border-box;

	// Cells
	// =========================================================================

	th,
	td {
		padding: $table-padding;
		color: colour("foreground");
		border: $table-border-width solid $table-border-colour;
	}

	// Head
	// =========================================================================

	thead {
		font-weight: bold;

		tr th {
			font-size:  18px;
		}
	}

	// Body
	// =========================================================================

	tbody {
		font-size: 1rem;

		tr {

			&:nth-child(2n) {
				background-color: $grey-light;
			}
		}
	}
}
