// -----------------------------------------------------------------------------
// _table.scss
// This file contains all styles related to the table component.
// -----------------------------------------------------------------------------

$table-border-width: 1.6px;
$table-border-colour: #2b2b2b;
$table-padding: 0.6rem 0.9rem;


table {
	$self: &;

	position: relative;
	display: block;
	max-width: fit-content;
	overflow-x: auto;
	white-space: nowrap;
	border-spacing: 0;
	border-collapse: collapse;
	box-sizing: border-box;
	@include text-wrapper;

	// Cells
	// =========================================================================

	th,
	td {
		padding: $table-padding;
		color: colour("foreground");
		border: $table-border-width solid $table-border-colour;
	}

	// Head
	// =========================================================================

	thead {
		font-weight: bold;
	}

	// Body
	// =========================================================================

	tbody {
		font-size: 1rem;

		tr {

			&:nth-child(2n) {
				background-color: $grey-light;
			}
		}
	}
}
