// -----------------------------------------------------------------------------
// _tag.scss
// This file contains all styles related to the tag component.
// -----------------------------------------------------------------------------

.tag {
	$self: &;
	position: relative;
	display: inline-flex;
	margin: $tag-margin;
	padding: $tag-padding;
	background-color: $off-white;
	color: $copy-light-bg;
	font-size: $tag-font-size;
	border-radius: $tag-border-radius;
	user-select: none;
	font-weight: 500;
	white-space: nowrap;

	// Props
	// =========================================================================

	&:first-of-type {
		margin-left: 0;
	}

	&:last-of-type {
		margin-left: 0;
		margin-right: 0;
	}

	// Colours
	// =========================================================================

	&-black {
		background-color: $grey-dark;
		color: $white;
	}

	&-grey {
		background-color: $grey-light;
		color: $white;
	}

	// Margin
	// =========================================================================

	&-margin-top {
		margin-top: 10px;
	}
}

// Overrides
// =========================================================================

.bg-off-white .tag {
	background-color: $white;
}
