// -----------------------------------------------------------------------------
// _tag.scss
// This file contains all styles related to the tag component.
// -----------------------------------------------------------------------------

.tag {
	$self: &;
	position: relative;
	display: inline-flex;
	margin: 0 4px;
	padding: 2px 10px;
	background-color: $off-white;
	color: $grey-light;
	font-size: 0.9rem;
	border-radius: 4px;
	user-select: none;
	font-weight: 500;
	white-space: nowrap;

	// Colours
	// =========================================================================

	&-black {
		background-color: $grey-dark;
		color: $white;
	}

	&-white {
		background-color: $white;
	}
}
