// -----------------------------------------------------------------------------
// _tag.scss
// This file contains all styles related to the tag component.
// -----------------------------------------------------------------------------

.tag {
	$self: &;
	position: relative;
	display: inline-flex;
	margin: $tag-margin;
	padding: $tag-padding;
	background-color: $off-white;
	color: $grey-light;
	font-size: $tag-font-size;
	border-radius: 4px;
	user-select: none;
	font-weight: 500;
	white-space: nowrap;

	// Colours
	// =========================================================================

	&-black {
		background-color: $grey-dark;
		color: $white;
	}
}
