// -----------------------------------------------------------------------------
// _toc.scss
// This file contains all styles related to the table of contents component.
// -----------------------------------------------------------------------------

.toc {
	$self: &;
	display: none;
	width: 300px;
	order: 10;

	// Wrapper
	// =========================================================================

	&-wrapper {
		position: sticky;
		top: 24px;
	}

	// Title
	// =========================================================================

	&-title {
		font-weight: bold;
		color: $black;
	}

	// Nav
	// =========================================================================

	nav {
	}

	// List
	// =========================================================================

	ol {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	// List Item
	// =========================================================================

	li {
		width: 100%;
		margin-bottom: 8px;
	}

	// Link
	// =========================================================================

	a {
		display: flex;
		align-items: center;
		font-weight: normal;
		text-decoration: none;
		font-size: 14px;

		&:before {
			content: '';
			display: block;
			height: 20px;
			width: 2px;
			margin-right: 2rem;
			background-color: $black;
			opacity: 0;
		}

		&.active:before {
			opacity: 1;
		}
	}

	// Desktop
	// =========================================================================

	@include media-desk {
		display: block;
	}
}
