// -----------------------------------------------------------------------------
// _todo.scss
// This file contains all styles related to the TO-DO component.
// -----------------------------------------------------------------------------

input[type='checkbox']:disabled {
	$self: &;
	appearance: none;
	border: none;
	color: colour('foreground');
	background-color: colour('foreground');
	width: 24px;
	height: 24px;
	border-radius: 0;
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M22,2V22H2V2Zm2-2H0V24H24Z' /%3E%3C/svg%3E");
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M22,2V22H2V2Zm2-2H0V24H24Z' /%3E%3C/svg%3E");

	&:checked {
		mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M22 2v20h-20v-20h20zm2-2h-24v24h24v-24zm-5.541 8.409l-1.422-1.409-7.021 7.183-3.08-2.937-1.395 1.435 4.5 4.319 8.418-8.591z' /%3E%3C/svg%3E");
		-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M22 2v20h-20v-20h20zm2-2h-24v24h24v-24zm-5.541 8.409l-1.422-1.409-7.021 7.183-3.08-2.937-1.395 1.435 4.5 4.319 8.418-8.591z' /%3E%3C/svg%3E");
	}
}
