// -----------------------------------------------------------------------------
// _video.scss
// This file contains all styles related to the video component.
// -----------------------------------------------------------------------------

.video {
	$self: &;
	position: relative;
	width: 100%;
	height: auto;
	aspect-ratio: 16 / 9;
	outline: none;
	object-fit: cover; // Poster
	cursor: pointer;

	// Container
	// =========================================================================

	&-container {
		height: 100%;
		position: relative;
	}

	// Play Button
	// =========================================================================

	&-button {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 10vw 0 10vw 16vw;
		border-color: transparent transparent transparent rgba($black, 0.6);
		cursor: pointer;
		transition: opacity 300ms ease;
		z-index: 10;
		will-change: opacity;
	}

	// Full
	// =========================================================================

	&-full {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: $header-z-index + 999;
		background-color: $black;

		#{$self} {
			width: 100%;
			height: auto;
		}

		#{$self}-container {
			display: flex;
			align-items: center;
			width: 100%;
			height: 100%;
		}
	}

	// Playing
	// =========================================================================

	&-playing ~ #{$self}-button {
		opacity: 0;
	}

	// Desktop
	// =========================================================================
	@include media-desk {
		&-button {
			border-width: 4vw 0 4vw 5vw;
		}
	}
}
