// -----------------------------------------------------------------------------
// _video.scss
// This file contains all styles related to the video component.
// -----------------------------------------------------------------------------

.video {
	$self: &;
	position: relative;
	width: 100%;
	height: auto;
	aspect-ratio: 16 / 9;
	outline: none;
	// Poster
	object-fit: cover;

	// Container
	// =========================================================================

	&-container {
		position: relative;
	}

	// Play Button
	// =========================================================================

	&-play {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 2rem 0 2rem 3rem;
		border-color: transparent transparent transparent rgba($black, 0.6);
		cursor: pointer;
		transition: opacity 300ms ease;
		will-change: opacity;
	}

	// Playing
	// =========================================================================

	&-playing {
		#{$self}-play {
			opacity: 0;
		}
	}
}
