<!DOCTYPE html>
<!-- =====================
    Variables
    ===================== -->
{{ $css := partial "head/styles.html" (append "scss/app.scss" .Params.styles) }}
{{ $js := partial "head/scripts.html" (append "js/app.ts" .Params.scripts) }}
<!-- =====================
    HTML
    ===================== -->
<html class="no-js" lang="en-GB">
    <head>
        <!-- Meta -->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="apple-mobile-web-app-capable" content="yes" />
        <title>{{ with .Params.title -}} {{ . }} | {{ end }}{{ .Site.Title }}</title>
		<!-- Description -->
        {{ if and (not .IsHome) (eq .Description "") }}
			{{ warnf "No meta description for page: %s" .RelPermalink }}
		{{- end }}
		<meta name="description"
			  content="{{ if .IsHome -}} {{ $.Site.Params.description }} {{- else -}} {{ .Description }} {{- end }}"/>
		<!-- Canonical -->
		<link rel="canonical"
			  href="{{ with .Params.canonical -}} {{ . }} {{- else -}} {{ .Permalink }} {{- end }}"/>
		<!-- Base -->
		<base href="{{ .Site.BaseURL }}">
		<script>window.BaseURL = {{ .Site.BaseURL }};</script>
        <!-- Open Graph -->
        {{ template "_internal/opengraph.html" . }}
        <!-- Twitter -->
        {{ template "_internal/twitter_cards.html" . }}
        <!-- CSS -->
        {{ range $file := $css -}}
			<link rel="stylesheet" href="{{ $file }}">
        {{- end }}
		<!-- No JS -->
        {{ with index (partial "head/styles.html" (slice "scss/no-js.scss")) 0 }}
			<noscript>
				<link rel="stylesheet" href="{{ . }}">
			</noscript>
		{{ end }}
		<!-- Preload JS -->
		{{ range $file := $js -}}
			<link rel="preload" href="{{ $file }}" as="script">
		{{- end }}
        <!-- Favicon -->
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
		<link rel="manifest" href="/favicon/site.webmanifest" crossorigin="use-credentials">
		<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#0a0a0a">
		<meta name="msapplication-TileColor" content="#0a0a0a">
		<meta name="theme-color" content="#0a0a0a">
		<!-- Schema - Organisation -->
		{{ with .Site.Data.schema.organisation -}}
			<script type="application/ld+json">
				{{ . }}
			</script>
		{{- end }}
		<!-- Schema - Navigational -->
		{{ partial "head/schema-navigational.html" .Site.Menus.footer }}
    </head>
	<!-- =====================
		Body
		===================== -->
    {{ $colour := "black" }}
    {{ if eq .Params.pagecolour "white"}}
        {{ $colour = .Params.pagecolour }}
    {{ end }}
    <body class="theme-{{ $colour }}">
        <!-- Header -->
        {{- partial "header.html" (dict "colour" $colour) -}}
		<!-- Cursor -->
		<div class="cursor"></div>
		<!-- Wrapper -->
		<div class="content-wrapper">
			<!-- Main Content -->
			<main id="main">
                {{- block "main" . }}{{- end }}
			</main>
			<!-- Footer -->
            {{- partial "footer.html" . -}}
		</div>
        <!-- Javascript -->
		{{ range $file := $js -}}
			<script src="{{ $file }}"></script>
		{{- end }}
        <!-- Google Transition Fix -->
        <script> </script>
    </body>
</html>
