{{ define "main" }}
	<!-- =====================
		Terms
		===================== -->
	<section class="hero hero-simple hero-simple-padding-bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-tab-10 col-desk-8 col-desk-large-7">
					<!-- Heading -->
					<div class="margin-large">
                        {{ with .Params.heading -}}
							<h1 class="mb-0">
                                {{ . | safeHTML }}
							</h1>
                        {{- else -}}
                            {{ warnf "No heading param provided to page: %s" .RelPermalink }}
                        {{- end }}
						<span class="heading-1">The <u>boring</u> <span class="type-serif">stuff*</span></span>
					</div>
					<!-- Content -->
					<article class="richtext">
						{{ .Content }}
					</article>
				</div><!-- /Col -->
			</div><!-- /Row -->
		</div><!-- /Container -->
	</section>
{{ end }}
