{{ define "main" }}
	<!-- =====================
		Terms
		===================== -->
	<section class="hero hero-simple hero-simple-padding-bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-desk-7">
					<!-- Title -->
					<div class="margin-large">
						<h1>
                            {{ .Title }}<br/>
							The <u>boring</u> <span class="type-serif">stuff*</span>
						</h1>
					</div>
					<!-- Content -->
					<article class="richtext">
						{{ .Content }}
					</article>
				</div><!-- /Col -->
			</div><!-- /Row -->
		</div><!-- /Container -->
	</section>
{{ end }}
