// -----------------------------------------------------------------------------
// _aside.scss
// This file contains all styles related to the sidebars of the site.
// -----------------------------------------------------------------------------

.aside {
	$self: &;

	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 60vw;
	background-color: $white;
	display: block;
	margin: 0;
	padding: 2rem;
	z-index: 99;

	// Link
	// ==========================================================================

	&-link {
		display: block;
		text-decoration: none;
		padding: 1rem 0;
		border-bottom: 2px solid rgba($black, 0.10);

		&:first-child {
			padding-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
			border-bottom: 0;
		}
	}

	// Text
	// ==========================================================================

	&-text {
		text-decoration: none;
		margin: 0;
		color: $black;
		font-size: 1.1rem;
	}

	// Active
	// ==========================================================================

	&-active {
		color: var(--link-hover-colour);
	}

	// Desktop
	// ==========================================================================

	@include media-desk {
		position: sticky;
		width: auto;
		height: auto;
		top: 100px;
		padding: 0;
		transform: none;
		background-color: transparent;

		&-link {
			border-bottom: 2px solid rgba($white, 0.10);
		}

		&-text {
			color: $white;
		}
	}
}
