// -----------------------------------------------------------------------------
// _footer.scss
// This file contains all styles related to the footer of the site.
// -----------------------------------------------------------------------------

.footer {
	$self: &;
	position: relative;
	display: block;
	overflow: hidden;
	background-color: $black;

	// Props
	// =========================================================================

	* {
		color: $white;
	}

	// Main
	// =========================================================================

	&-main {
		position: relative;
		padding: 6rem 0;

		&-menu {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: none;
			grid-row-gap: 1.2rem;
			align-items: flex-end;
			margin-bottom: 0;

			&-link {
				text-decoration: none;

				* {
					margin-bottom: 0;
				}
			}
		}
	}

	// Sub
	// =========================================================================

	&-sub {
		position: relative;

		&-wrapper {
			display: flex;
			flex-flow: column nowrap;
			border-top: 2px solid rgba($white, $alpha-standard);
			padding-top: 1.4rem;
			padding-bottom: 1.4rem;
		}

		&-text {
			color: $copy-dark-bg;
		}

		&-menu {
			display: flex;
			flex-direction: row;
			margin-bottom: 0.8rem;

			&-link {
				text-decoration: none;
				white-space: nowrap;
				color: colour('copy-dark');
				font-weight: normal;

				&::after {
					content: '|';
					color: colour('copy-dark');
					margin: 0 6px;
				}
			}

			&-item:not(:last-child) {
				margin-right: 6px;
			}

			&-item:last-child &-link::after {
				display: none;
			}
		}
	}

	// Contact
	// =========================================================================

	&-contact {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin: 3rem 0;

		&-sub {
			color: colour('copy-dark');
		}
	}

	// Symbol
	// =========================================================================

	&-symbol {
		position: absolute;
		display: flex;
		bottom: 0;
		right: $gap-width;
	}

	// Logo
	// =========================================================================

	&-logo {
		display: none;
		width: 30%;
		max-width: 240px;
		margin-bottom: 1rem;

		img {
			width: 100%;
		}
	}

	// Heading
	// =========================================================================

	&-heading {
		margin-bottom: 0;
	}

	// Small Phones
	// =========================================================================

	@include media-small-phones {
		&-sub-menu {
			flex-direction: column;

			&-link::after {
				display: none;
			}
		}
	}

	// Mobile
	// =========================================================================

	@include media-mob {
		&-contact {
			flex-direction: row;
			align-items: center;

			&-email {
				margin-bottom: 0;
				margin-right: 3rem;
			}
		}
	}

	// Tablet
	// =========================================================================

	@include media-tab {
		&-main {
			padding-bottom: 5rem;

			&-menu {
				display: grid;
				grid-template-rows: repeat(3, 1fr);
				grid-template-columns: none;
				grid-auto-flow: column;
			}
		}
	}

	// Desktop
	// =========================================================================

	@include media-desk {
		&-main {
			&-col {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}
		}

		&-sub {
			&-wrapper {
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				padding: 1.6rem 0;
			}

			&-menu {
				margin-left: 4rem;
				margin-bottom: 0;
				order: 99;
			}
		}

		&-heading {
			@include h3;
			margin-bottom: 5rem;
		}

		&-contact {
			margin: 0;
		}

		&-logo {
			display: block;
		}
	}

	// Wrap Contact on Small Desktops
	// =========================================================================

	@media (min-width: $grid-breakpoint-desk * 1px) and (max-width: 1300px) {
		&-heading {
			margin-bottom: 3rem;
		}

		&-contact {
			flex-direction: column;
			align-items: flex-start;

			&-email {
				margin-right: 0;
				margin-bottom: 1.6rem;
			}
		}
	}
}
