// -----------------------------------------------------------------------------
// _form.scss
// This file contains all styles related to the forms of the site.
// -----------------------------------------------------------------------------

.form {
	$self: &;
	position: relative;
	display: block;

	// Wrapper
	// =========================================================================

	&-wrapper {
		padding: 2rem;
		background-color: $off-white;
		border-radius: 8px;
		margin-bottom: $margin-large;
	}

	// Group (Fieldset)
	// =========================================================================

	&-group {
		margin-bottom: 2rem;
	}

	// Input
	// =========================================================================

	&-input {
		position: relative;
		width: 100%;
		@include h2; /* stylelint-disable-line at-rule-empty-line-before */
		margin: 0;
		padding: 0;
		border: none;
		color: $copy;
		background-color: transparent;
		line-height: 1.2;
		font-weight: bold;
		font-family: $font;
		outline: none;
		resize: vertical;
		-webkit-appearance: none;
		appearance: none;
	}

	// Label
	// =========================================================================

	&-label {
		display: flex;
		width: 100%;
	}

	// Submit
	// =========================================================================

	&-submit {
		display: flex;
		justify-content: flex-end;
		width: 100%;
		background-color: transparent;
	}

	// Error
	// =========================================================================

	&-error {
		#{$self}-number {
			color: $orange;
		}

		#{$self}-input {
			border-bottom-color: $orange;
		}
	}

	// Success
	// =========================================================================

	&-success {
		#{$self}-input {
			border-bottom-color: $blue;
		}
	}

	// Autocomplete
	// =========================================================================

	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
		-webkit-box-shadow: 0 0 0 30px white inset !important;
	}

	// Placeholder
	// =========================================================================

	::placeholder {
		// Chrome, Firefox, Opera, Safari 10.1+
		color: $copy;
		opacity: 1; /* Firefox */
	}

	:-ms-input-placeholder {
		// Internet Explorer 10-11
		color: $copy;
	}

	::-ms-input-placeholder {
		// Microsoft Edge
		color: $copy;
	}

	// Desktop
	// =========================================================================

	@include media-desk {
		&-wrapper {
			padding: 3rem;
		}
	}
}
