// -----------------------------------------------------------------------------
// _form.scss
// This file contains all styles related to the forms of the site.
// -----------------------------------------------------------------------------

.form {
	$self: &;

	position: relative;

	// Group (Fieldset)
	// =========================================================================

	&-group {
		display: flex;
		flex-direction: column;
		margin-bottom: $margin-large;

		&:last-child {
			margin-bottom: 0;
		}
	}

	// Input
	// =========================================================================

	&-input {
		position: relative;
		width: 100%;
		@include h4;
		padding-top: 1rem;
		padding-bottom: 1rem;
		margin: 0;
		border: none;
		border-bottom: 2px solid rgba($black, $alpha-standard);
		font-weight: bold;
		font-family: $font;
		outline: none;
		color: $copy;
		-webkit-appearance: none;
		appearance: none;
	}

	// Label
	// =========================================================================

	&-label {
		display: flex;
		flex-direction: column;
		flex-grow: 2;
		width: 100%;
	}

	// Placeholder
	// =========================================================================

	&-placeholder {
		position: relative;
		@include h5;
		margin-bottom: 0;
		font-weight: bold;

		&-required:after {
			content: url("/images/icons/star.svg");
			display: inline-block;
			width: 12px;
			height: 12px;
			margin-left: 4px;
			transform: translateY(-10px);
		}
	}

	// Number
	// =========================================================================

	&-number {
		display: block;
		color: colour("copy-dark");
		margin-bottom: 10px;
	}

	// Submit
	// =========================================================================

	&-submit {
		display: flex;
		justify-content: flex-end;
		width: 100%;
	}



	// Error
	// =========================================================================

	&-group-error {

	}

	// Autocomplete
	// =========================================================================

	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
		-webkit-box-shadow: 0 0 0 30px white inset !important;
	}

	// Placeholder
	// =========================================================================

	::placeholder {
		/* Chrome, Firefox, Opera, Safari 10.1+ */
		color: $copy;
		opacity: 1; /* Firefox */
	}

	:-ms-input-placeholder {
		/* Internet Explorer 10-11 */
		color: $copy;
	}

	::-ms-input-placeholder {
		/* Microsoft Edge */
		color: $copy;
	}

	// Tablet
	// =========================================================================

	@include media-tab {

		&-group {
			flex-direction: row;
		}

		&-label {
			flex-grow: 2;
		}

		&-number {
			width: 10%;
			margin-bottom: 0;
			transform: translateY(6px);
		}
	}

	// Desktop
	// =========================================================================

	@include media-desk {
	}
}

