// -----------------------------------------------------------------------------
// _header.scss
// This file contains all styles related to the header of the site.
// -----------------------------------------------------------------------------

.header {
	$self: &;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	height: $header-height;
	width: 100%;
	padding: 0 $header-padding-x-mob;
	backdrop-filter: blur(1px);
	z-index: $header-z-index;

	// Logo
	// ==========================================================================

	&-logo {
		display: flex;
		align-items: center;
		z-index: 999999;
		height: 100%;
		width: $header-logo-size;

		svg {
			width: 100%;
			height: 100%;
		}
	}

	// Colours
	// ==========================================================================

	&-colour-black {
		background-color: rgba($black, $header-background-opacity);
		border-bottom: none;
	}

	&-colour-white {
		background-color: rgba($white, $header-background-opacity);
		border-bottom: 1px solid rgba($black, 0.2);

		.nav-btn-arrow path,
		#{$self}-logo path {
			fill: $black;
		}

		.nav-btn-text {
			color: $black;
		}
	}

	// Animation Props
	// ==========================================================================

	.nav-btn-arrow path,
	&-logo path {
		transition: fill 1000ms ease;
		transition-delay: 600ms;
	}

	.nav-btn-text {
		transition: color 100ms ease;
		transition-delay: 600ms;
	}

	// Nav Active
	// ==========================================================================

	&-nav-active {
		.nav-btn-arrow path,
		#{$self}-logo path {
			fill: $white;
		}

		.nav-btn-text {
			color: $white;
		}
	}

	// Desktop
	// ==========================================================================

	@include media-desk {
		padding: 0 $header-padding-x-desk;
		background-color: transparent;
		backdrop-filter: blur(2px);

		&-colour-black {
			backdrop-filter: none;
		}
	}
}
