// -----------------------------------------------------------------------------
// _header.scss
// This file contains all styles related to the header of the site.
// -----------------------------------------------------------------------------

.header {
	$self: &;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	height: $header-height;
	width: 100vw;
	padding: 0 $header-padding-x-mob;
	backdrop-filter: blur(1px);
	z-index: $header-z-index;

	// Logo
	// ==========================================================================

	&-logo {
		display: flex;
		align-items: center;
		z-index: 999999;
		width: $header-logo-size;

		svg {
			width: 100%;
			height: 100%;

			path {
				transition: fill 160ms ease;
			}
		}

		&:hover svg path {
			fill: colour('orange');
		}
	}

	// Colours
	// ==========================================================================

	&-colour {
		&-black {
			background-color: rgba($black, $header-background-opacity);
		}

		&-white {
			background-color: rgba($white, $header-background-opacity);
			border-bottom: 1px solid rgba($black, 0.2);
		}
	}

	// Desktop
	// ==========================================================================

	@include media-desk {
		padding: 0 $header-padding-x-desk;
		background-color: transparent;
		backdrop-filter: blur(2px);

		&-colour-black {
			backdrop-filter: none;
		}
	}
}
