// -----------------------------------------------------------------------------
// _hero.scss
// This file contains all styles related to the hero sections of the site.
// -----------------------------------------------------------------------------

.hero {
	$self: &;
	position: relative;

	// Props
	// =========================================================================

	.container {
		z-index: 9;
	}

	// Background
	// =========================================================================

	&-background {
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		max-width: 100vw;
		z-index: -2;

		img,
		source {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// Props
	// =========================================================================

	&-full-height,
	&-half-height {
		display: flex;
		align-items: center;
		width: 100%;
	}

	// Simple
	// =========================================================================

	&-simple {
		padding-top: $header-height + 30px;

		&-padding-bottom {
			padding-bottom: $section-padding;
		}
	}

	// Full Height
	// =========================================================================

	&-full-height {
		height: 100vh;
		max-height: 860px;
	}

	// Half Height
	// =========================================================================

	&-half-height {
		padding-top: $header-height;
		height: 70vh;
		min-height: 500px;
	}

	// Text
	// =========================================================================

	&-text {
		margin-bottom: 8vh;

		&-large {
			margin-bottom: 20vh;
		}
	}

	// Lead
	// =========================================================================

	&-lead {
		margin-bottom: 0;
	}

	// Align Bottom
	// =========================================================================

	&-align-bottom {
		align-items: flex-end;
		padding-bottom: $section-padding;
	}

	// Tablet
	// =========================================================================

	@include media-tab {
		&-simple {
			padding-top: $section-padding;
		}

		&-full-height {
			min-height: 100vh;
		}
	}

	// Desktop
	// =========================================================================

	@include media-desk {
		&-arrow {
			transition: all 100ms;
			transform-style: preserve-3d;
			transform-origin: 50% 50%;
		}
	}
}
