// -----------------------------------------------------------------------------
// _nav.scss
// This file contains styles that are specific to the nav section.
// -----------------------------------------------------------------------------

.nav {
	$self: &;

	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: $black;
	opacity: 0;
	visibility: hidden;
	transition: opacity 700ms, visibility 700ms step-end;

	// Main & Sub Props
	// =========================================================================

	&-main,
	&-sub {
		position: relative;
		width: 100%;
		padding-left: $container-padding-x;
		padding-right: $container-padding-x;
	}

	// Main
	// =========================================================================

	&-main {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		flex-grow: 2;
		z-index: 10;
		margin-top: $header-height / 2;
		box-shadow: 10px 0 30px 0 rgba($black, 0.30);

		#{$self}-list {
			margin-bottom: 2.4rem;

			#{$self}-item:last-child * {
				margin-bottom: 0;
			}
		}
	}

	// Sub
	// =========================================================================

	&-sub {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding-top: 30px;
		padding-bottom: 30px;
		background-color: $white;
		z-index: 1;

		#{$self}-list {
			display: flex;
			align-items: center;
		}

		#{$self}-item:not(:last-child) #{$self}-link-text:after {
			content: "|";
			display: inline-block;
			color: colour("black");
			margin: 0 8px;
		}

		#{$self}-link-text {
			margin-bottom: 0;
		}

		&-copyright {
			color: colour("copy-light");
		}
	}

	// Contact
	// =========================================================================

	&-contact {

		&-section {
			margin-bottom: 1.6em;
		}
	}

	// Images
	// =========================================================================

	&-images {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;

		&-item {
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 0;
			transition: opacity 200ms ease-in-out;

			img,
			source {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			&-active {
				z-index: 100;
				opacity: 1;
			}
		}
	}

	// List
	// =========================================================================

	&-list {
		margin-bottom: 1rem;

		&-white #{$self}-link * {
			color: $black;
		}
	}

	// Link
	// =========================================================================

	&-link {
		position: relative;
		display: inline-block;
		text-decoration: none;

		&-text {
			position: relative;
			display: inline-block;
		}
	}

	// Button
	// =========================================================================

	&-btn {
		display: flex;
		align-items: flex-end;
		cursor: pointer;
		z-index: 10;

		&-text {
			color: colour("white");
			margin-right: 6px;
			margin-bottom: 0;
			font-size: 13px;
		}

		&-arrow {
			display: flex;
			width: $nav-arrow-size;
			height: $nav-arrow-size;

			svg {
				width: 100%;
				height: 100%;
			}
		}
	}

	// Checkbox
	// =========================================================================

	&-checkbox {
		position: absolute;
		display: none;
		top: -9999999px;
		left: -9999999px;
	}

	// Active
	// =========================================================================

	&-checkbox:checked ~ #{$self},
	&-active {
		opacity: 1;
		visibility: visible;
		transition: opacity 700ms, visibility 700ms step-start;
	}

	// Small Phones
	// =========================================================================

	@include media-small-phones  {

		&-main #{$self}-link-text {
			font-size: 30px;
		}
	}

	// Tablet
	// =========================================================================

	@include media-tab {

		// Main
		// =========================================================================

		&-main {
			flex-direction: column;
			justify-content: space-between;
			padding-top: 4rem;
			padding-bottom: 4rem;

			&:before {
				content: "";
			}
		}

		// Sub
		// =========================================================================

		&-sub {
			justify-content: center;
			min-height: 200px;
		}
	}

	// Desktop
	// =========================================================================

	@include media-desk-large {
		flex-direction: row;
		justify-content: space-between;

		// Main & Sub Props
		// =========================================================================

		&-main,
		&-sub {
			padding: $nav-padding-desktop;
		}

		// Contact
		// =========================================================================

		&-contact-section {
			margin-bottom: 0;
		}

		// Main
		// =========================================================================

		&-main {
			height: 100%;
			width: 60%;
			margin-top: 0;

			#{$self}-list {
				margin-bottom: 0;
			}

			// Hover & Arrow
			#{$self}-link {
				$arrow-transition: 250ms ease-in-out;

				&-text {
					transition: transform $arrow-transition;
					will-change: transform;
				}

				// Arrow
				&:after {
					content: url('/images/icons/nav-arrow.svg');
					position: absolute;
					top: 50%;
					left: 0;
					transform: translate(-100%, -50%);
					opacity: 0;
					transition: transform $arrow-transition, opacity $arrow-transition;
					will-change: transform, opacity;
				}

				&:hover {

					#{$self}-link-text {
						transform: translateX(100px);
					}

					// Arrow
					&:after {
						opacity: 1;
						transform: translate(0, -50%);
					}
				}
			}
		}

		// Sub
		// =========================================================================

		&-sub {
			height: 100%;
			width: 40%;
			justify-content: flex-end;

			#{$self}-list {
				margin-bottom: 4rem;
				flex-direction: column;
				align-items: flex-start;
			}

			#{$self}-item {

				&:not(:last-child) {
					margin-bottom: 0.4rem;
				}
			}

			#{$self}-link-text:after {
				display: none !important; // Override nth-child
			}
		}

		// Images
		// =========================================================================

		&-images {
			display: block;
		}

		// Contact
		// =========================================================================

		&-contact {
			display: flex;
			flex-direction: row;

			&-section:first-child {
				margin-right: 3rem;
			}
		}
	}
}
