// -----------------------------------------------------------------------------
// _richtext.scss
// This file contains all styles related to any richtext sections of the site.
// -----------------------------------------------------------------------------

.richtext {
	$self: &;



	// Margin
	// ==========================================================================

	p,
	ul {

		+ h1,
		+ h2,
		+ h3,
		+ h4,
		+ h5 {
			margin-top: $margin-large;
		}
	}

	// Paragraph
	// ==========================================================================

	p:empty {
		display: none;
		margin: 0;
	}

	// Images
	// ==========================================================================

	p + .image {
		margin-top: $margin;
	}

	.image {

		+ h1,
		+ h2,
		+ h3,
		+ h4,
		+ h5,
		+ p {
			margin-top: $margin-large;
		}

		+ .image {
			margin-bottom: 1.6rem;
		}
	}
}
