// -----------------------------------------------------------------------------
// _richtext.scss
// This file contains all styles related to any richtext sections of the site.
// -----------------------------------------------------------------------------

.richtext {
	$self: &;

	// Margin
	// ==========================================================================

	p,
	ul {

		+ h1,
		+ h2,
		+ h3,
		+ h4,
		+ h5 {
			margin-top: $margin-large;
		}
	}

	> :last-child {
		// Assign no margin to the last element in the article.
		margin-bottom: 0 !important;
	}

	// Paragraph
	// ==========================================================================

	p {

		&:empty {
			display: none;
			margin: 0;
		}

		& + .image {
			margin-top: $margin;
		}
	}

	// Images
	// ==========================================================================

	.image { /* stylelint-disable-line no-descending-specificity */

		+ h1,
		+ h2,
		+ h3,
		+ h4,
		+ h5,
		+ p {
			margin-top: $margin-large;
		}

		+ .image {
			margin-bottom: 1.6rem;
		}
	}
}
