// -----------------------------------------------------------------------------
// _section.scss
// This file contains styles that are specific to the global sections.
// -----------------------------------------------------------------------------

.section {
	$self: &;

	position: relative;

	// Padding Modifiers
	// =========================================================================

	&-padding {
		padding-top: $section-padding;
		padding-bottom: $section-padding;

		&-small {
			padding-top: $section-padding-small;
			padding-bottom: $section-padding-small;
		}

		&-large {
			padding-top: $section-padding-large;
			padding-bottom: $section-padding-large;
		}
	}

	&-padding-bottom {
		padding-top: 0 !important;
	}

	&-padding-top {
		padding-bottom: 0 !important;
	}
}
