<!-- =====================
  	Plausible
    ===================== -->
{{ $plausible := site.Params.plausible -}}
{{ if $plausible.enable -}}
	{{ with $plausible.domain }}
	<script defer data-domain="{{ . }}"
		src="https://plausible.io/js/script.outbound-links{{ if $plausible.local }}.local{{ end }}.tagged-events.js">
	</script>
	{{- else -}}
		{{ warnf "No domain attached to Plauisble site param" }}
	{{- end }}
	<!-- Define the `plausible` function to manually trigger events -->
	<script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
	<!-- For 404 page, could also be eq .Page.Kind "404" -->
	{{ if eq .Params.namespace "notfound" -}}
		<script>plausible("404",{ props: { path: document.location.pathname } });</script>
	{{- end }}
{{- end }}
