// -----------------------------------------------------------------------------
// _footer.scss
// This file contains all styles related to the footer of the site.
// -----------------------------------------------------------------------------

.footer {
	$self: &;

	position: relative;
	display: block;
	overflow: hidden;

	// Main
	// =========================================================================

	&-main {
		position: relative;
		padding-top: 5rem;
		padding-bottom: 3rem;

		&-nav {

			&-list {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: none;
				grid-row-gap: 0.8rem;
				align-items: flex-end;
			}

			&-link {
				text-decoration: none;
			}
		}
	}

	// Sub
	// =========================================================================

	&-sub {
		position: relative;

		&-wrapper {
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			// TODO: Change to variable.
			border-top: 2px solid rgba($white, 0.15);
			padding-top: 1.4rem;
			padding-bottom: 1.4rem;
		}

		&-nav {
			margin-bottom: 0.8rem;

			&-list {
				display: flex;
				flex-direction: row;
			}

			&-item {
				margin-right: 6px;
			}

			&-item:last-child &-link:after {
				display: none;
			}

			&-link {
				text-decoration: none;
				white-space: nowrap;

				&:after {
					content: "|";
					color: $white;
					margin: 0 6px;
				}
			}
		}
	}

	// Contact
	// =========================================================================

	&-contact {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin: 3rem 0;
	}

	// Symbol
	// =========================================================================

	&-symbol {
		position: absolute;
		display: flex;
		bottom: 0;
		right: $gap-width;
	}

	// Logo
	// =========================================================================

	&-logo {
		display: none;
		width: 30%;
		max-width: 160px;
		margin-bottom: 1rem;

		img {
			width: 100%;
		}
	}

	// Heading
	// =========================================================================

	&-heading {
		margin-bottom: 0;
	}

	// Small Phones
	// =========================================================================

	@include media-small-phones {

		&-sub-nav {

			&-list {
				flex-direction: column;
			}

			&-link:after {
				display: none;
			}
		}
	}

	// Landscape
	// =========================================================================

	@include media-mob {

		&-contact {
			flex-direction: row;
			align-items: center;

			&-email {
				margin-bottom: 0;
				margin-right: 3rem;
			}
		}
	}

	// Tablet
	// =========================================================================

	@include media-tab {

		&-main {
			padding-top: 5rem;
			padding-bottom: 5rem;

			&-nav {

				&-list {
					display: grid;
					grid-template-rows: repeat(3, 1fr);
					grid-template-columns: none;
					grid-auto-flow: column;
				}
			}
		}
	}

	// Desktop
	// =========================================================================

	@include media-desk {

		&-main {
			padding-top: 100px;
			padding-bottom: 100px;

			&-col {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
			}
		}

		&-sub {

			&-wrapper {
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				padding: 1.6rem 0;
			}

			&-nav {
				margin-left: 4rem;
				margin-bottom: 0;
			}
		}

		&-heading {
			margin-bottom: 5rem;
		}

		&-contact {
			margin: 0;
		}

		&-logo {
			display: block;
		}
	}

	// Wrap Contact on Small Desktops
	// =========================================================================

	@media (min-width: $grid-breakpoint-desk * 1px) and (max-width: 1300px) {

		&-heading {
			margin-bottom: 3rem;
		}

		&-contact {
			flex-direction: column;
			align-items: flex-start;

			&-email {
				margin-right: 0;
				margin-bottom: 1.6rem;
			}
		}
	}
}
