// -----------------------------------------------------------------------------
// _header.scss
// This file contains all styles related to the header of the site.
// -----------------------------------------------------------------------------

.header {
	$self: &;

	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	height: $header-height;
	width: 100vw;
	padding: 0 $header-padding-x;
	z-index: 99999;

	// Logo
	// ==========================================================================

	&-logo {
		display: flex;
		align-items: center;
		z-index: 999999;
		width: $header-logo-size;

		svg {
			width: 100%;
			height: 100%;

			path {
				transition: fill 160ms ease;
			}
		}

		&:hover svg path {
			fill: colour(orange);
		}
	}

	// Scrolled
	// ==========================================================================

	&-scrolled {
		background-color: (orange);
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.23);
	}
}
