// -----------------------------------------------------------------------------
// _hero.scss
// This file contains all styles related to the hero sections of the site.
// -----------------------------------------------------------------------------

.hero {
	$self: &;

	position: relative;

	// Background
	// =========================================================================

	&-background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;

		img,
		source {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// Full Height
	// =========================================================================

	&-full-height {
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;
		min-height: 100vh;
	}

	// Text
	// =========================================================================

	&-text {
		margin-bottom: 20vh;
	}

	// Arrow
	// =========================================================================

	&-arrow {
		position: relative;
		display: inline-block;
		transition: all 100ms;
		transform-style: preserve-3d;
		transform-origin: 50% 50%;
	}

	// Tablet
	// =========================================================================

	@include media-tab {
	}

	// Desktop
	// =========================================================================

	@include media-desk {
	}
}
