// -----------------------------------------------------------------------------
// _nav.scss
// This file contains styles that are specific to the nav section.
// -----------------------------------------------------------------------------

.nav {
	$self: &;

	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: $black;
	opacity: 0;
	visibility: hidden;
	transition: opacity 700ms, visibility 700ms step-end;

	// Main & Sub Props
	// =========================================================================

	&-main,
	&-sub {
		padding: 0 $header-padding-mob-x;
	}

	// Main
	// =========================================================================

	&-main {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;

		#{$self}-list {
			margin-bottom: 2rem;

			#{$self}-item:last-child * {
				margin-bottom: 0;
			}
		}
	}

	// Sub
	// =========================================================================

	&-sub {
		background-color: $white;
		padding: 50px $gap-width;
	}

	// List
	// =========================================================================

	&-list {
		margin-bottom: 1rem;

		&-white #{$self}-link * {
			color: $black;
		}

		&-horizontal {
			display: flex;
			align-items: center;

			#{$self}-link {
				margin-bottom: 0;

				* {
					margin-right: 10px;
					margin-bottom: 0;
				}
			}
		}
	}

	// Link
	// =========================================================================

	&-link {
		text-decoration: none;
	}

	// Button
	// =========================================================================

	&-btn {
		display: flex;
		align-items: flex-end;
		cursor: pointer;
		z-index: 10;

		&-text {
			color: colour(white);
			margin-right: 6px;
			font-size: 13px;
		}

		&-arrow {
			display: flex;
			width: $nav-arrow-size;
			height: $nav-arrow-size;

			svg {
				width: 100%;
				height: 100%;
			}
		}
	}

	// Checkbox
	// =========================================================================

	&-checkbox {
		position: absolute;
		display: none;
		top: -9999999px;
		left: -9999999px;
	}

	// Active
	// =========================================================================

	&-checkbox:checked ~ #{$self},
	&-active {
		opacity: 1;
		visibility: visible;
		transition: opacity 700ms, visibility 700ms step-start;
	}

	// Desktop
	// =========================================================================

	@include media-desk {
		flex-direction: row;

		&-sub {
			height: 100%;
		}
	}
}
