// -----------------------------------------------------------------------------
// _all-articles.scss
// This file contains all styles related to the all articles component.
// -----------------------------------------------------------------------------

.all-articles {
	$self: &;
	display: flex;
	align-items: center;
	justify-content: space-between;

	// Props
	// =========================================================================

	* {
		margin: 0;
	}

	// Wrapper
	// =========================================================================

	&-wrapper {
		width: 100%;
	}

	// Small
	// =========================================================================

	&-small {
		order: 100;
		margin-top: $margin;

		#{$self}-wrapper {
			display: flex;
			justify-content: flex-end;
		}
	}

	// Large
	// =========================================================================

	&-large {
		display: none;
		order: -1;

		#{$self}-wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	// Sub
	// =========================================================================

	&-sub {
		display: none;
	}

	// Border
	// =========================================================================

	&-border {
		&#{$self}-large #{$self}-wrapper {
			padding-bottom: $margin-large;
			margin-bottom: $margin-large;
			border-bottom: var(--card-border);
		}

		&#{$self}-small #{$self}-wrapper {
			padding-top: $margin-large;
			margin-top: $margin-large;
			border-top: var(--card-border);
		}
	}

	// Mods
	// =========================================================================

	&-order-last {
		order: 9999;
	}

	&-wrapper-end {
		justify-content: flex-end !important;
	}

	&-wrapper-start {
		justify-content: flex-start !important;
	}

	// Tablet
	// =========================================================================

	@include media-tab {
		&-small {
			display: none;
		}

		&-large {
			display: flex;
		}

		&-sub {
			display: block;
		}
	}
}
