// -----------------------------------------------------------------------------
// logo-carousel.scss
// This file contains all styles related to the logo carousel component.
// -----------------------------------------------------------------------------

.logo-carousel {
	position: relative;
	width: 100%;
	overflow-x: clip;
	isolation: isolate;
	margin-top: clamp(60px, 10vw, 100px);

	// Gradients
	// =========================================================================

	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		width: clamp(80px, 16vw, 160px);
		z-index: 1;
		pointer-events: none;

		@include media-desk {
			top: -100px;
			bottom: -300px;
		}
	}

	&::before {
		left: 0;
		background: linear-gradient(to right, var(--colour-background), transparent);
	}

	&::after {
		right: 0;
		background: linear-gradient(to left, var(--colour-background), transparent);
	}

	// Embla Carousel
	// =========================================================================

	&-embla {
		overflow-x: clip;
	}

	&-container {
		display: flex;
		align-items: center;
	}

	&-slide {
		flex: 0 0 auto;
		min-width: 0;
		padding: 0 2rem;
	}

	// Logo Image
	// =========================================================================

	&-img {
		height: 36px;
		width: auto;
		display: block;
		opacity: 0.65;
		//filter: grayscale(1);
		transition: opacity 200ms ease;

		&:hover {
			opacity: 1;
		}
	}
}
