<!-- =====================
    Arrow
    	partial "images/arrow.html" (dict
    		"rotation" 45
    		"colour" "white"
    		"stroke" 2
    	)
    	- rotation:	The degree of rotation of the arrow
    	- colour: 	The colour of the arrow, defaults to foreground.
    	- stroke: 	The amount of border width to apply to the button.
    	- class: 	Any CSS classes to add to the arrow.
    ===================== -->
{{- $colour := partial "util/get-colour.html" .colour }}
<svg xmlns="http://www.w3.org/2000/svg"
	 	width="65"
	 	viewBox="0 0 65 65"
	 	class="arrow
		{{ with .class -}} {{ . }} {{- end }}"
		{{ with .rotation -}} style='--arrow-rotation: {{ . }}deg;' {{- end }}>
	<path d="M49.462,1V35.055H45.679V7.451L6.651,46.4,3.976,43.726,43,4.78H15.321V1Z"
		  transform="translate(-3.516 34.27) rotate(-45)"
		  fill="{{ $colour }}"
          {{ with .stroke -}} stroke-width="{{ . }}" {{- end }}
		  stroke="{{ $colour }}"/>
</svg>
