{{ define "main" }}
	<!-- =====================
		Brand Archive
		===================== -->
	<section class="hero hero-full-height">
		<!-- Background -->
        {{ with .Params.listhero -}}
			<picture class="hero-background gradient gradient-height-30">
                {{ partial "media/picture.html" (dict
					"image" ($.Resources.Get .default)
					"mob" ($.Resources.Get .mobile)
					"tab" ($.Resources.Get .tablet)
					"lazy" false
					"alt" "ainsley.dev Desk & Keyboard")
                }}
			</picture>
        {{- end }}
		<!-- Content -->
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- Text -->
					<div class="hero-text-large">
						<!-- Heading -->
						<div class="margin-large">
							<h1>ainsley.dev <span class="type-serif">brand <br/>guidelines*</span></h1>
						</div>
						<!-- Button -->
                        {{ partial "components/button.html" (dict "text" "Download Pack" "button" "files.zip" "arrow" true "colour" "white") }}
					</div><!-- /Text -->
					<!-- Arrow -->
					<a href="{{ .Page.Permalink }}#pages" class="hero-arrow">
                        {{ partial "images/arrow.html" (dict "colour" "white" "rotation" "135") }}
					</a><!-- /Arrow -->
				</div><!-- /Col -->
			</div><!-- /Row -->
		</div><!-- /Container -->
	</section>
	<!-- =====================
		Pages
		===================== -->
    {{ if .Pages -}}
		<section class="section section-padding section-padding-bottom" id="pages">
			<div class="container">
				<div class="row justify-content-between">
                    {{ range .Pages -}}
						{{ partial "cards/horizontal.html" (dict "title" .Title "permalink" .RelPermalink "image" (.Resources.GetMatch .Params.featuredImage) "animate" true) }}
                    {{- end }}
				</div><!-- /Row -->
			</div><!-- /Container -->
		</section>
    {{- end }}
{{ end }}
