{{ define "main" }}
	<!-- =====================
		Brand Single
		===================== -->
	<section class="hero hero-half-height">
		<!-- Background -->
        {{ with .Parent.Params.singlehero -}}
			<picture class="hero-background gradient gradient-height-100">
                {{ partial "media/picture.html" (dict
					"image" ($.Parent.Resources.Get .default)
					"mob" ($.Parent.Resources.Get .mobile)
					"tab" ($.Parent.Resources.Get .tablet)
					"lazy" false
					"alt" "ainsley.dev Desk & Keyboard"
				)}}
			</picture>
        {{- end }}
		<!-- Content -->
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- Text -->
					<div class="hero-text">
						<!-- Heading -->
						<h1 class="margin-large">
							Brand guidelines <br/>
							<span class="type-serif type-lowercase">{{ .Title }}*</span>
						</h1>
						<!-- File -->
                        {{ with .Params.download -}}
                            {{ $file := $.Resources.GetMatch .path }}
                            {{ if $file -}}
                                {{ partial "components/button.html" (dict
									"text" .text
									"link" ($.Resources.GetMatch .path).RelPermalink
                                	"colour" "white"
                                	"size" "small"
									"arrow" true
									"title" "Download Brand Pack"
									"attr" (printf "download=%s" .name)
								)}}
                            {{- else -}}
                                {{ errorf "File not found with path: %s" .path }}}
                            {{- end }}
                        {{- end }}
					</div>
					<!-- Arrow -->
					<div class="hero-arrow">
                        {{ partial "arrow/hover.html" (dict
							"link" (printf "%s#content" .Page.RelPermalink)
                        	"title" "Scroll down to explore"
                       	 	"rotation" 135
							"title" (printf "Explore the %s Brand Guidelines" .Title)
							"down" true
						)}}
					</div><!-- /Arrow -->
				</div><!-- /Col -->
			</div><!-- /Row -->
		</div><!-- /Container -->
	</section>
	<!-- =====================
		Content
		===================== -->
	<section class="section section-padding" id="content">
		<div class="container">
			<div class="row">
				<!-- Sidebar -->
				<div class="col-12 col-desk-3">
					<input class="aside-checkbox" type="checkbox" id="brand-aside-check"/>
					<aside class="aside">
						<!-- Links -->
                        {{ range (where .Site.RegularPages "Type" "brand") }}
							<a href="{{ .RelPermalink }}" class="aside-link">
								<h5 class="aside-text {{ if eq $.Page.RelPermalink .RelPermalink -}} aside-active {{- end }}">{{ .Title }}</h5>
							</a>
                        {{- end }}
						<!-- Button -->
						<label class="aside-btn" for="brand-aside-check">
							<span class="aside-btn-text heading-6">Menu</span>
						</label>
						<!-- Close -->
						<label class="aside-close" for="brand-aside-check">
							<span class="heading-6">Close</span>
						</label>
					</aside>
					<!-- Overlay -->
					<label class="aside-overlay" for="brand-aside-check"></label>
				</div><!-- /Col -->
				<!-- Content -->
				<div class="col-12 col-desk-8 offset-desk-1">
					<article class="margin-large">
                        {{ .Content | safeHTML }}
					</article>
				</div><!-- /Col -->
				<!-- Previous / Next -->
				<div class="col-12 col-desk-8 offset-desk-4">
                    {{ partial "components/pagination.html" (dict
						"prev" .PrevInSection
						"next" .NextInSection
                    )}}
				</div><!-- /Col -->
			</div><!-- /Row -->
		</div><!-- /Container -->
	</section>
{{ end }}
