{{ define "main" }}
	<!-- =====================
		Brand Single
		===================== -->
	<section class="hero hero-half-height">
		<!-- Background -->
        {{ with .Parent.Params.singlehero -}}
			<picture class="hero-background gradient gradient-height-100">
                {{ partial "media/picture.html" (dict
					"image" ($.Parent.Resources.Get .default)
					"mob" ($.Parent.Resources.Get .mobile)
					"tab" ($.Parent.Resources.Get .tablet)
					"lazy" false
					"alt" "ainsley.dev Desk & Keyboard")
                }}
			</picture>
        {{- end }}
		<!-- Content -->
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- Text -->
					<div class="hero-text">
						<!-- Heading -->
						<div class="margin-large">
							<h1>
								Brand guidelines <br/>
								<span class="type-serif type-lowercase">{{ .Title }}*</span>
							</h1>
						</div>
						<!-- File -->
                        {{ with .Params.download -}}
                            {{ $file := $.Resources.GetMatch .path }}
                            {{ if $file -}}
                                {{ partial "components/button.html" (dict
									"text" .text
									"link" ($.Resources.GetMatch .path).RelPermalink
									"arrow" true
                                	"colour" "white"
									"title" "Download Brand Pack"
									"attr" (printf "download=%s" .name)
								)}}
                            {{- else -}}
                                {{ errorf "File not found with path: %s" .path }}}
                            {{- end }}
                        {{- end }}
					</div>
					<!-- Arrow TODO Should be: {{ .Page.Permalink }} use concat -->
					<div class="hero-arrow">
                        {{ partial "type/arrow-link.html" (dict
							"link" "#content"
							"rotation" 135
							"title" (print "Explore the %s Brand Guidelines" .Title)
						)}}
					</div>
				</div><!-- /Col -->
			</div><!-- /Row -->
		</div><!-- /Container -->
	</section>
	<!-- =====================
		Content
		===================== -->
	<section class="section section-padding" id="content">
		<div class="container">
			<div class="row">
				<!-- Sidebar -->
				<div class="col-12 col-desk-3">
					<input class="aside-checkbox" type="checkbox" id="brand-aside-check"/>
					<aside class="aside">
						<!-- Links -->
                        {{ range (where .Site.RegularPages "Type" "brand") }}
							<a href="{{ .RelPermalink }}" class="aside-link">
								<h5 class="aside-text {{ if eq $.Page.RelPermalink .RelPermalink -}} aside-active {{- end }}">{{ .Title }}</h5>
							</a>
                        {{- end }}
						<!-- Button -->
						<label class="aside-btn" for="brand-aside-check">
							<span class="aside-btn-text heading-6">Menu</span>
						</label>
						<!-- Close -->
						<label class="aside-close" for="brand-aside-check">
							<span class="heading-6">Close</span>
						</label>
					</aside>
					<!-- Overlay -->
					<label class="aside-overlay" for="brand-aside-check"></label>
				</div><!-- /Col -->
				<!-- Content -->
				<div class="col-12 col-desk-8 offset-desk-1">
                    {{ .Content }}
				</div>
			</div><!-- /Row -->
		</div><!-- /Container -->
	</section>
{{ end }}
