<!-- =====================
    Vertical
		partial "type/vertical.html" (dict
			"text" "Vertical <br/>heading"
			"number" 1
			"line" true
			"fill" true
			"inline" false
		)
		- text:					The content of the quote.
		- number:				A optional number associated with the text.
		- line:					If the line should be displayed.
		- fill:					If the line should stretch to fit the container.
		- inline: 				If the words should be inline on mobile.
		- remainHorizontal: 	If the text should be horizontal for tablet
    ===================== -->
<div class="vertical-container">
	<div class="vertical
	{{ with .number }} vertical-with-number {{- end }}
	{{ if .fill -}} vertical-fill {{- end }}
	{{ if .inline -}} vertical-inline {{- end }}">
		<!-- Wrapper -->
		<div class="vertical-wrapper">
			<!-- Number -->
            {{ with .number }}
				<span class="vertical-number heading-2 type-serif">
				{{ . | safeHTML }}*
			</span>
            {{- end }}
			<!-- Text -->
            {{ with .text -}}
				<h2 class="vertical-text">
                    {{ range $index, $word := split . " " }}
						<span class="vertical-word">
						{{ . | safeHTML }}
					</span>
                    {{ end  }}
				</h2>
            {{- end }}
		</div><!-- /Wrapper -->
		<!-- Line -->
        {{ if .line -}}
			<span class="vertical-line"></span>
        {{- end }}
	</div><!-- /Wrapper -->
</div><!-- /Vertical -->
