<!-- =====================
    Header
    ===================== -->
<header class="header header-colour-{{ .colour }}">
	<!-- Logo -->
	<a href="/" class="header-logo">
        {{- partial "images/logo.html" -}}
	</a>
	<!-- Hamburger -->
	<input class="nav-checkbox" type="checkbox" id="nav-check" checked />
	<!-- Button -->
	<label class="nav-btn" for="nav-check">
		<h6 class="nav-btn-text">Menu</h6>
		<figure class="nav-btn-arrow">
            {{- partial "images/arrow.html" (dict "rotation" 45 "colour" "white") -}}
		</figure>
	</label>
	<!-- Navigation -->
    {{- partial "nav.html" -}}
</header>
