<!-- =====================
    Home
    ===================== -->
<section class="home" id="home">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Resource Boilerplate</h1>
				{{ partial "helpers/video.html" (dict "filename" "home-brand.mp4" "attributes" "autoplay loop muted loop" "poster" "images/home/brand-poster-desk.jpg" "class" "heroVideo") }}
			</div><!-- /Col -->
        </div><!-- /Row -->
    </div><!-- /Container -->
</section>
