<!-- =====================
    Navigation
    ===================== -->
<nav class="nav" aria-label="Main Navigation">
	<!-- Main (Top/Left) -->
	<div class="nav-main nav-main-active">
		<div class="nav-main-wrapper">
			<!-- List -->
            {{ with .Site.Menus.nav_main -}}
				<ul class="nav-list">
                    {{ range . -}}
						<li class="nav-item">
							<a href="{{ .URL }}" class="nav-link" data-image="nav-picture-{{ .Identifier }}">
								<h2 class="heading-1">{{ .Name }}</h2>
							</a>
						</li>
                    {{- end }}
				</ul><!-- /List -->
            {{- else -}}
                {{ errorf "No nav_main defined in menus.yaml" }}
            {{- end }}
			<!-- Contact -->
			<div class="nav-contact">
				<!-- Email -->
                {{ with .Params.contact.email -}}
					<div class="nav-contact-section">
						<h6>Email us</h6>
						<a href="mailto:{{ . }}">{{ . }}</a>
					</div>
                {{- end }}
				<!-- Social -->
                {{ if .Params.social -}}
					<div class="nav-contact-section">
						<h6>Connect with us</h6>
                        {{ partial "components/social.html" (dict "global" . "colour" "var(--colour-white)") }}
					</div>
                {{- end }}
			</div><!-- /Contact -->
		</div><!-- /Wrapper -->
	</div><!-- /Main -->
	<!-- Nav Sub (Bottom/Right) -->
	<div class="nav-sub">
		<!-- List -->
        {{ with .Site.Menus.nav_sub -}}
			<ul class="nav-list nav-list-white">
                {{ range . -}}
					<li class="nav-item">
						<a href="{{ .URL }}" class="nav-link">
							<h5>{{ .Name }}</h5>
						</a>
					</li>
                {{- end }}
			</ul><!-- /List -->
        {{- else -}}
            {{ errorf "No nav_sub defined in menus.yaml" }}
        {{- end }}
		<!-- Privacy -->
        {{ with .Site.Copyright -}}
			<small>{{ .}}</small>
        {{- end }}
		<!-- Image Hover -->
        {{ with .Site.Menus.nav_main -}}
			<div class="nav-images">
				<!-- Who We Are -->
                {{ range . -}}
                    {{- $name := .Name -}}
                    {{ if .Params.image -}}
                        {{ partial "helpers/picture.html" (dict "url" .Params.image.url "alt" .Params.image.alt "class" "nav-images-item" "id" (printf "nav-image-%s" .Identifier) "hideTablet" true) }}
                    {{- else -}}
                        {{ errorf "No image attached to menu item: %s" .Name }}
                    {{- end }}
                {{- end }}
			</div><!-- /Image Hover -->
        {{- end }}
	</div><!-- /Sub -->
</nav>
