<!-- =====================
    Navigation
    ===================== -->
<nav class="nav">
	<!-- Main (Top/Left) -->
	<div class="nav-main">
		<div class="nav-main-wrapper">
			<!-- List -->
			<ul class="nav-list">
				<li class="nav-item">
					<a href="/who-we-are/" class="nav-link"><h2 class="heading-1">Who we are</h2></a>
				</li>
				<li class="nav-item">
					<a href="/services/" class="nav-link"><h2 class="heading-1">Services</h2></a>
				</li>
				<li class="nav-item">
					<a href="/portfolio/" class="nav-link"><h2 class="heading-1">Portfolio</h2></a>
				</li>
				<li class="nav-item">
					<a href="/insights/" class="nav-link"><h2 class="heading-1">Insights</h2></a>
				</li>
				<li class="nav-item">
					<a href="/contact/" class="nav-link"><h2 class="heading-1">Say hello</h2></a>
				</li>
			</ul><!-- /List -->
			<!-- Contact -->
			<div class="nav-contact">
				<div class="nav-contact-section">
					<h6>Email us</h6>
					<a href="mailto:hello@ainsley.dev">hello@ainsley.dev</a>
				</div>
				<div class="nav-contact-section">
					<h6>Connect with us</h6>
					{{ partial "components/social.html" (dict "global" . "colour" "var(--colour-white)") }}
				</div>
			</div><!-- /Contact -->
		</div><!-- /Wrapper -->
	</div><!-- /Main -->
	<!-- Nav Sub (Bottom/Right) -->
	<div class="nav-sub">
		<!-- List -->
		<ul class="nav-list nav-list-small nav-list-white nav-list-horizontal">
			<li class="nav-item">
				<a href="/brand/" class="nav-link"><h5>Brand</h5></a>
			</li>
			<li class="nav-item">
				<a href="/forms/questionnaire/" class="nav-link"><h5>Questionnaire</h5></a>
			</li>
			<li class="nav-item">
				<a href="/forms/feedback/" class="nav-link"><h5>Feedback</h5></a>
			</li>
		</ul><!-- /List -->
		<!-- Privacy -->
		<small>ainsley.dev LTD is a registered company in England and Wales. Company Number 12478393. ©2022
			ainsley.dev LTD. All rights reserved.</small>
	</div><!-- /Sub -->
</nav>
