// -----------------------------------------------------------------------------
// _brand.scss
// This file contains all styles related to the brand pages.
// -----------------------------------------------------------------------------

.brand {

	// List (Split Section)
	// =========================================================================

	&-list {
		color: colour("foreground");

		&-description {

			&:last-child {
				background-color: red !important;
			}

			* {
				color: colour("copy-dark");
			}
		}
	}


	// Tablet
	// =========================================================================

	@include media-tab {
	}

	// Desktop
	// =========================================================================

	@include media-desk {
	}
}
