// -----------------------------------------------------------------------------
// _brand.scss
// This file contains all styles related to the brand pages.
// -----------------------------------------------------------------------------

.brand {

	// List (Split Section)
	// =========================================================================

	&-list {
		color: colour("foreground");

		&-description {

			&:last-child {
				background-color: red !important;
			}

			* {
				color: colour("copy-dark");
			}
		}
	}

	// Box
	// =========================================================================

	&-box {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 25vh;
		min-height: 160px;
		max-height: 250px;
		background: repeating-linear-gradient(45deg, transparent, transparent 18px, rgba($white, 0.1) 20px);
		border: 2px solid $grey-light;

		&-white {
			background: $white repeating-linear-gradient(45deg, transparent, transparent 18px, rgba($black, 0.1) 20px);
		}
	}

	// Mobile Down
	// =========================================================================

	@include media-tab-down {

		&-list-description {

			p {
				margin-bottom: 10px;
			}
		}
	}

	// Tablet
	// =========================================================================

	@include media-tab {
	}

	// Desktop
	// =========================================================================

	@include media-desk {
	}
}
