// -----------------------------------------------------------------------------
// _brand.scss
// This file contains all styles related to the brand pages.
// -----------------------------------------------------------------------------

@import '../abstracts/mixins';
@import '../abstracts/variables';

.brand {
	// List (Split Section)
	// =========================================================================

	&-list {
		color: colour('foreground');

		&-description {
			* {
				color: colour('copy-dark');
			}
		}
	}
	// Mobile Down
	// =========================================================================

	@include media-tab-down {
		&-list-description {
			p {
				margin-bottom: 10px;
			}
		}
	}
}
