// -----------------------------------------------------------------------------
// _home.scss
// This file contains all styles related to the home section.
// -----------------------------------------------------------------------------

@import '../abstracts/mixins';
@import '../abstracts/variables';

$homeWrapperHeight: 250vh;
$homeShowReelHeight: 350vh;

.home {
	$self: &;

	// Hero
	// =========================================================================

	&-hero {
		overflow-x: hidden;
		pointer-events: none;

		&-wrapper {
			height: $homeWrapperHeight;
		}

		&-text {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			@include full-height;
		}

		&-heading {
			margin-bottom: 0;

			h1 {
				margin-bottom: 0;
			}
		}
	}

	&-first-section {
		position: relative;
		padding-top: 0;
		margin-top: $homeShowReelHeight - $homeWrapperHeight;
	}

	// Show-reel
	// =========================================================================

	&-show-reel {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: $homeShowReelHeight;

		&-wrapper {
			position: sticky;
			display: flex;
			align-items: center;
			top: 0;
			width: 100%;
			height: 100vh;
			perspective: 100vw;
			transform-style: preserve-3d;
		}

		&-content {
			width: 100%;
		}

		&-image {
			position: relative;
			width: 100%;
			height: auto;
			aspect-ratio: 16 / 9;

			img {
				position: relative;
				width: 100%;
				height: 100%;
			}
		}
	}

	// 3D
	// =========================================================================

	&-three-d {
		position: fixed;
		height: 90%;
		width: 90%;
		left: 50%;
		transform: translateX(-50%);
		bottom: 0;
		perspective: 2000px;
		filter: grayscale(100%);
		opacity: 0.4;
		will-change: transform, opacity, filter;

		img,
		svg {
			width: 100%;
			height: 100%;
		}
	}

	// Tablet
	// =========================================================================

	@include media-tab {
		&-hero {
			@include full-height;
			display: flex;
			align-items: center;

			&-text {
				display: block;
				height: auto;
			}

			&-heading {
				margin-bottom: $margin-large;
			}
		}
	}

	// Tablet
	// =========================================================================

	@include media-desk {
		&-three-d {
			width: 100%;
		}
	}
}
