// -----------------------------------------------------------------------------
// _portfolio.scss
// This file contains all styles related to the portfolio single page.
// -----------------------------------------------------------------------------

@import '../abstracts/mixins';
@import '../abstracts/variables';

.portfolio {
	$self: &;

	// Aside
	// =========================================================================

	&-aside {
		align-items: center;
		min-height: 100vh;
	}

	// Content
	// =========================================================================

	&-content {
		overflow-x: hidden;
	}

	// Tablet
	// =========================================================================

	@include media-mob {
		&-content picture {
			display: flex;
			width: 83.33333333%;
			margin-left: 16.66666667%;
			padding: $gap-width 0;
		}
	}

	// Desktop
	// =========================================================================

	@include media-desk {
		&-content picture {
			display: flex;
			width: 50vw;
			margin-left: 0;
			padding: 0;
		}
	}
}
