<!-- =====================
    Footer
    ===================== -->
<footer class="footer">
	<div class="container">
		<!-- Main -->
		<div class="row footer-main">
			<!-- Symbol -->
			<figure class="footer-symbol">
                {{ partial "images/a-symbol.html" (dict "opacity" 0.1 "greyscale" true) }}
			</figure>
			<div class="col-12 col-desk-6 footer-main-col">
				<!-- Heading -->
				<h2 class="footer-heading">
					Digital craftmanship <br class="d-mob-none"/>
					sculpting
					<br class="d-none d-mob-inline"/>
					you as an
					<br class="d-mob-none"/>industry <u>leader</u>.
				</h2><!-- /Heading -->
				<!-- Contact -->
				<div class="footer-contact">
					<!-- Email -->
                    {{ with .Site.Params.contact.email -}}
						<div class="footer-contact-email margin-large">
							<h6>Email us</h6>
							<a href="mailto:{{ . | safeHTMLAttr }}" aria-label="Email ainsley.dev">
								<span class="heading-5">{{ . }}</span>
							</a>
						</div>
                    {{- end }}
					<!-- Social -->
                    {{ with .Site.Params.social -}}
						<menu class="footer-contact-social">
							<h6>Connect with us</h6>
                            {{ partial "components/social.html" (dict "colour" "var(--colour-white)") }}
						</menu>
                    {{- end }}
				</div><!-- /Contact -->
			</div><!-- /Col -->
			<div class="col-12 col-desk-6 footer-main-col">
				<!-- Logo -->
				<figure class="footer-logo">
                    {{- partial "images/logo.html" (dict "colour" "var(--colour-white") -}}
				</figure>
				<!-- Navigation -->
                {{ with .Site.Menus.footer -}}
					<menu class="footer-main-menu">
                        {{ range . -}}
							<li class="footer-main-menu-item">
								<a href="{{ .URL }}" class="footer-main-menu-link"
								   aria-label="Navigate to the {{ .Name }} page">
									<h5 class="cursor-element" data-cursor-border>{{ .Name }}</h5>
								</a>
							</li>
                        {{- end }}
					</menu><!-- /List -->
                {{- else -}}
                    {{ errorf "No footer defined in menu.yaml" }}
                {{- end }}
			</div><!-- /Col -->
		</div><!-- /Main/Row -->
		<!-- Sub -->
		<div class="row footer-sub">
			<div class="col-12">
				<div class="footer-sub-wrapper">
					<!-- Menu -->
                    {{ with .Site.Menus.terms -}}
						<menu class="footer-sub-menu">
                            {{ range . -}}
								<li class="footer-sub-menu-item">
									<a class="footer-sub-menu-link" href="{{ .URL }}"
									   aria-label="Navigate to the {{ .Name }} page">
                                        {{ .Name }}
									</a>
								</li>
                            {{- end }}
						</menu>
                    {{- end }}
					<!-- Text -->
					<small class="footer-sub-text">
						ainsley.dev is a registered company in England and Wales. Company
						Number {{ with .Site.Params.company.number -}} 14550437 {{- end}}. ©{{ now.Year }}
						ainsley.dev LTD. All rights reserved. <br class="d-none d-desk-large-inline"/>The ainsley.dev
						logo are
						registered trademarks of
						ainsley.dev LTD.
					</small>
				</div><!-- /Wrapper -->
			</div><!-- /CXol -->
		</div><!-- /Sub/Row -->
	</div><!-- /Container -->
</footer>

