<!-- =====================
    Header
    ===================== -->
<header class="header header-colour-{{ .colour }}" data-colour="{{ .colour }}">
	<!-- Hamburger -->
	<input class="nav-checkbox" type="checkbox" id="nav-check" aria-hidden="true" />
	<!-- Logo -->
	<a href="/" class="header-logo cursor-element" aria-label="Navigate to the homepage"
	   data-cursor-invert data-cursor-invert-black data-cursor-scale="1.6">
        {{- partial "svgs/logo.html" -}}
	</a>
	<!-- Button -->
	<label class="nav-btn cursor-element" for="nav-check"
		data-cursor-invert data-cursor-invert-black data-cursor-scale="1.2">
		<span class="nav-btn-wrapper">
			<span class="nav-btn-text nav-btn-text-menu">
				Menu
			</span>
			<span class="nav-btn-text nav-btn-text-close">
				Close
			</span>
		</span>
		<figure class="nav-btn-arrow">
            {{ partial "svgs/arrow.html" (dict
				"rotation" 45
				"colour" "white"
			)}}
		</figure>
	</label>
	<!-- Navigation -->
    {{- partial "nav.html" .ctx -}}
</header>
