{{ define "main" }}
	<!-- =====================
		Guidelines List
		===================== -->
	<div class="guidelines-container">
		<!-- =====================
			Header
			===================== -->
		{{ partial "guidelines/header.html" . }}
		<!-- =====================
			Menu
			===================== -->
		{{ partial "guidelines/sidebar.html" . }}
		<!-- =====================
			Content
			===================== -->
		<article class="guidelines-content">
			<div class="guidelines-content-container">
				<!-- Title -->
				<div class="guidelines-content-heading">
					<h1 class="heading-2">
						{{ .Title }}
					</h1>
				</div>
				<!-- Intro Content (if any) -->
				{{ if .Content }}
					<div class="guidelines-content-richtext richtext richtext-small-format">
						{{ .Content | replaceRE "/a>\n" "/a>" | safeHTML }}
					</div>
				{{ end }}
				<!-- Child Pages List -->
				{{ $pages := sort .RegularPages "Weight" }}
				{{ if gt (len $pages) 0 }}
					<div class="guidelines-content-list">
						<h2 class="heading-3">Pages</h2>
						<ul class="guidelines-pages-list">
							{{ range $pages }}
								<li class="guidelines-page-item">
									<a href="{{ .RelPermalink }}" class="guidelines-page-link" title="Navigate to {{ .Title }}">
										<h3 class="heading-4">{{ .Title }}</h3>
										{{ if .Params.description }}
											<p class="guidelines-page-description">{{ .Params.description }}</p>
										{{ else if .Summary }}
											<p class="guidelines-page-description">{{ .Summary }}</p>
										{{ end }}
									</a>
								</li>
							{{ end }}
						</ul>
					</div>
				{{ end }}
				<!-- Footer -->
				{{ partial "guidelines/footer.html" . }}
			</div><!-- /Container -->
		</article>
	</div><!-- /Container -->
{{ end }}
