{{ define "main" }}
	<!-- =====================
		Guidelines Single
		===================== -->
	<div class="guidelines-container">
		<!-- =====================
			Menu
			===================== -->
		<aside class="guidelines-aside">
			<!-- Header -->
			<header class="guidelines-aside-header">
				<!-- Logo -->
				<a href="/" class="guidelines-aside-logo cursor-element" aria-label="Navigate to the homepage"
					data-cursor-invert data-cursor-invert-black data-cursor-scale="1.6">
					{{- partial "svgs/logo.html" -}}
				</a>
			</header>
			<!-- Items -->
			<nav class="guidelines-nav">
                {{ range (where .Site.RegularPages "Type" "guidelines") }}
					<a href="{{ .RelPermalink }}" class="guidelines-nav-link">
                        <h5>Use site menus similar to navMain</h5>
						<h5 class="guidelines-nav-text {{ if eq $.Page.RelPermalink .RelPermalink -}} guidelines-nav-active {{- end }}">
                            {{ with .Params.heading -}} {{ . }} {{- end }}
						</h5>
					</a>
                {{- end }}
			</nav>
		</aside>
		<!-- =====================
			Content
			===================== -->
		<article class="guidelines-content">
			<div class="guidelines-content-container">
				<!-- Title -->
				<div class="guidelines-content-heading">
					<h1 class="heading-3">
                        {{ .Title }}
					</h1>
				</div>
				<!-- Page Content -->
				<div class="guidelines-content-richtext richtext">
                    {{ .Content }}
				</div>
				<!-- Links TODO: Probably need to latch on to the TOC -->
				<div class="box-link-container">
					{{ partial "components/box-links.html" (dict
						"link" "/guidelines"
						"heading" "Something"
						"sub" "Something"
						"left" true
						"title" "Navigate to..."
                    )}}
                    {{ partial "components/box-links.html" (dict
						"link" "/guidelines"
						"heading" "Something"
						"sub" "Something"
						"left" false
						"title" "Navigate to..."
                    )}}
				</div>
				<!-- Footer -->
				<footer class="guidelines-footer">
					<!-- Last Mod -->
					<small class="guidelines-footer-last-mod">
						Last modified: {{ .Lastmod.Format "02/01/2006" }}
					</small>
					<!-- Copyright -->
					<small>
						2022-{{ now.Year }} ©ainsley.dev, All rights reserved.
					</small>
				</footer>
			</div><!-- /Container -->
		</article>
		<!-- =====================
			Table of Contents
			===================== -->
		<aside class="toc">
            {{ .TableOfContents }}
		</aside>
	</div><!-- /Container -->
{{ end }}
