{{ define "main" }}
	<!-- =====================
		Guidelines Single
		===================== -->
	<div class="guidelines-container">

		<!-- =====================
			Mobile
			===================== -->
        <div class="guidelines-header">
            {{- partial "header.html" (dict
				"ctx" .
				"nav" false
				"colour" "white"
            )}}
		</div>
		<!-- =====================
			Menu
			===================== -->
		<aside class="guidelines-aside">
			<!-- Header -->
			<header class="guidelines-aside-header">
				<!-- Logo -->
				<a href="/" class="guidelines-aside-logo cursor-element" aria-label="Navigate to the homepage"
					data-cursor-invert data-cursor-invert-black data-cursor-scale="1.6">
					{{- partial "svgs/logo.html" -}}
				</a>
			</header>
			<!-- Items -->
            {{ with .Site.Menus.guidelines }}
				<menu class="guidelines-menu">
					{{ range . }}
						<li class="guidelines-menu-section">
							<!-- Section Title -->
							<h6 class="guidelines-menu-title">
								{{ .Name }}
							</h6>
							<!-- Sub -->
							{{ if .HasChildren -}}
								<menu class="guidelines-menu-sub">
									{{ range .Children }}
										<li class="guidelines-menu-item">
											<a class="guidelines-menu-link
												{{ if eq $.Page.RelPermalink .URL -}} guidelines-menu-active {{- end }}"
												href="{{ .URL }}"
												title="{{ .Name }} Page"
												aria-label="Navigate to the {{ .Name }} page">
												{{ .Name }}
											</a>
										</li>
									{{ end }}
								</menu>
							{{ end -}}
						</li>
					{{ end }}
				</menu>
            {{- else -}}
                {{ errorf "No guidelines defined in menu.yaml" }}
            {{- end }}
		</aside>
		<!-- =====================
			Content
			===================== -->
		<article class="guidelines-content">
			<div class="guidelines-content-container">
				<!-- Title -->
				<div class="guidelines-content-heading">
					<h1 class="heading-3">
                        {{ .Title }}
					</h1>
				</div>
				<!-- Page Content -->
				<div class="guidelines-content-richtext richtext">
                    {{ .Content }}
				</div>
				<!-- Links TODO: Probably need to latch on to the TOC -->
				<div class="box-link-container">
					{{ partial "components/box-links.html" (dict
						"link" "/guidelines"
						"heading" "Something"
						"sub" "Something"
						"left" true
						"title" "Navigate to..."
                    )}}
                    {{ partial "components/box-links.html" (dict
						"link" "/guidelines"
						"heading" "Something"
						"sub" "Something"
						"left" false
						"title" "Navigate to..."
                    )}}
				</div>
				<!-- Footer -->
				<footer class="guidelines-footer">
					<!-- Last Mod -->
					<small class="guidelines-footer-last-mod">
						Last modified: {{ .Lastmod.Format "02/01/2006" }}
					</small>
					<!-- Copyright -->
					<small>
						2022-{{ now.Year }} ©ainsley.dev, All rights reserved.
					</small>
				</footer>
			</div><!-- /Container -->
		</article>
		<!-- =====================
			Table of Contents
			===================== -->
		<aside class="toc guidelines-toc">
			<div class="toc-wrapper">
				<!-- Title -->
				<h6 class="toc-title">
					On this page
				</h6>
				<!-- Contents -->
                {{ .TableOfContents }}
			</div>
		</aside>
	</div><!-- /Container -->
{{ end }}
