{{ define "main" }}
    {{ .Content }}


	<!-- =====================
		Solutions
		===================== -->
	<section class="section section-padding section-padding-top">
		<div class="container">
			<div class="row justify-content-between">
				<!-- Heading -->
				<div class="col-12 col-mob-2" data-scroll data-scroll-speed="2">
                    {{ partial "type/vertical.html" (dict
						"text" "Solutions"
						"number" "02"
						"line" true
						"fill" true
                    )}}
				</div><!-- /Col -->
				<!-- Content -->
				<div class="col-12 col-mob-9 col-desk-6">
					<h3>Increase your visibility</h3>
					<p>
						Every application made by ainsley.dev is curated to launch your business into the digital world
						by sculpting your online presence to increase your online visibility.
					</p>
					<h3>Discover bespoke solutions</h3>
					<p>
						We take the time to get to know you and the challenges you face with your existing strategies,
						and create bespoke products by treating your business as if it were our own.
					</p>
					<h3>Driven by simplicity</h3>
					<p>
						We are driven by simplicity and the shared goal of producing visionary designs, coupled with
						best-in-class in-house software, APIs, designs and websites.
					</p>
				</div><!--- /Col -->
			</div><!-- /Row -->
		</div><!-- /Container -->
	</section>
	<!-- =====================
		Services
		===================== -->
	<section class="section section-padding section-padding-top">
		<div class="container">
			<div class="row justify-content-between">
				<!-- Heading -->
				<div class="col-12 col-mob-2" data-scroll data-scroll-speed="2">
                    {{ partial "type/vertical.html" (dict
						"text" "Services"
						"number" "02"
						"line" true
						"fill" true
                    )}}
				</div><!-- /Col -->
				<!-- Content -->
				<div class="col-12 col-mob-9 col-desk-6">
					<div class="row">
						<div class="col-12 col-desk-6">
							<div class="margin">
								<h3>Brand strategy</h3>
							</div>
							<div class="margin">
								<h3>Digital experience</h3>
							</div>
							<h3>Bespoke UI/UX</h3>
							<h3>Development</h3>
						</div>
						<div class="col-12 col-desk-6">
							<h3>Software</h3>
							<h3>SEO</h3>
							<h3>Copywriting</h3>
							<h3>Illustration</h3>
						</div>
					</div>
				</div><!--- /Col -->
			</div><!-- /Row -->
		</div><!-- /Container -->
	</section>
	<!-- =====================
		Portfolio
		===================== -->
    {{- $portfolio :=  (where .Site.RegularPages "Type" "portfolio").ByWeight | first 6 -}}
    {{ with $portfolio }}
		<section class="section section-padding section-padding-top">
			<div class="container">
				<div class="row justify-content-between">
					<!-- Heading -->
					<div class="col-12 col-mob-2" data-scroll data-scroll-speed="2">
                        {{ partial "type/vertical.html" (dict
							"text" "Portfolio"
							"number" "03"
							"line" true
							"fill" true
                        )}}
					</div><!-- /Col -->
					<!-- Content -->
					<div class="col-12 col-mob-9 col-desk-10">
						<div class="row">
                            {{ range $index, $page := . }}
                                {{ $isLeft := eq (mod $index 2) 0 }}
								<div
									class="col-12 col-mob-11 col-desk-6 {{ if not $isLeft }} offset-desk-0 {{- end }} card-col">
                                    {{ .Render "card" }}
								</div><!-- /Col -->
                            {{- end }}
						</div><!-- /Row -->
					</div><!--- /Col -->
				</div><!-- /Row -->
			</div><!-- /Container -->
		</section>
    {{- end }}
	<!-- =====================
		Insights
		===================== -->
    {{- $insights :=  (where .Site.RegularPages "Type" "insights").ByDate.Reverse | first 4 -}}
    {{ with $insights }}
		<section class="section section-padding">
			<div class="container">
				<div class="row justify-content-between">
					<!-- Heading -->
					<div class="col-12 col-mob-2">
                        {{ partial "type/vertical.html" (dict
							"text" "Portfolio"
							"number" "04"
							"line" true
							"fill" true
                        )}}
					</div><!-- /Col -->
					<!-- Content -->
					<div class="col-12 col-mob-9 col-desk-9">
						<!-- Into -->
						<div class="row">
							<div class="col-12">
								<div class="all-articles">
									<h6 class="mn-0">Latest Articles</h6>
                                    {{ partial "arrow/text.html" (dict
										"link" "/insights/"
										"text" "<h3>All insights</h3>"
										"title" "View all insights"
										"small" true
										"rotation" 45
                                    )}}
								</div>
							</div>
						</div><!-- /Row -->
						<div class="row">
                            {{ range $index, $page := . }}
                                {{ $isLeft := eq (mod $index 2) 0 }}
								<div class="col-12 card-col">
                                    {{ .Render "card" }}
								</div><!-- /Col -->
                            {{- end }}
						</div><!-- /Row -->
					</div><!--- /Col -->
				</div><!-- /Row -->
			</div><!-- /Container -->
		</section>
    {{- end }}
	<!-- =====================
		Banner
		===================== -->
    {{ partial "sections/banner.html" (dict
    "image" (resources.Get "images/banner/computer.jpg")
    )}}

{{ end }}
