{{ define "main" }}
	<!-- =====================
		Hero
		===================== -->
	<section class="hero hero-space-around" data-scroll-section>
		<!-- A Symbol -->
		<figure class="hero-a-symbol hero-a-symbol-right gradient gradient-height-40 animate-fade"
				data-scroll data-scroll-speed="-3">
			{{ partial "svgs/a-symbol.html" (dict
				"opacity" 0.1
				"greyscale" true
				"clip" "right"
				"class" "hero-a-symbol-container"
			)}}
		</figure>
		<!-- Content -->
		<div class="container hero-container">
			<!-- Intro -->
			<div class="row hero-row" data-scroll data-scroll-speed="2" data-scroll-position="top">
				<div class="col-12">
					<!-- Hero Animation -->
					<div class="hero-animate">
						<!-- Heading -->
						{{ with .Params.heading -}}
						<h1>
							{{ . | safeHTML }}
						</h1>
						{{- else -}}
							{{ warnf "No heading param provided to page: %s" .RelPermalink }}
						{{- end }}
						<!-- Lead -->
						<p class="lead lead-max-width hero-lead">
							We offer a wide range of services, from UI/UX design to website development. Specialising in
							software development and API integration, we deliver expertly designed solutions to any digital
							obstacle.
						</p>
						<!-- Actions -->
						<div>
							{{ partial "components/button.html" (dict
								"text" "Get to know me"
								"link" "https://ainsley.dev"
								"colour" "white"
								"size" "small"
								"title" "Visit ainsley.dev"
							)}}
							{{ partial "components/button.html" (dict
								"text" "Visit ainsley.dev"
								"link" "https://ainsley.dev"
								"colour" "black"
								"size" "small"
								"title" "Visit ainsley.dev"
							)}}
						</div>
					</div>
				</div><!-- /Col -->
			</div><!-- /Row -->
			<!-- Logos -->
			<div class="row" data-scroll data-scroll-speed="3" data-scroll-position="top">
				<div class="col-12">
					<span class="heading-6 margin animate-fade" data-animate-no-touch>
						Trusted By
					</span>
					<div class="hero-logos">
						{{ partial "components/logos.html" . }}
					</div>
				</div><!-- /Col -->
			</div><!-- /Row -->
		</div><!-- /Container -->
	</section>
	<!-- =====================
		Bio
		===================== -->
	{{ with .Params.bio }}
		{{ partial "sections/image-split.html" (dict
			"title"   "Hello"
			"content" .content
			"image" (resources.GetMatch .image)
			"left"    false
			"isLast" false
			"class" "section-padding"
		)}}
	{{- end }}
	<!-- =====================
		Conferences
		===================== -->
	{{ $conferences := where site.RegularPages "Section" "conferences" }}
	{{ with $conferences }}
		<section class="section section-padding section-padding-bottom" data-scroll-section>
			<div class="container">
				<div class="row justify-content-between">
					<!-- Heading -->
					<div class="col-12 col-mob-2" data-scroll data-scroll-speed="2">
						{{ partial "type/vertical.html" (dict
							"text" "Media"
							"number" "02"
							"line" true
							"fill" false
						)}}
					</div><!-- /Col -->
					<!-- Pages -->
					<div class="col-12 col-mob-9">
						{{ range . }}
							{{ .Render "card" }}
						{{ end }}
					</div><!-- /Col -->
				</div><!-- /Row -->
			</div>
		</section>
	{{ end }}
	<!-- =====================
		Core Competencies
		===================== -->
	{{ with .Params.skills -}}
		{{ partial "sections/features.html" (dict
			"items"  .
			"title"   "Competencies"
			"textNumber" "02"
			"id"      "skills"
			"class"   "section section-padding section-padding-bottom animate-fade"
		)}}
	{{- end }}
	<!-- =====================
		Insights
		===================== -->
	{{- $insights :=  (where .Site.RegularPages "Type" "insights").ByDate.Reverse | first 4 -}}
	{{ with $insights }}
		<section class="section section-padding section-padding-bottom">
			<div class="container">
				<div class="row justify-content-between">
					<!-- Heading -->
					<div class="col-12 col-mob-2" data-scroll data-scroll-speed="2">
						{{ partial "type/vertical.html" (dict
							"text" "Insights"
							"number" "05"
							"line" true
							"fill" false
						)}}
					</div><!-- /Col -->
					<!-- Content -->
					<div class="col-12 col-mob-9">
						<div class="row no-gaps">
							<!-- TODO: There's a d-none here as we don't have other articles to link too -->
							<!-- All Articles - Large -->
							<div class="col-12 all-articles all-articles-border all-articles-large d-none">
								<div class="all-articles-wrapper">
									<span class="heading-6 all-articles-sub">
										Latest Articles
									</span>
									{{ partial "arrow/text.html" (dict
										"link" "/insights/"
										"text" "<span class='heading-3'>All insights</span>"
										"title" "View all insights"
										"small" true
										"rotation" 45
									)}}
								</div><!-- /Wrapper -->
							</div><!-- /Col -->
							<!-- All Articles - Small -->
							<div class="col-12 all-articles all-articles-border all-articles-small d-none">
								<div class="all-articles-wrapper">
									<h6 class="all-articles-sub">
										Latest Articles
									</h6>
									{{ partial "arrow/text.html" (dict
										"link" "/insights/"
										"text" "<span class='heading-2'>All insights</span>"
										"title" "View all insights"
										"small" true
										"rotation" 45
									)}}
								</div><!-- /Wrapper -->
							</div><!-- /Col -->
							<!-- Cards -->
							{{ range $index, $page := . }}
								<div class="col-12 card-col {{ if eq $index 0 }} card-col-first {{- end }} animate-fade"
									 data-animate-no-touch>
									{{ .Render "card" }}
								</div><!-- /Col -->
							{{- end }}
						</div><!-- /Row -->
					</div><!--- /Col -->
				</div><!-- /Row -->
			</div><!-- /Container -->
		</section>
	{{- end }}
	<!-- =====================
		Quote
		===================== -->
	{{ with .Params.quote -}}
		{{ partial "sections/quote.html" (dict
			"text" .text
			"cite" .person
			"class" "bg-grey-light"
		)}}
	{{- end }}
	<!-- =====================
		Form
		===================== -->
	{{ partial "sections/form.html" (dict
		"dark" true
		"class" "section section-padding animate-up"
		"placeholder" "Hey Ainsley..."
	)}}
{{ end }}
