{{ define "main" }}
	<!-- =====================
		Hero
		===================== -->
	<section class="hero hero-simple hero-simple-padding-bottom" data-scroll-section>
		<div class="container">
			<div class="row justify-content-between" data-scroll data-scroll-speed="0">
				<div class="col-12 col-tab-10">
					<!-- Hero Animation -->
					<div class="hero-animate">
						<!-- Content -->
						<div class="margin-large">
							{{ with .Params.heading -}}
								<h1>
									{{ . | safeHTML }}
								</h1>
							{{ else -}}
								{{ warnf "No heading param provided to page: %s" .RelPermalink }}
							{{- end }}
							<!-- Lead -->
							<p class="lead text-animate-lead" style="max-width: 700px;">
								{{ with .Params.lead -}}
									{{ . | safeHTML }}
								{{ else -}}
									{{ warnf "No lead param provided to page: %s" .RelPermalink }}
								{{- end }}
							</p>
						</div>
						<!-- Buttons -->
						<div class="hero-buttons">
							{{ partial "components/button.html" (dict
								"colour" "white"
								"link" "#bio"
								"text" "Explore"
								"title" "Scroll down to explore"
							)}}
							{{ partial "components/button.html" (dict
								"colour" "grey"
								"link" "https://ainsley.dev"
								"text" "Visit ainsley.dev"
								"title" "Scroll down to explore"
							)}}
						</div>
					</div><!-- /Hero Animation -->
				</div><!-- /Col -->
				<!-- Rule -->
				<div class="col-2 d-flex justify-content-desk-end">
					<hr class="rule rule-medium d-none d-desk-block m-0"
						data-scroll data-scroll-speed="1" data-scroll-direction="horizontal" width="70%" />
				</div>
			</div><!-- /Row -->
		</div><!-- Container -->
		<!-- Carousel -->
		{{ $logos := resources.Match "images/logos/*.svg" }}
		{{ $images := slice }}
		{{ range $logos }}
			{{ $images = $images | append (dict "image" .Name "alt" (path.Base .Name | strings.TrimSuffix ".svg" | replace "-" " " | title)) }}
		{{ end }}
		{{ partial "components/logo-carousel.html" (dict
			"ctx" .
			"images" $images
		)}}
	</section>
	<!-- =====================
		Bio
		===================== -->
	{{ with .Params.bio }}
		<section id="bio" class="bio section section-padding section-padding-bottom" data-scroll-section style="overflow-x: clip;">
			<div class="container">
				<div class="row">
					<!-- Heading -->
					<div class="col-12 col-mob-3" data-scroll data-scroll-speed="2">
						{{ partial "type/vertical.html" (dict
							"text" "Bio"
							"number" "01"
							"line" true
							"fill" false
						)}}
					</div><!-- /Col -->
					<!-- Content -->
					<div class="col-12 col-mob-9 col-desk-7 col-desk-large-6">
						<picture class="image animate-up animate-fade-desk margin-large">
							{{ partial "media/picture.html" (dict
								"image" (resources.GetMatch .image)
								"alt" "Ainsley Clark"
								"lazy" true
							)}}
						</picture>
						<div class="margin margin-none">
							<h3>Test</h3>
							<p>At this stage, we kick off with a meeting to discover the project’s requirements and where you see yourself in the industry. We discuss what you desire, what’s lacking in your current solution, and how we can better it.</p>
							<h3>Test</h3>
							<p>Technical requirements are established for the project, and a detailed proposal (if it’s a website) or SRS (software requirement specification) is created detailing the design, templates and technical intricacies of the project.</p>
							<h3>Test</h3>
							<p>Technical requirements are established for the project, and a detailed proposal (if it’s a website) or SRS (software requirement specification) is created detailing the design, templates and technical intricacies of the project.</p>
						</div>
					</div><!-- /Col -->
					<!-- Rule -->
					<div class="col-2">
						<hr class="rule rule-medium d-none d-desk-block m-0 bio-rule"
							data-scroll data-scroll-speed="1" data-scroll-direction="horizontal" />
						<div class="d-none d-desk-block" style="transform: translate(50%, 250px) rotate(90deg)">
							<hr class="rule rule-medium d-none d-desk-block m-0 bio-rule"
								data-scroll data-scroll-speed="1" data-scroll-direction="horizontal"  />
						</div>
					</div><!-- /Col -->
				</div><!-- /Row -->
			</div><!-- /Col -->
		</section>
	{{- end }}
	<!-- =====================
		Conferences
		===================== -->
	{{ $conferences := where site.RegularPages "Section" "conferences" }}
	{{ with $conferences }}
		<section id="media" class="section section-padding section-padding-bottom" data-scroll-section>
			<div class="container">
				<div class="row justify-content-between">
					<!-- Heading -->
					<div class="col-12 col-mob-2" data-scroll data-scroll-speed="2">
						{{ partial "type/vertical.html" (dict
							"text" "Media"
							"number" "02"
							"line" true
						)}}
					</div><!-- /Col -->
					<!-- Pages -->
					<div class="col-12 col-mob-9">
						<div class="conferences">
							{{ range . }}
								{{ .Render "card" }}
							{{ end }}
						</div>
					</div><!-- /Col -->
				</div><!-- /Row -->
			</div>
		</section>
	{{ end }}
	<!-- =====================
		Core Competencies
		===================== -->
	{{ with .Params.skills -}}
		{{ partial "sections/features.html" (dict
			"items"  .
			"title"   "Competencies"
			"textNumber" "03"
			"id"      "skills"
			"class"   "section-padding section-padding-bottom animate-fade"
		)}}
	{{- end }}
	<!-- =====================
		Insights
		===================== -->
	{{ $insights :=  (where .Site.RegularPages "Type" "insights").ByDate.Reverse | first 4 -}}
	{{ with $insights }}
		<section class="section section-padding section-padding-bottom">
			<div class="container">
				<div class="row justify-content-between">
					<!-- Heading -->
					<div class="col-12 col-mob-2" data-scroll data-scroll-speed="2">
						{{ partial "type/vertical.html" (dict
							"text" "Insights"
							"number" "04"
							"line" true
						)}}
					</div><!-- /Col -->
					<!-- Content -->
					<div class="col-12 col-mob-9">
						<div class="row no-gaps">
							{{ partial "components/all-articles.html" (dict
								"link" "/insights/"
								"text" "All insights"
								"title" "View all insights"
								"largeSubText" "Latest Articles"
								"smallSubText" "Latest Articles"
								"border" true
							)}}
							<!-- Cards -->
							{{ range $index, $page := . }}
								<div class="col-12 card-col {{ if eq $index 0 }} card-col-first {{- end }} animate-fade"
									 data-animate-no-touch>
									{{ .Render "card" }}
								</div><!-- /Col -->
							{{- end }}
						</div><!-- /Row -->
					</div><!--- /Col -->
				</div><!-- /Row -->
			</div><!-- /Container -->
		</section>
	{{- end }}
	<!-- =====================
		Quote
		===================== -->
	{{ with .Params.quote -}}
		{{ partial "sections/quote-carousel.html" (dict
			"class" "bg-grey-dark"
			"quotes" (slice
				(dict "text" .text "cite" .person)
			)
		)}}
	{{- end }}
	<!-- =====================
		Form
		===================== -->
	{{ partial "sections/contact.html" (dict
		"title" `Say hello and get <br class="d-none d-desk-inline" />in touch <span class="type-serif"><u>now</u>*</span>`
		"lead" "Looking to bring your vision to life? Get in touch using the form below, and we'llget in touch to discuss how we can make your project a success."
		"dark" true
		"class" "section-padding animate-up"
		"placeholder" "Hey Ainsley..."
		"id" "contact"
	)}}
	<!-- =====================
		Divider
		===================== -->
	<section>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<hr class="rule rule-thin rule-opaque my-0">
				</div><!-- /Container -->
			</div><!-- /Row -->
		</div><!-- /Container -->
	</section>
{{ end }}
