---
title: Components
weight: 7
featuredImage: images/featured.svg
---

<!-- =====================
	Components
	===================== -->
<div class="margin-large">
	<h3>Components</h3>
	<p>
		This selection of components makes up the ainsley.dev brand and are the building blocks of any material or site
		asset.
	</p>
</div>
<!-- =====================
	Buttons
	===================== -->
<div class="margin-large">
	<!-- Content -->
	<div class="margin">
		<h3>Buttons</h3>
		<p>
			Buttons should appear with an arrow next to them. If placed on a dark background, a white button should be
			used and visa versa.
		</p>
	</div><!-- /Row -->
	<!-- Buttons -->
	<div class="row">
		<div class="col-12 col-tab-6 margin mb-tab-0">
			<div class="brand-box">
				{{< partial template="components/button.html" text="A button" arrow=true >}}
			</div>
		</div><!-- /Col -->
		<div class="col-12 col-tab-6">
			<div class="brand-box brand-box-white">
				{{< partial template="components/button.html" text="A button" arrow=true colour="black" >}}
			</div>
		</div><!-- /Col -->
	</div><!-- /Row -->
</div><!-- /Buttons -->
<!-- =====================
	Tags
	===================== -->
<div class="margin-large">
	<!-- Content -->
	<div class="margin">
		<h3>Tags</h3>
		<p>
			Small tags are used for categorising content for blog posts and articles. As with buttons, they should be
			placed with the background colour in mind.
		</p>
	</div><!-- /Row -->
	<!-- Tags -->
	<div class="row">
		<div class="col-12 col-tab-6 margin mb-tab-0">
			<div class="brand-box">
				<span class="tag">SEO</span>
				<span class="tag">Javascript</span>
				<span class="tag">Front-end</span>
			</div>
		</div><!-- /Col -->
		<div class="col-12 col-tab-6">
			<div class="brand-box brand-box-white">
				<span class="tag tag-black">SEO</span>
				<span class="tag tag-black">Javascript</span>
				<span class="tag tag-black">Front-end</span>
			</div>
		</div><!-- /Col -->
	</div><!-- /Row -->
</div><!-- /Tags -->
<!-- =====================
	Arrow
	===================== -->
<div class="margin-large">
	<!-- Content -->
	<div class="margin">
		<h3>Arrow</h3>
		<p>
			Using the ainsley.dev arrow can be a convenient way to navigate the user to additional content that’s not on
			the current page. Ensure the arrow is proportionate in size to the heading and is not too large or small.
		</p>
	</div><!-- /Row -->
	<!-- Arrow -->
	<div class="row">
		<div class="col-12 col-tab-6 margin mb-tab-0">
			<div class="brand-box">
				<h3 class="arrow-text">
					Full Article
				</h3>
			</div>
		</div><!-- /Col -->
	</div><!-- /Row -->
</div><!-- /Arrow -->
<!-- =====================
	FAQs
	TODO: This will be a partial
	===================== -->
<div class="margin-large">
	<!-- Content -->
	<div class="margin">
		<h3>FAQs</h3>
		<p>
			Questions and answers should be placed in an accordion alongside the ainsley.dev arrow.
		</p>
	</div><!-- /Row -->
	<!-- Accordion -->
	<div class="accordion">
		<!-- Accordion Item -->
		<details class="accordion-item" open>
			<summary class="accordion-title">
				<h5>I’m baby umami pickled narwhal woke food truck tilde?</h5>
			</summary>
			<div class="accordion-content">
				<p>
					I’m baby umami pickled narwhal woke food truck tilde gastropub polaroid forage. Chicharrones kickstarter
					hell of, narwhal craft beer XOXO literally gluten-free. ruffaut hella live-edge squid, ramps pickled
					dreamcatcher.
				</p>
			</div>
		</details><!-- /Accordion Item -->
		<!-- Accordion Item -->
		<details class="accordion-item" open>
			<summary class="accordion-title">
				<h5>I’m baby umami pickled narwhal woke food truck tilde?</h5>
			</summary>
			<div class="accordion-content">
				<p>
					I’m baby umami pickled narwhal woke food truck tilde gastropub polaroid forage. Chicharrones kickstarter
					hell of, narwhal craft beer XOXO literally gluten-free. ruffaut hella live-edge squid, ramps pickled
					dreamcatcher.
				</p>
			</div>
		</details><!-- /Accordion Item -->
		<!-- Accordion Item -->
		<details class="accordion-item" open>
			<summary class="accordion-title">
				<h5>I’m baby umami pickled narwhal woke food truck tilde?</h5>
			</summary>
			<div class="accordion-content">
				<p>
					I’m baby umami pickled narwhal woke food truck tilde gastropub polaroid forage. Chicharrones kickstarter
					hell of, narwhal craft beer XOXO literally gluten-free. ruffaut hella live-edge squid, ramps pickled
					dreamcatcher.
				</p>
			</div>
		</details><!-- /Accordion Item -->
	</div>
</div><!-- /FAQs -->
<!-- =====================
	Cards
	===================== -->
<div class="margin-large">
	<!-- Content -->
	<div class="margin">
		<h3>Cards</h3>
		<p>
			Used to display custom types and rich pieces of content.
		</p>
	</div><!-- /Row -->
</div><!-- /Cards -->
<!-- =====================
	Margin
	===================== -->
<div class="margin-large">
	<!-- Content -->
	<div class="margin">
		<h3>Margin</h3>
		<p>
			Defines the amount of space between sections, components and text on the y axis.
		</p>
	</div><!-- /Row -->
</div><!-- /Margin -->
