---
title: Components - Brand Guidelines
heading: Components
description: Discover ainsley.dev Component Guidelines. These components makes up the ainsley.dev brand and are the building blocks of any material or site asset.
draft: false
weight: 7
featuredImage: images/featured.svg
footerNoPadding: true
sitemap:
  priority: 0.2
---

<!-- =====================
	Components
	===================== -->
<div class="margin-large">
	<h3>Components</h3>
	<p>
		This selection of components makes up the ainsley.dev brand and are the building blocks of any material or site
		asset.
	</p>
</div>
<!-- =====================
	Buttons
	===================== -->
<div class="margin-large">
	<!-- Content -->
	<div class="margin">
		<h3>Buttons</h3>
		<p>
			Buttons should appear with an arrow next to them. If placed on a dark background, a white button should be
			used and visa versa.
		</p>
	</div><!-- /Row -->
	<!-- Buttons -->
	<div class="row">
		<div class="col-12 col-tab-6 margin mb-tab-0">
			<div class="placeholder">
				{{< partial template="components/button.html" text="A button" arrow=true >}}
			</div>
		</div><!-- /Col -->
		<div class="col-12 col-tab-6">
			<div class="placeholder placeholder-white">
				{{< partial template="components/button.html" text="A button" arrow=true colour="black" >}}
			</div>
		</div><!-- /Col -->
	</div><!-- /Row -->
</div><!-- /Buttons -->
<!-- =====================
	Tags
	===================== -->
<div class="margin-large">
	<!-- Content -->
	<div class="margin">
		<h3>Tags</h3>
		<p>
			Small tags are used for categorising content for blog posts and articles. As with buttons, they should be
			placed with the background colour in mind.
		</p>
	</div><!-- /Row -->
	<!-- Tags -->
	<div class="row">
		<div class="col-12 col-tab-6 margin mb-tab-0">
			<div class="placeholder">
				{{< partial template="components/tag.html" text="SEO" >}}
				{{< partial template="components/tag.html" text="Javascript" >}}
                {{< partial template="components/tag.html" text="Front-end" >}}
			</div>
		</div><!-- /Col -->
		<div class="col-12 col-tab-6">
			<div class="placeholder placeholder-white">
				{{< partial template="components/tag.html" text="SEO" colour="black" >}}
				{{< partial template="components/tag.html" text="Javascript" colour="black" >}}
				{{< partial template="components/tag.html" text="Front-end" colour="black" >}}
			</div>
		</div><!-- /Col -->
	</div><!-- /Row -->
</div><!-- /Tags -->
<!-- =====================
	Arrow
	===================== -->
<div class="margin-large">
	<!-- Content -->
	<div class="margin">
		<h3>Arrow</h3>
		<p>
			Using the ainsley.dev arrow can be a convenient way to navigate the user to additional content that’s not on
			the current page. Ensure the arrow is proportionate in size to the heading and is not too large or small.
		</p>
	</div><!-- /Row -->
	<!-- Arrow -->
	<div class="row">
		<div class="col-12 margin mb-tab-0">
			<div class="placeholder">
				{{< partial template="arrow/text.html" link="/brand/components/" small="true" text="<h2>Full article</h2>" title="Read the full article" rotation=45 >}}
			</div>
		</div><!-- /Col -->
	</div><!-- /Row -->
</div><!-- /Arrow -->
<!-- =====================
	FAQs
	===================== -->
<div class="margin-large">
	<!-- Content -->
	<div class="margin">
		<h3>FAQs</h3>
		<p>
			Questions and answers should be placed in an accordion alongside the ainsley.dev arrow.
		</p>
	</div><!-- /Row -->
	<!-- Accordion -->
	{{< accordion/wrapper >}}
		{{< accordion/item title="I’m baby umami pickled narwhal woke food truck tilde?" >}}
			I’m baby umami pickled narwhal woke food truck tilde gastropub polaroid forage. Chicharrones kickstarter hell of, narwhal craft beer XOXO literally gluten-free. ruffaut hella live-edge squid, ramps pickled dreamcatcher.
		{{< /accordion/item >}}
		{{< accordion/item title="I’m baby umami pickled narwhal woke food truck tilde?" >}}
			I’m baby umami pickled narwhal woke food truck tilde gastropub polaroid forage. Chicharrones kickstarter hell of, narwhal craft beer XOXO literally gluten-free. ruffaut hella live-edge squid, ramps pickled dreamcatcher.
		{{< /accordion/item >}}
		{{< accordion/item title="I’m baby umami pickled narwhal woke food truck tilde?" >}}
			I’m baby umami pickled narwhal woke food truck tilde gastropub polaroid forage. Chicharrones kickstarter hell of, narwhal craft beer XOXO literally gluten-free. ruffaut hella live-edge squid, ramps pickled dreamcatcher.
		{{< /accordion/item >}}
	{{< /accordion/wrapper >}}
</div><!-- /FAQs -->
<!-- =====================
	Margin
	===================== -->
<div class="margin-none">
	<!-- Content -->
	<div class="margin">
		<h3>Margin</h3>
		<p>
			Defines the amount of space between sections, components and text on the y axis.
		</p>
	</div><!-- /Row -->
	<!-- Arrow -->
	<div class="row">
		<div class="col-12">
			<!-- Section -->
			<div class="placeholder placeholder-auto-height margin">
				<div class="section-padding">
					<p class="c-white">Section padding</p>
				</div>
			</div>
			<!-- Large -->
			<div class="placeholder placeholder-auto-height placeholder-margin-large margin">
				<p class="c-white">Margin large</p>
			</div>
			<!-- Regular -->
			<div class="placeholder placeholder-auto-height placeholder-margin-regular">
				<p class="c-white mb-0">Margin regular</p>
			</div>
		</div><!-- /Col -->
	</div><!-- /Row -->
</div><!-- /Margin -->
