// -----------------------------------------------------------------------------
// _skew.scss
// This file contains all styles related to the skew animation.
// -----------------------------------------------------------------------------

.skew {
	$self: &;
	// Bug fix,
	// See: https://stackoverflow.com/questions/43075089/safari-css-transform-3d-rotation-glitch
	z-index: 1;
	transform-style: preserve-3d;
	backface-visibility: hidden;
	will-change: transform;
}

// Touch Screen
// =========================================================================

@include touch {
	.skew {
		transform: none !important;
	}
}
