<!-- =====================
    Button
    	partial "components/button.html" (dict "text" "Download" "link" "files.zip" "arrow" true "colour" "white" "attr" "download")
    	- text: 		The text to appear within side the button.
    	- colour: 		The colour of the button, defaults to foreground.
    	- link: 		If the button should be an <a> tag.
    	- arrow: 		If an arrow should appear with the button.
    	- attributes: 	Any additional classnames or attributes to appear.
    ===================== -->
{{ if .link -}}
	<a href="{{ .link }}" class="btn
			btn-colour-{{ with .colour -}} {{ . }} {{- end }}
	   		{{ if .arrow -}} btn-arrow {{- end}}"
            {{ .attr  | safeHTMLAttr }}>
		<!-- Wrapper -->
		<div class="btn-wrapper">
			<!-- Text -->
            {{ with .text -}}
				<span class="btn-text">
		 			{{ . }}
				</span>
            {{- end }}
			<!-- Arrow -->
            {{ if .arrow }}
                {{ partial "images/arrow.html" (dict "colour" "var(--colour-black)" "rotation" "90" "stroke" 3 "class" "btn-arrow-image btn-arrow-left") }}
                {{ partial "images/arrow.html" (dict "colour" "var(--colour-black)" "rotation" "90" "stroke" 3 "class" "btn-arrow-image btn-arrow-right") }}
            {{- end }}
		</div><!-- /Wrapper -->
	</a>
{{- else -}}
	<button class="btn
			btn-colour-{{ with .colour -}} {{ . }} {{- end }}
	   		{{ if .arrow -}} btn-arrow {{- end}}"
            {{ .attr | safeHTMLAttr }}>
		<!-- Wrapper -->
		<div class="btn-wrapper">
			<!-- Text -->
            {{ with .text -}}
				<span class="btn-text">
		 			{{ . }}
				</span>
            {{- end }}
			<!-- Arrow -->
            {{ if .arrow }}
                {{ partial "images/arrow.html" (dict "colour" "var(--colour-black)" "rotation" "90" "stroke" 3 "class" "btn-arrow-image btn-arrow-left") }}
                {{ partial "images/arrow.html" (dict "colour" "var(--colour-black)" "rotation" "90" "stroke" 3 "class" "btn-arrow-image btn-arrow-right") }}
            {{- end }}
		</div><!-- /Wrapper -->
	</button>
{{- end }}
