// -----------------------------------------------------------------------------
// _variables.scss
// This file contains all variables for use with scss files.
// -----------------------------------------------------------------------------

// Grid
// ==========================================================================

// Columns
$grid-columns: 12;
$gap-width: 15px;

// Breakpoints
$grid-breakpoint-mob: 568;
$grid-breakpoint-tab: 768;
$grid-breakpoint-desk: 1024;
$grid-breakpoint-desk-large: 1408;
$grid-breakpoint-hd: 1600;

// Properties for rid
$grid-properties: (
	"": 0,
	"-mob": $grid-breakpoint-mob,
	"-tab": $grid-breakpoint-tab,
	"-desk": $grid-breakpoint-desk,
	"-hd": $grid-breakpoint-hd
) !default;

// Container
$container-max-width: 1450px;
$container-padding-x: 5vw;

// Fonts
// ==========================================================================

$font: "Plus Jakarta Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-serif: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
$font-code: "JetBrains Mono" ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
$font-path: "/fonts/";

// Display
// ==========================================================================

$display-properties: (none, inline, inline-block, block, flex, inline-flex, table, table-row, table-cell) !default;

// Color
// ==========================================================================

$white: #FFF;
$black: #0A0A0A;
$orange: #FF5043;
$blue: #70CBCE;
$copy: $black;
$copy-dark-bg: #9A9A9A; // Fossil
$copy-light-bg: #595959; // Iron

:root {
	// Colour
	--colour-background: #{$black};
	--colour-foreground: #{$white};
	--colour-black: #{$black};
	--colour-white: #{$white};
	--colour-orange: #{$orange};
	--colour-blue: #{$blue};
	--colour-copy: #{$copy};
	--colour-copy-dark: #{$copy-dark-bg};
	--colour-copy-light: #{$copy-light-bg};
	// Type
	// Links
	--link-hover-colour: #{$blue};
}

// Color palette
$palette: (
	white: $white,
	black: $black,
	orange: $orange,
	blue: $blue,
	copy: $copy
);

// Color attributes
$color-attr: (
	c: "color",
	bg: "background-color"
);

// Sections
// =========================================================================

$section-padding: (
	mob: 80px,
	tab: 120px,
	desk: 160px,
	hd: 200px
);
$section-padding-divider: 3;

// Header
// =========================================================================

$header-height: 80px;
$header-padding-mob-x: 20px;
$header-padding-x: 30px;
$header-logo-size: 115px;

// Nav
// =========================================================================

$nav-mob-bg-color: $white;
$nav-transition-time: 700ms;
$nav-arrow-size: 18px;

// Text
// ==========================================================================

$text-cont-margin-mob: 1rem;
$text-cont-margin-tab: 1.2rem;
$text-cont-margin: 1.4rem;
