<!-- =====================
    Box Link
    	partial "components/box-links.html" (dict
    		"link" "/guidelines"
			"heading" "Something"
			"sub" "Something"
			"left" true
			"title" "Navigate to..."
    	)
    	- link: 	The href link, this must be passed.
    	- heading: 	The main heading of the link
    	- class:	The sub text that appears above the link.
    	- left:		If the box appears on the left.
    	- title:	The title & aria label of the link.
    ===================== -->
{{ if .link -}}
	<a class="box-link {{ if .left -}} box-link-left {{- end }}"
		href="{{ .link }}"
        {{ with .title -}} title="{{ . }}" aria-label="{{ . }}" {{- end }}>
		<!-- Text -->
		<div class="box-link-text">
			<!-- Sub -->
			{{ with .sub -}}
				<small class="box-link-sub">
					{{ . }}
				</small>
			{{- end }}
			<!-- Heading -->
			{{ with .heading }}
				<span class="box-link-heading">
					{{ . }}
				</span>
			{{- end }}
		</div>
		<!-- Arrow -->
		<figure class="box-link-arrow">
            {{ partial "svgs/arrow.html" (dict
				"rotation" 90
				"colour" "black"
				"stroke" 1
            )}}
		</figure>
	</a>
{{- else -}}
	{{ warnf "No link provided to box link" }}
{{- end }}
