<!-- =====================
    Button
    	partial "components/carousel.html" (dict
    		"ctx" .
    		"images" (slice
				(dict
					"image" "image.jpg"
					"alt" "Alt text"
				)
			)
			"hasLinks" true
    	)
    	- ctx: 			The context of the page.
    	- images: 		Key, value a pair of images and alt text.
    	- hasLinks:		If the carousel images has links attached to them.
    ===================== -->
{{ define "partials/carousel-item.html" -}}
	<div class="carousel-item-container" data-scroll data-scrol-speed="{{ mul .index 1 }}">
		{{ $isLink := (isset .item "link") -}}
		{{ if $isLink -}}
			<a class="carousel-item carousel-item-link" href="{{ .item.link }}" target="_blank">
		{{- else }}
			<div class="carousel-item">
		{{- end }}
            {{ partial "media/picture.html" (dict
				"image" (.ctx.Resources.GetMatch .item.image)
				"alt" .item.alt
				"lazy" false
				"class" "carousel-image"
            )}}
		{{ if $isLink -}}
			</a>
		{{- else }}
			</div>
		{{- end }}
	</div>
{{- end }}
{{ with .images }}
	{{ $length := len . }}
	<div class="carousel-container">
		<div class="carousel {{ if $.hasLinks -}} carousel-has-links {{- end }}"
			data-carousel-length="{{ $length }}">
			<style>
				@keyframes scroll {
					0% {
						transform: translateX(0);
					}
					100% {
						transform: translateX(calc(-1 * clamp(320px, 80vw, 570px) * {{ $length }}));
					}
				}
				.carousel-item {
					animation: scroll {{ mul $length 3 }}s linear infinite;
				}
			</style>
			<!-- Original -->
			{{ range $index, $item := . }}
				{{ partial "carousel-item.html" (dict
					"ctx" $.ctx
					"item" $item
					"index" $index
				)}}
			{{- end }}
			<!-- Repeat -->
			{{ range $index, $item := . }}
				{{ partial "carousel-item.html" (dict
					"ctx" $.ctx
					"item" $item
					"index" $index
				)}}
			{{- end }}
		</div>
	</div>

{{- end }}
