// -----------------------------------------------------------------------------
// _scroll.scss
// This file contains scroll animations.
// -----------------------------------------------------------------------------

.scroll {
	$self: &;
	opacity: 1;
	transition: transform 300ms ease, opacity 300ms ease;
	will-change: transform, opacity;
}

// HTML Scrolled
// =========================================================================

@include media-desk {
	html.scrolled .scroll {
		opacity: 0;
		transform: translateY(-50px);
	}
}
