// -----------------------------------------------------------------------------
// _toast.scss
// This file contains all styles related to the toast component.
// -----------------------------------------------------------------------------

.toastify {
	position: fixed;
	display: inline-flex;
	align-items: center;
	max-width: 80vw;
	padding: $toast-padding;
	background-color: colour('foreground');
	color: colour('background');
	border-radius: $toast-border-radius;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
	z-index: $header-z-index + 1000;
	opacity: 0;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
	will-change: transform, opacity;

	// Close
	// =========================================================================

	&-close {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		height: 0;
		opacity: 1;
		margin-left: 10px;
		color: colour('background');
		font-size: 1.6rem;
		line-height: 0;
		transform: translateY(-3px);
	}

	// Colour
	// =========================================================================

	&-black {
		background-color: $black !important;
		color: $white !important;
	}

	&-white {
		background-color: $white !important;
		color: $black !important;
	}

	// Props
	// =========================================================================

	&.on {
		opacity: 1;
	}

	&-right {
		right: 5vw;
	}

	&-left {
		left: 5vw;
	}

	&-top {
		top: -150px;
	}

	&-bottom {
		bottom: -150px;
	}

	.toast-close {
		display: none;
	}

	// Desktop
	// =========================================================================

	@include media-desk {
		max-width: 450px;
	}
}
