@font-face {
    font-family: 'JetBrains Mono';
    src: local('JetBrains Mono Bold Italic'), local('JetBrainsMono-BoldItalic'),
        url('JetBrainsMono-BoldItalic.woff2') format('woff2'),
        url('JetBrainsMono-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: local('JetBrains Mono Italic'), local('JetBrainsMono-Italic'),
        url('JetBrainsMono-Italic.woff2') format('woff2'),
        url('JetBrainsMono-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: local('JetBrains Mono ExtraLight Italic'), local('JetBrainsMono-ExtraLightItalic'),
        url('JetBrainsMono-ExtraLightItalic.woff2') format('woff2'),
        url('JetBrainsMono-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: local('JetBrains Mono Medium Italic'), local('JetBrainsMono-MediumItalic'),
        url('JetBrainsMono-MediumItalic.woff2') format('woff2'),
        url('JetBrainsMono-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: local('JetBrains Mono Light Italic'), local('JetBrainsMono-LightItalic'),
        url('JetBrainsMono-LightItalic.woff2') format('woff2'),
        url('JetBrainsMono-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: local('JetBrains Mono ExtraLight'), local('JetBrainsMono-ExtraLight'),
        url('JetBrainsMono-ExtraLight.woff2') format('woff2'),
        url('JetBrainsMono-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: local('JetBrains Mono Light'), local('JetBrainsMono-Light'),
        url('JetBrainsMono-Light.woff2') format('woff2'),
        url('JetBrainsMono-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: local('JetBrains Mono ExtraBold Italic'), local('JetBrainsMono-ExtraBoldItalic'),
        url('JetBrainsMono-ExtraBoldItalic.woff2') format('woff2'),
        url('JetBrainsMono-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: local('JetBrains Mono Bold'), local('JetBrainsMono-Bold'),
        url('JetBrainsMono-Bold.woff2') format('woff2'),
        url('JetBrainsMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: local('JetBrains Mono ExtraBold'), local('JetBrainsMono-ExtraBold'),
        url('JetBrainsMono-ExtraBold.woff2') format('woff2'),
        url('JetBrainsMono-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: local('JetBrains Mono Medium'), local('JetBrainsMono-Medium'),
        url('JetBrainsMono-Medium.woff2') format('woff2'),
        url('JetBrainsMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: local('JetBrains Mono SemiBold Italic'), local('JetBrainsMono-SemiBoldItalic'),
        url('JetBrainsMono-SemiBoldItalic.woff2') format('woff2'),
        url('JetBrainsMono-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: local('JetBrains Mono Regular'), local('JetBrainsMono-Regular'),
        url('JetBrainsMono-Regular.woff2') format('woff2'),
        url('JetBrainsMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: local('JetBrains Mono Thin'), local('JetBrainsMono-Thin'),
        url('JetBrainsMono-Thin.woff2') format('woff2'),
        url('JetBrainsMono-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: local('JetBrains Mono Thin Italic'), local('JetBrainsMono-ThinItalic'),
        url('JetBrainsMono-ThinItalic.woff2') format('woff2'),
        url('JetBrainsMono-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: local('JetBrains Mono SemiBold'), local('JetBrainsMono-SemiBold'),
        url('JetBrainsMono-SemiBold.woff2') format('woff2'),
        url('JetBrainsMono-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

