<!-- =====================
    A Symbol 3D
    ainsley.dev and the ainsley.dev logo are either registered trademarks or trademarks of ainsley.dev
 	LTD in the United Kingdom and/or other countries. All other trademarks are the property of their respective owners.
    ===================== -->
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1550.38 1399.5">
	<defs>
		<style>
			.cls-1 {
				fill: url(#linear-gradient);
				isolation: isolate;
				opacity: .57;
			}
			.cls-2 {
				fill: #ef4639;
			}

			.cls-3 {
				fill: #8ed5e2;
			}

			.cls-4 {
				fill: #2a494a;
			}

			.cls-5 {
				fill: #4e1d19;
			}
		</style>
		<linearGradient id="linear-gradient" x1="-182.68" y1="1101.17" x2="-183.23" y2="1100.71" gradientTransform="translate(169292.79 1541284.16) scale(921.92 -1399.5)" gradientUnits="userSpaceOnUse">
			<stop offset="0" stop-color="#010101"/>
			<stop offset=".09" stop-color="#010101" stop-opacity=".91"/>
			<stop offset="1" stop-color="#010101" stop-opacity="0"/>
		</linearGradient>
	</defs>
	<g id="Shadow">
		<path id="Right" class="cls-3" d="m980.33,269.84l507,1129.03h-330.08L679.78,269.84"/>
		<path id="Left" class="cls-2" d="m564.19,270.47L57.19,1399.5h330.08L864.73,270.47"/>
		<polygon id="Clip" class="cls-3" points="775.19 346.98 772.39 488.83 803.78 414.6 775.19 346.98"/>
	</g>
	<g id="Main">
		<path id="Orange" class="cls-5" d="m921.92,0h-293.47L0,1399.5h330.08L921.92,0Z"/>
		<path id="Shadow-2" data-name="Shadow" class="cls-1" d="m921.92,0h-293.47L0,1399.5h330.08L921.92,0Z"/>
		<path id="Blue" class="cls-4" d="m628.45,0h293.47l628.45,1399.5h-330.08L628.45,0Z"/>
	</g>
</svg>
