<!-- =====================
    GitHub
		partial "svgs/github.html" (dict "colour" "white")
		- colour:	The colour of the link, defaults to foreground.
    ===================== -->
{{ $colour := partial "util/_get-colour.html" .colour }}
<svg xmlns="http://www.w3.org/2000/svg"
	 width="18.34"
	 height="18.323"
	 viewBox="0 0 18.34 18.323">
	<g transform="translate(-1.245 -1.255)">
		<path d="M10,11.258a4.208,4.208,0,0,0,6.346.454L18.87,9.188a4.208,4.208,0,1,0-5.95-5.95l-1.447,1.44"
			  transform="translate(-1.268)"
			  fill="none"
			  stroke="{{ $colour }}"
			  stroke-linecap="round"
			  stroke-linejoin="round"
			  stroke-width="1.5"/>
		<path d="M12.1,10.682a4.208,4.208,0,0,0-6.346-.454L3.228,12.753a4.208,4.208,0,1,0,5.95,5.95l1.439-1.44"
			  transform="translate(0 -1.107)"
			  fill="none"
			  stroke="{{ $colour }}"
			  stroke-linecap="round"
			  stroke-linejoin="round"
			  stroke-width="1.5"/>
	</g>
</svg>
