name: Lint Typescript

on:
    workflow_dispatch:
    pull_request:
        branches: [ main ]

jobs:
    lint:
        name: Lint Typescript
        runs-on: ubuntu-latest
        steps:
            # Step 1 - Checks-out your repository under $GITHUB_WORKSPACE
            -   name: Checkout
                uses: actions/checkout@v3
                with:
                    fetch-depth: 0

            # Step 2 - Setup pnpm
            -   name: Setup pnpm
                uses: pnpm/action-setup@v4

            # Step 3 - Install dependencies
            -   name: Install dependencies
                run: pnpm install

            # Step 4 - Run ESLint
            -   name: Lint
                run: pnpm lint:js
