name: Test

on:
    workflow_dispatch:
    pull_request:
        branches: [ main ]

jobs:
    test:
        name: Test
        runs-on: ubuntu-latest
        strategy:
            matrix:
                go-version: [ 1.26.x ]
        steps:
            # Step 1 - Checks-out your repository under $GITHUB_WORKSPACE
            -   name: Checkout
                uses: actions/checkout@v3
                with:
                    fetch-depth: 0

            # Step 2 - Install Go on the runner
            -   name: Install Go
                uses: actions/setup-go@v5
                with:
                    go-version: ${{ matrix.go-version }}

            # Step 3 - Setup pnpm
            -   name: Setup pnpm
                uses: pnpm/action-setup@v4

            # Step 4 - Install dependencies
            -   name: Install dependencies
                run: pnpm install

            # Step 5 - Test
            -   name: Test
                run: pnpm test

            # Step 4 - Upload to Codecov
            -   name: Upload coverage to Codecov
                uses: codecov/codecov-action@v3
                with:
                    token: ${{ secrets.CODECOV_TOKEN }}
                    file: ./coverage.out

            # Step 5 - Run git diff
            -   name: Diff
                run: git diff
