<!-- =====================
    Accordion
    	< accordion/item title="Title" content="Content" >
    ===================== -->
<details class="accordion-item" open>
	<!-- Title -->
	<summary class="accordion-header">
        {{ with .Get "title" -}}
			<h5 class="accordion-title">{{ . | safeHTML }}</h5>
		{{- else -}}
			{{- warnf "No title provided to accordion item" -}}
		{{- end }}
	</summary><!-- /Title -->
	<!-- Content -->
	<div class="accordion-content">
		{{ with .Get "content" -}}
			<p>{{ . | safeHTML }}</p>
        {{- else -}}
            {{- warnf "No content provided to accordion item" -}}
        {{- end }}
	</div><!-- /Content -->
</details><!-- /Accordion Item -->
